<div class="table-container">
    <div class="top">
        <input class="w3-input w3-border" type="text" placeholder="Recherche" ng-disabled="!searchable" ng-keyup="search($event)">
        <button class="w3-btn icon" onclick="openAddClientModal()"><span style="font-size: 22px;"
                class="material-icons-outlined">person_add</span>&nbsp;&nbsp;Création</button>
    </div>
    <div>
        <div class="w3-responsive" style="height: calc(100vh - 252px); overflow-x: hidden;">
            <table class="w3-table-all" style="width: calc(100% - 0.5px);">
                <thead>
                    <tr>
                        <th style="width: 130px;">N° dossier</th>
                        <th style="width: 280px;">Nom</th>
                        <th style="width: 210px;">Prénom</th>
                        <th style="width: 140px;">Téléphone</th>
                        <th>Courriel</th>
                        <th style="width: 155px;">Infos</th>
                        <th style="width: 160px;" class="w3-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients track by $index">
                        <td>
                            <a href="/#/myapp/info?id={{client._id}}">
                                {{client.signaletique.numero_de_dossier}}
                            </a>
                        <td>
                            <a href="/#/myapp/info?id={{client._id}}">
                                {{client.signaletique.contribuable.nom}}
                            </a>
                        </td>
                        <td>{{client.signaletique.contribuable.prenom}}</td>
                        <td>{{client.signaletique.contribuable.telephone}}</td>
                        <td>
                            <a href="mailto:{{client.signaletique.contribuable.courriel}}?subject=IMPOTS 2019">{{client.signaletique.contribuable.courriel}}</a>
                        </td>
                        <td></td>
                        <td style="width: 50px;" class="w3-center">
                            <div style="display: flex; gap: 10px; justify-content: center;">
                                <span title="Supprimer" style="cursor: pointer;" id="{{client}}" onclick="$('#clientDeleteModal').show();" ng-click="deleteAction($event)" class="w3-text-red material-icons">
                                    delete
                                </span>
                                <a title="PDF" target="_blank" href="../api/pdf/{{client._id}}">
                                    <img style="height: 20px; width: 20px; margin-top: 3px;" src="img/pdf.svg" />
                                </a>
                                <a title="Word" href="#">
                                    <img style="height: 23px; width: 23px; margin-top: 2px;" src="img/docx2.svg" />
                                </a>
                                <a title="Excel" href="#">
                                    <img style="height: 23px; width: 23px; margin-top: 2px;" src="img/excel2.svg" />
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="loadingClients">
                        <td colspan="11">
                            <div style="text-align: center; padding: 4px 8px; font-size: 16px;">Chargement...</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Client Delete Modal -->
<div id="clientDeleteModal" class="w3-modal">
    <form ng-submit="deleteClient()" class="w3-modal-content w3-animate-right w3-card-4">
        <div class="content-c" style="height: 35px;">
            <div>Suppression du client</div>
            <div class="close" onclick="$('#clientDeleteModal').hide();">
                <img src="img/close.svg" height="15" width="15">
            </div>
        </div>
        <div class="flex" style="margin-top: 20px;">
            <div style="margin-left: 20px;">
                <span style="font-size: 28px; margin-top: 8px;" class="material-icons-outlined">person_add_disabled</span>
            </div>
            <div class="w3-container" style="margin-left: 12px; margin-right: 15px;">
                <p style="font-weight: bold;">{{onDelete.signaletique.contribuable.nom}} {{onDelete.signaletique.contribuable.prenom}}</p>
                <p>Voulez-vous vraiment supprimer le client ?</p>
            </div>
        </div>
        <div class="w3-container footer">
            <p style="text-align: right;">
                <button type="submit" class="w3-btn">Oui</button>
                <button type="reset" onclick="$('#clientDeleteModal').hide();" class="w3-btn">Non</button>
            </p>
        </div>
    </form>
</div>