<a onclick="navPage(1, this)" class="np1 w3-bar-item w3-button w3-padding-8"><span class="material-icons" style="color: green;filter: brightness(1.2);">verified_user</span><label>Identification</label></a>
<a onclick="navPage(2, this)" class="np2 w3-bar-item w3-button w3-padding-8"><span class="material-icons" style="color: #25C1A0;filter: brightness(1.2);">verified_user</span><label>Enfants</label></a>
<a onclick="navPage(3, this)" class="np3 w3-bar-item w3-button w3-padding-8"><span class="material-icons" style="color: blue;filter: brightness(1.2);">verified_user</span><label>Etat civil /
    Non-résidents</label></a>
<a onclick="navPage(4, this)" class="np4 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Options en
    matière d’imposition collective et individuelle</label></a>
<a onclick="navPage(5, this);$('html, body').animate({
    scrollTop: 0
    }, 500)" class="np5 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Bénéfice
    commercial</label></a>
<a onclick="navPage(5, this);$('html, body').animate({
    scrollTop: $('#part5-2').offset().top
    }, 500)" class="np5 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Bénéfice
    agricole et forestier</label></a>
<a onclick="navPage(6, this)" class="np6 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Bénéfice
    profession libérale</label></a>
<a onclick="navPage(7, this)" class="np7 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Occupation
    salariée</label></a>
<a onclick="navPage(8, this)" class="np8 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Pension /
    Rente</label></a>
<a onclick="navPage(9, this)" class="np9 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Capitaux
    mobiliers</label></a>
<a onclick="navPage(10, this)" class="np10 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Locations de
    biens</label></a>
<a onclick="navPage(11, this)" class="np11 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Revenus nets
    divers</label></a>
<a onclick="navPage(12, this)" class="np12 w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Revenus
    extraordinaires</label></a>

<div class="w3-dropdown-click">
    <div class="flex">
        <a class="w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Dépenses spéciales
            couvertes
            forfait</label></a>
        <span class="arrow"></span>
    </div>
    <div class="w3-dropdown-content">
        <a onclick="navPage(13, this)" class=" w3-bar-item w3-button">Arrérages de rentes et charges permanentes</label></a>
        <a onclick="navPage(14, this);$('html, body').animate({
            scrollTop: 0
            }, 500)" class=" w3-bar-item w3-button">Intérêts débiteurs</label></a>
        <a onclick="navPage(14, this);$('html, body').animate({
            scrollTop: $('#part14-2').offset().top
            }, 500)" class="np w3-bar-item w3-button">Primes d’assurance et cotisations</label></a>
        <a onclick="navPage(15, this)" class="np w3-bar-item w3-button">Cotisations payées à titre personnel</label></a>
        <a onclick="navPage(15, this)" class="np w3-bar-item w3-button">Prévoyance-vieillesse</label></a>
        <a onclick="navPage(15, this)" class="np w3-bar-item w3-button">Epargne logement</label></a>
    </div>
</div>
<div class="w3-dropdown-click">
    <div class="flex">
        <a class="w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Dépenses
            spéciales en
            dehors
            forfait</label></a>
        <span class="arrow rotate"></span>
    </div>
    <div class="w3-dropdown-content">
        <a onclick="navPage(16, this)" class="np w3-bar-item w3-button">Cotisations obligatoires</label></a>
        <a onclick="navPage(16, this)" class="np w3-bar-item w3-button">Régime complémentaire</label></a>
        <a onclick="navPage(16, this)" class="np w3-bar-item w3-button">Libéralités</label></a>
        <a onclick="navPage(16, this)" class="np w3-bar-item w3-button">Pertes d’exploitation reportables</label></a>
    </div>
</div>
<a onclick="navPage(17, this)" class="np w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Charges
    extraordinaires</label></a>
<a onclick="navPage(19, this)" class="np w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Retenues
    d’impôt /<br> Diverses demandes</label></a>
<a onclick="navPage(20, this)" class="np w3-bar-item w3-button w3-padding-8"><span class="material-icons">verified_user</span><label>Revenu
    imposable</label></a>

<script>
    if (localStorage.activePage) {
        $('.np' + localStorage.activePage).addClass('active');
    }
    else {
        $('.np1').addClass('active');
    }
    $('.w3-dropdown-click').click(function () {
        $('.left-nav .w3-button').removeClass('active')
        let el = $(this).children('.w3-dropdown-content')
        if (el.is(":visible")) {
            el.hide();
            $(this).removeClass('active')
        } else {
            $('.w3-dropdown-content').hide();
            $('.w3-dropdown-click').removeClass('active');
            $(this).addClass('active');
            el.show();
        }
    })
</script>