<a href="#/client/?id={{id}}" class="w3-bar-item w3-button w3-padding-16 active">Identification</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Enfants</a>
<a href="#/etat_civil/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Etat civil /
            Non-résidents</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Options en
            matière d’imposition collective et individuelle</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Bénéfice
            commercial</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Bénéfice
            agricole et forestier</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Bénéfice
            profession libérale</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Occupation
            salariée</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Pension /
            Rente</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Capitaux
            mobiliers</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Locations de
            biens</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Revenus nets
            divers</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Revenus
            extraordinaires</a>

<div class="w3-dropdown-click">
    <div class="flex">
        <a class="w3-button w3-padding-16">Dépenses spéciales
                    couvertes
                    forfait</a>
        <span class="arrow"></span>
    </div>
    <div class="w3-dropdown-content">
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Arrérages de rentes et charges permanentes</a>
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Intérêts débiteurs</a>
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Primes d’assurance et cotisations</a>
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Cotisations payées à titre personnel</a>
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Prévoyance-vieillesse</a>
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Epargne logement</a>
    </div>
</div>
<div class="w3-dropdown-click">
    <div class="flex">
        <a class="w3-button w3-padding-16">Dépenses spéciales en
                    dehors
                    forfait</a>
        <span class="arrow rotate"></span>
    </div>
    <div class="w3-dropdown-content">
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Cotisations obligatoires</a>
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Régime complémentaire</a>
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Libéralités</a>
        <a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button">Pertes d’exploitation reportables</a>
    </div>
</div>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Charges
            extraordinaires</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Retenues
            d’impôt /<br> Diverses demandes</a>
<a href="#/enfants/?id={{id}}" class="w3-bar-item w3-button w3-padding-16">Revenu
            imposable</a>