<a onclick="navPage(1, this)" class="np1 w3-bar-item w3-button w3-padding-8">Identification</a>
<a onclick="navPage(2, this)" class="np2 w3-bar-item w3-button w3-padding-8">Enfants</a>
<a onclick="navPage(3, this)" class="np3 w3-bar-item w3-button w3-padding-8">Etat civil /
    Non-résidents</a>
<a onclick="navPage(4, this)" class="np4 w3-bar-item w3-button w3-padding-8">Options en
    matière d’imposition collective et individuelle</a>
<a onclick="navPage(5, this);$('html, body').animate({
    scrollTop: 0
    }, 500)" class="np5 w3-bar-item w3-button w3-padding-8">Bénéfice
    commercial</a>
<a onclick="navPage(5, this);$('html, body').animate({
    scrollTop: $('#part5-2').offset().top
    }, 500)" class="np5 w3-bar-item w3-button w3-padding-8">Bénéfice
    agricole et forestier</a>
<a onclick="navPage(6, this)" class="w3-bar-item w3-button w3-padding-8">Bénéfice
    profession libérale</a>
<a onclick="navPage(7, this)" class="w3-bar-item w3-button w3-padding-8">Occupation
    salariée</a>
<a onclick="navPage(8, this)" class="w3-bar-item w3-button w3-padding-8">Pension /
    Rente</a>
<a onclick="navPage(9, this)" class="w3-bar-item w3-button w3-padding-8">Capitaux
    mobiliers</a>
<a onclick="navPage(10, this)" class="w3-bar-item w3-button w3-padding-8">Locations de
    biens</a>
<a onclick="navPage(11, this)" class="w3-bar-item w3-button w3-padding-8">Revenus nets
    divers</a>
<a onclick="navPage(12, this)" class="w3-bar-item w3-button w3-padding-8">Revenus
    extraordinaires</a>

<div class="w3-dropdown-click">
    <div class="flex">
        <a class="w3-button w3-padding-8">Dépenses spéciales
            couvertes
            forfait</a>
        <span class="arrow"></span>
    </div>
    <div class="w3-dropdown-content">
        <a onclick="navPage(13, this)" class=" w3-bar-item w3-button">Arrérages de rentes et charges permanentes</a>
        <a onclick="navPage(14, this);$('html, body').animate({
            scrollTop: 0
            }, 500)" class=" w3-bar-item w3-button">Intérêts débiteurs</a>
        <a onclick="navPage(14, this);$('html, body').animate({
            scrollTop: $('#part14-2').offset().top
            }, 500)" class="w3-bar-item w3-button">Primes d’assurance et cotisations</a>
        <a onclick="navPage(15, this)" class="w3-bar-item w3-button">Cotisations payées à titre personnel</a>
        <a onclick="navPage(15, this)" class="w3-bar-item w3-button">Prévoyance-vieillesse</a>
        <a onclick="navPage(15, this)" class="w3-bar-item w3-button">Epargne logement</a>
    </div>
</div>
<div class="w3-dropdown-click">
    <div class="flex">
        <a class="w3-button w3-padding-8">Dépenses
            spéciales en
            dehors
            forfait</a>
        <span class="arrow rotate"></span>
    </div>
    <div class="w3-dropdown-content">
        <a onclick="navPage(16, this)" class="w3-bar-item w3-button">Cotisations obligatoires</a>
        <a onclick="navPage(16, this)" class="w3-bar-item w3-button">Régime complémentaire</a>
        <a onclick="navPage(16, this)" class="w3-bar-item w3-button">Libéralités</a>
        <a onclick="navPage(16, this)" class="w3-bar-item w3-button">Pertes d’exploitation reportables</a>
    </div>
</div>
<a onclick="navPage(17, this)" class="w3-bar-item w3-button w3-padding-8">Charges
    extraordinaires</a>
<a onclick="navPage(19, this)" class="w3-bar-item w3-button w3-padding-8">Retenues
    d’impôt /<br> Diverses demandes</a>
<a onclick="navPage(20, this)" class="w3-bar-item w3-button w3-padding-8">Revenu
    imposable</a>

<script>
    if (localStorage.activePage) {
        $('.np' + localStorage.activePage).addClass('active');
    }
    else {
        $('.np1').addClass('active');
    }
    $('.w3-dropdown-click').click(function () {
        $('.left-nav .w3-button').removeClass('active')
        let el = $(this).children('.w3-dropdown-content')
        if (el.is(":visible")) {
            el.hide();
            $(this).removeClass('active')
        } else {
            $('.w3-dropdown-content').hide();
            $('.w3-dropdown-click').removeClass('active');
            $(this).addClass('active');
            el.show();
        }
    })
</script>