.a19 {
  width: 100%;
  min-width: 1062px;
  height: 100vh;
  min-height: 1501px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a19 .a19360 {
  background-color: #dfe2e5;
  top: 1447px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a19351 {
  background-color: #dfe2e5;
  top: 1447px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a193319342 {
  background-color: #dfe2e5;
  top: 1380px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a19343 {
  background-color: #dfe2e5;
  top: 1339px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a19334 {
  background-color: #dfe2e5;
  top: 1339px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a193119325 {
  background-color: #dfe2e5;
  top: 1272px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a19326 {
  background-color: #dfe2e5;
  top: 1231px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a19317 {
  background-color: #dfe2e5;
  top: 1231px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192919308 {
  background-color: #dfe2e5;
  top: 1164px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a19309 {
  background-color: #dfe2e5;
  top: 1123px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192910 {
  background-color: #dfe2e5;
  top: 1123px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a1927192811 {
  background-color: #dfe2e5;
  top: 1055px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192812 {
  background-color: #dfe2e5;
  top: 1015px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192713 {
  background-color: #dfe2e5;
  top: 1015px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192614 {
  background-color: #dfe2e5;
  top: 936px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192515 {
  background-color: #dfe2e5;
  top: 936px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192416 {
  background-color: #dfe2e5;
  top: 858px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192317 {
  background-color: #dfe2e5;
  top: 858px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a1921192218 {
  background-color: #dfe2e5;
  top: 778px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192219 {
  background-color: #dfe2e5;
  top: 737px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192120 {
  background-color: #dfe2e5;
  top: 737px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a192021 {
  background-color: #dfe2e5;
  top: 737px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a1918191922 {
  background-color: #dfe2e5;
  top: 641px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191923 {
  background-color: #dfe2e5;
  top: 600px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191824 {
  background-color: #dfe2e5;
  top: 600px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191725 {
  background-color: #dfe2e5;
  top: 600px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a1915191626 {
  background-color: #dfe2e5;
  top: 504px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191627 {
  background-color: #dfe2e5;
  top: 463px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191528 {
  background-color: #dfe2e5;
  top: 463px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191429 {
  background-color: #dfe2e5;
  top: 463px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a1912191330 {
  background-color: #dfe2e5;
  top: 412px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191331 {
  background-color: #dfe2e5;
  top: 371px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191232 {
  background-color: #dfe2e5;
  top: 371px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191133 {
  background-color: #dfe2e5;
  top: 371px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a191034 {
  background-color: #dfe2e5;
  top: 276px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190935 {
  background-color: #dfe2e5;
  top: 276px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190836 {
  background-color: #dfe2e5;
  top: 226px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190737 {
  background-color: #dfe2e5;
  top: 226px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190638 {
  background-color: #dfe2e5;
  top: 178px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 976px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190539 {
  background-color: #dfe2e5;
  top: 178px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 817px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190440 {
  background-color: #dfe2e5;
  top: 138px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 976px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190241 {
  background-color: #dfe2e5;
  top: 98px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 976px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190342 {
  background-color: #dfe2e5;
  top: 138px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 817px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .a190143 {
  background-color: #dfe2e5;
  top: 98px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 817px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a19 .case1144 {
  background-color: #dfe2e5;
  top: 1452px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 66px;
  position: absolute;
  margin: 0;
  left: -17px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case1045 {
  background-color: #dfe2e5;
  top: 1365px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 108px;
  position: absolute;
  margin: 0;
  left: -38px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case946 {
  background-color: #dfe2e5;
  top: 1257px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 108px;
  position: absolute;
  margin: 0;
  left: -38px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case847 {
  background-color: #dfe2e5;
  top: 1149px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 108px;
  position: absolute;
  margin: 0;
  left: -38px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case748 {
  background-color: #dfe2e5;
  top: 1041px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 109px;
  position: absolute;
  margin: 0;
  left: -38px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case649 {
  background-color: #dfe2e5;
  top: 941px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 82px;
  position: absolute;
  margin: 0;
  left: -25px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case550 {
  background-color: #dfe2e5;
  top: 863px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 74px;
  position: absolute;
  margin: 0;
  left: -21px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case451 {
  background-color: #dfe2e5;
  top: 751px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 142px;
  position: absolute;
  margin: 0;
  left: -55px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case352 {
  background-color: #dfe2e5;
  top: 612px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 137px;
  position: absolute;
  margin: 0;
  left: -52px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case253 {
  background-color: #dfe2e5;
  top: 429px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 229px;
  position: absolute;
  margin: 0;
  left: -98px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .case154 {
  background-color: #dfe2e5;
  top: 192px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 244px;
  position: absolute;
  margin: 0;
  left: -106px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1.0;
}

.a19 .retenuedimptlasourcesurlestantimes55 {
  background-color: rgba(255, 255, 255, 0);
  top: 1460px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .retenuedimptlasourcesurlestantimes55 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourcesurlestantimes55 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourceluxembourgeoisearticle6delaloimodifiedu23dcembre2005surcertainsintrtsproduitsparlpargnemobilire56 {
  background-color: rgba(255, 255, 255, 0);
  top: 1366px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .retenuedimptlasourceluxembourgeoisearticle6delaloimodifiedu23dcembre2005surcertainsintrtsproduitsparlpargnemobilire56 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourceluxembourgeoisearticle6delaloimodifiedu23dcembre2005surcertainsintrtsproduitsparlpargnemobilire56 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .impttrangerimputablesuivantannexeenabsenceduneconvention57 {
  background-color: rgba(255, 255, 255, 0);
  top: 1266px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .impttrangerimputablesuivantannexeenabsenceduneconvention57 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .impttrangerimputablesuivantannexeenabsenceduneconvention57 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .impttrangerimputablesuivantlesconventionscontrelesdoublesimpositions58 {
  background-color: rgba(255, 255, 255, 0);
  top: 1158px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .impttrangerimputablesuivantlesconventionscontrelesdoublesimpositions58 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .impttrangerimputablesuivantlesconventionscontrelesdoublesimpositions58 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourcesurlesrevenusdecapitauxdividendesetc59 {
  background-color: rgba(255, 255, 255, 0);
  top: 1050px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .retenuedimptlasourcesurlesrevenusdecapitauxdividendesetc59 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourcesurlesrevenusdecapitauxdividendesetc59 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourcesurlesrevenusdecapitauxdividendesetc59 .span2 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourcesurlespensions60 {
  background-color: rgba(255, 255, 255, 0);
  top: 950px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .retenuedimptlasourcesurlespensions60 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourcesurlespensions60 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourcesurlessalaires61 {
  background-color: rgba(255, 255, 255, 0);
  top: 872px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .retenuedimptlasourcesurlessalaires61 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .retenuedimptlasourcesurlessalaires61 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .lecertificatdlivrparleministredelagriculturedelaviticultureetdudveloppementruralestjoindrelorsquevoustombezsouslechampdapplicationdelarticle37delaloidu18avril2008veuillezjoindrelannexe146sivoustombezsous62 {
  background-color: rgba(255, 255, 255, 0);
  top: 742px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 84px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .demandeenobtentiondelabattementspcialagricoleencasdaideslinstallation63 {
  background-color: rgba(255, 255, 255, 0);
  top: 708px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .demandeenobtentiondelabattementspcialagricoleencasdaideslinstallation63 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .demandeenobtentiondelabattementspcialagricoleencasdaideslinstallation63 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .demandeenobtentiondelabattementspcialagricoleencasdaideslinstallation63 .span2 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .lecertificatdelagencepourledveloppementdelemploiademattestantleplacementetlacontinuationdelemploiestjoindrepourchaquesalari64 {
  background-color: rgba(255, 255, 255, 0);
  top: 650px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .selonreportdelaligne14dumodle80565 {
  background-color: rgba(255, 255, 255, 0);
  top: 600px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 84px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .demandeenobtentiondunebonificationdimptencasdembauchagedechmeurs66 {
  background-color: rgba(255, 255, 255, 0);
  top: 572px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .demandeenobtentiondunebonificationdimptencasdembauchagedechmeurs66 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .demandeenobtentiondunebonificationdimptencasdembauchagedechmeurs66 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .selonreportdelaligne92dumodle800sommedelaligne43dumodle80067 {
  background-color: rgba(255, 255, 255, 0);
  top: 464px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 84px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .selonreportdelaligne91dumodle800sommedeslignes2030et61dumodle80068 {
  background-color: rgba(255, 255, 255, 0);
  top: 372px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 84px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .demandeenobtentiondunebonificationdimptpourinvestissement69 {
  background-color: rgba(255, 255, 255, 0);
  top: 342px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .demandeenobtentiondunebonificationdimptpourinvestissement69 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .demandeenobtentiondunebonificationdimptpourinvestissement69 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a19 .bnficeprovenantdelexerciceduneprofessionlibrale70 {
  background-color: rgba(255, 255, 255, 0);
  top: 180px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 570px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .bnficeagricoleetforestier71 {
  background-color: rgba(255, 255, 255, 0);
  top: 138px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 570px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .bnficecommercial72 {
  background-color: rgba(255, 255, 255, 0);
  top: 98px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 570px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .montantdelamortissementdiffrdduitaubilanfiscal201973 {
  background-color: rgba(255, 255, 255, 0);
  top: 288px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .montantdelamortissementnondduitaubilanfiscal201974 {
  background-color: rgba(255, 255, 255, 0);
  top: 240px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .demandepourlamortissementselonlarticle32alina1alirlademandedoittreappuyeparunbilanfiscaletlemontantdelamortissementnondduitaubilanfiscal2019doittreindiqu75 {
  background-color: rgba(255, 255, 255, 0);
  top: 116px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 48px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .contribuableconjointpartenaire76 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 920px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: center;
  line-height: 16.0px;
}

.a19 .contribuable77 {
  background-color: rgba(255, 255, 255, 0);
  top: 56px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 781px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .rd78 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1020px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28.0px;
  color: black;
  text-align: left;
  line-height: 28.0px;
}

.a19 .i79 {
  background-color: rgba(255, 255, 255, 0);
  top: 1460px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 14px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .cai80 {
  background-color: rgba(255, 255, 255, 0);
  top: 1373px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -2px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .caicm81 {
  background-color: rgba(255, 255, 255, 0);
  top: 1266px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .caicm82 {
  background-color: rgba(255, 255, 255, 0);
  top: 1158px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .caicm83 {
  background-color: rgba(255, 255, 255, 0);
  top: 1048px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .pensions84 {
  background-color: rgba(255, 255, 255, 0);
  top: 949px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .salaires85 {
  background-color: rgba(255, 255, 255, 0);
  top: 871px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -12px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .a86 {
  background-color: rgba(255, 255, 255, 0);
  top: 760px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 11px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .cai87 {
  background-color: rgba(255, 255, 255, 0);
  top: 620px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -2px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .c88 {
  background-color: rgba(255, 255, 255, 0);
  top: 437px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a19 .cai89 {
  background-color: rgba(255, 255, 255, 0);
  top: 200px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: -2px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}

.anima-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
/*# sourceMappingURL=page19.css.map */