/* screen - 17 */
.arial-normal-black-16px {
  color: var(--black);
  font-family: "Arial", Helvetica;
  font-size: 16px;
}

.arial-regular-normal-black-16px {
  color: var(--black);
  font-family: "Arial-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.a17 {
  background-color: white;
  height: 1337px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1042px;
}

.a17 p {
  margin: 0 !important;
}

.a17 .abattement-de-r-lt-contributive {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 86px;
  white-space: nowrap;
  width: auto;
}

.a17 .abattements-for-aires-suivantes {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 622px;
  white-space: nowrap;
  width: auto;
}

.a17 .aides-et-soins-on-de-dpendance {
  background-color: transparent;
  height: auto;
  left: 563px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1106px;
  white-space: nowrap;
  width: auto;
}

.a17 .aides-et-soins-on-de-dpendance-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1106px;
  white-space: nowrap;
  width: auto;
}

.a17 .anne-entire-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 663px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1018px;
  white-space: nowrap;
  width: auto;
}

.a17 .anne-entire {
  background-color: transparent;
  height: auto;
  left: 692px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.a17 .anne-entire-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 301px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1106px;
  white-space: nowrap;
  width: auto;
}

.a17 .anne-entire-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 129px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.a17 .anne-entire-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 864px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1106px;
  white-space: nowrap;
  width: auto;
}

.a17 .anne-entire-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1018px;
  white-space: nowrap;
  width: auto;
}

.a17 .certificat-mdical {
  background-color: transparent;
  height: auto;
  left: 650px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 698px;
  white-space: nowrap;
  width: auto;
}

.a17 .certificat-mdical-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 706px;
  white-space: nowrap;
  width: auto;
}

.a17 .checkbox-1 {
  background-color: var(--mercury);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-10 {
  background-color: var(--mercury);
  height: 20px;
  left: 342px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-11 {
  background-color: var(--mercury);
  height: 20px;
  left: 380px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-12 {
  background-color: var(--mercury);
  height: 20px;
  left: 418px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-13 {
  background-color: var(--mercury);
  height: 20px;
  left: 563px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-14 {
  background-color: var(--mercury);
  height: 20px;
  left: 601px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-15 {
  background-color: var(--mercury);
  height: 20px;
  left: 639px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-16 {
  background-color: var(--mercury);
  height: 20px;
  left: 677px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-17 {
  background-color: var(--mercury);
  height: 20px;
  left: 715px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-18 {
  background-color: var(--mercury);
  height: 20px;
  left: 753px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-19 {
  background-color: var(--mercury);
  height: 20px;
  left: 791px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-2 {
  background-color: var(--mercury);
  height: 20px;
  left: 38px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-20 {
  background-color: var(--mercury);
  height: 20px;
  left: 829px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-21 {
  background-color: var(--mercury);
  height: 20px;
  left: 867px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-22 {
  background-color: var(--mercury);
  height: 20px;
  left: 905px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-23 {
  background-color: var(--mercury);
  height: 20px;
  left: 943px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-24 {
  background-color: var(--mercury);
  height: 20px;
  left: 981px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-25 {
  background-color: var(--mercury);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-26 {
  background-color: var(--mercury);
  height: 20px;
  left: 38px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-27 {
  background-color: var(--mercury);
  height: 20px;
  left: 76px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-28 {
  background-color: var(--mercury);
  height: 20px;
  left: 114px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-29 {
  background-color: var(--mercury);
  height: 20px;
  left: 152px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-3 {
  background-color: var(--mercury);
  height: 20px;
  left: 76px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-30 {
  background-color: var(--mercury);
  height: 20px;
  left: 190px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-31 {
  background-color: var(--mercury);
  height: 20px;
  left: 228px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-32 {
  background-color: var(--mercury);
  height: 20px;
  left: 266px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-33 {
  background-color: var(--mercury);
  height: 20px;
  left: 304px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-34 {
  background-color: var(--mercury);
  height: 20px;
  left: 342px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-35 {
  background-color: var(--mercury);
  height: 20px;
  left: 380px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-36 {
  background-color: var(--mercury);
  height: 20px;
  left: 418px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-37 {
  background-color: var(--mercury);
  height: 20px;
  left: 563px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-38 {
  background-color: var(--mercury);
  height: 20px;
  left: 601px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-39 {
  background-color: var(--mercury);
  height: 20px;
  left: 639px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-4 {
  background-color: var(--mercury);
  height: 20px;
  left: 114px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-40 {
  background-color: var(--mercury);
  height: 20px;
  left: 677px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-41 {
  background-color: var(--mercury);
  height: 20px;
  left: 715px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-42 {
  background-color: var(--mercury);
  height: 20px;
  left: 753px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-43 {
  background-color: var(--mercury);
  height: 20px;
  left: 791px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-44 {
  background-color: var(--mercury);
  height: 20px;
  left: 829px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-45 {
  background-color: var(--mercury);
  height: 20px;
  left: 867px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-46 {
  background-color: var(--mercury);
  height: 20px;
  left: 905px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-47 {
  background-color: var(--mercury);
  height: 20px;
  left: 943px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-48 {
  background-color: var(--mercury);
  height: 20px;
  left: 981px;
  position: absolute;
  top: 1157px;
  width: 20px;
}

.a17 .checkbox-49 {
  background-color: var(--mercury);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-5 {
  background-color: var(--mercury);
  height: 20px;
  left: 152px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-50 {
  background-color: var(--mercury);
  height: 20px;
  left: 38px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-51 {
  background-color: var(--mercury);
  height: 20px;
  left: 76px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-52 {
  background-color: var(--mercury);
  height: 20px;
  left: 114px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-53 {
  background-color: var(--mercury);
  height: 20px;
  left: 152px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-54 {
  background-color: var(--mercury);
  height: 20px;
  left: 190px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-55 {
  background-color: var(--mercury);
  height: 20px;
  left: 228px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-56 {
  background-color: var(--mercury);
  height: 20px;
  left: 266px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-57 {
  background-color: var(--mercury);
  height: 20px;
  left: 304px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-58 {
  background-color: var(--mercury);
  height: 20px;
  left: 342px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-59 {
  background-color: var(--mercury);
  height: 20px;
  left: 380px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-6 {
  background-color: var(--mercury);
  height: 20px;
  left: 190px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-60 {
  background-color: var(--mercury);
  height: 20px;
  left: 418px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-61 {
  background-color: var(--mercury);
  height: 20px;
  left: 563px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-62 {
  background-color: var(--mercury);
  height: 20px;
  left: 601px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-63 {
  background-color: var(--mercury);
  height: 20px;
  left: 639px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-64 {
  background-color: var(--mercury);
  height: 20px;
  left: 677px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-65 {
  background-color: var(--mercury);
  height: 20px;
  left: 715px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-66 {
  background-color: var(--mercury);
  height: 20px;
  left: 753px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-67 {
  background-color: var(--mercury);
  height: 20px;
  left: 791px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-68 {
  background-color: var(--mercury);
  height: 20px;
  left: 829px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-69 {
  background-color: var(--mercury);
  height: 20px;
  left: 867px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-7 {
  background-color: var(--mercury);
  height: 20px;
  left: 228px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-70 {
  background-color: var(--mercury);
  height: 20px;
  left: 905px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-71 {
  background-color: var(--mercury);
  height: 20px;
  left: 943px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-72 {
  background-color: var(--mercury);
  height: 20px;
  left: 981px;
  position: absolute;
  top: 1245px;
  width: 20px;
}

.a17 .checkbox-73 {
  background-color: var(--mercury);
  height: 20px;
  left: 209px;
  position: absolute;
  top: 1017px;
  width: 20px;
}

.a17 .checkbox-74 {
  background-color: var(--mercury);
  height: 20px;
  left: 772px;
  position: absolute;
  top: 1017px;
  width: 20px;
}

.a17 .checkbox-75 {
  background-color: var(--mercury);
  height: 20px;
  left: 410px;
  position: absolute;
  top: 1105px;
  width: 20px;
}

.a17 .checkbox-76 {
  background-color: var(--mercury);
  height: 20px;
  left: 973px;
  position: absolute;
  top: 1105px;
  width: 20px;
}

.a17 .checkbox-77 {
  background-color: var(--mercury);
  height: 20px;
  left: 238px;
  position: absolute;
  top: 1193px;
  width: 20px;
}

.a17 .checkbox-78 {
  background-color: var(--mercury);
  height: 20px;
  left: 801px;
  position: absolute;
  top: 1193px;
  width: 20px;
}

.a17 .checkbox-8 {
  background-color: var(--mercury);
  height: 20px;
  left: 266px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .checkbox-9 {
  background-color: var(--mercury);
  height: 20px;
  left: 304px;
  position: absolute;
  top: 1069px;
  width: 20px;
}

.a17 .cochez-lales-pr-r-type-de-frais {
  background-color: transparent;
  height: auto;
  left: 563px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 996px;
  white-space: nowrap;
  width: auto;
}

.a17 .cochez-lales-pr-r-type-de-frais-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 996px;
  white-space: nowrap;
  width: auto;
}

.a17 .contribuable {
  background-color: transparent;
  height: auto;
  left: 180px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 860px;
  white-space: nowrap;
  width: auto;
}

.a17 .contribuable-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 180px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: auto;
}

.a17 .contribuable-co-jointpartenaire {
  background-color: transparent;
  height: auto;
  left: 675px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 860px;
  white-space: nowrap;
  width: auto;
}

.a17 .contribuable-co-jointpartenaire-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 721px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: auto;
}

.a17 .contribuable-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 722px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 128px;
  white-space: nowrap;
  width: auto;
}

.a17 .contribuableconjointpartenaire {
  background-color: transparent;
  height: auto;
  left: 861px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.a17 .demande-pour-un-extraordinaires {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 48px;
  white-space: nowrap;
  width: auto;
}

.a17 .dj-prsent {
  background-color: transparent;
  height: auto;
  left: 681px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 768px;
  white-space: nowrap;
  width: auto;
}

.a17 .dj-prsent-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 768px;
  white-space: nowrap;
  width: auto;
}

.a17 .domesticit {
  background-color: transparent;
  height: auto;
  left: 563px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1018px;
  white-space: nowrap;
  width: auto;
}

.a17 .domesticit-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1018px;
  white-space: nowrap;
  width: auto;
}

.a17 .en-annexe {
  background-color: transparent;
  height: auto;
  left: 681px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 736px;
  white-space: nowrap;
  width: auto;
}

.a17 .en-annexe-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 736px;
  white-space: nowrap;
  width: auto;
}

.a17 .frais-de-domest-19-dcembre-2008 {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 820px;
  white-space: nowrap;
  width: auto;
}

.a17 .garde-denfants {
  background-color: transparent;
  height: auto;
  left: 563px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.a17 .garde-denfants-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.a17 .invalidit-et-in-du-7-mars-1969 {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 652px;
  white-space: nowrap;
  width: auto;
}

.a17 .le-dtail-des-ch-x-leurs-noms-le {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Italic", Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 36px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 158px;
  white-space: nowrap;
  width: auto;
}

.a17 .montant-annuel-des-frais {
  background-color: transparent;
  height: auto;
  left: 599px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1308px;
  white-space: nowrap;
  width: auto;
}

.a17 .montant-annuel-des-frais-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1308px;
  white-space: nowrap;
  width: auto;
}

.a17 .nom-du-bnficiai-charge-crcheetc {
  background-color: transparent;
  height: auto;
  left: 599px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 884px;
  white-space: nowrap;
  width: auto;
}

.a17 .nom-du-bnficiai-charge-crcheetc-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 884px;
  white-space: nowrap;
  width: auto;
}

.a17 .span0-6p4Ex2 {
  color: black;
  font-family: "Arial-Bold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.a17 .span0-OfYm7O {
  color: black;
  font-family: "Arial-Bold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.a17 .span0-bFGG0p {
  color: black;
  font-family: "Arial-Bold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.a17 .span1-6p4Ex2 {
  color: black;
  font-family: "Arial-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.a17 .span1-OfYm7O {
  color: black;
  font-family: "Arial-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.a17 .span1-bFGG0p {
  color: black;
  font-family: "Arial-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.a17 .taux-de-la-rduc-acit-de-travail {
  background-color: transparent;
  height: auto;
  left: 819px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 700px;
  white-space: nowrap;
  width: auto;
}

.a17 .taux-de-la-rduc-acit-de-travail-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 207px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 700px;
  white-space: nowrap;
  width: auto;
}

.a17 .title {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 962px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.a17 .x {
  background-color: transparent;
  height: auto;
  left: 986px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 754px;
  white-space: nowrap;
  width: auto;
}

.a17 .x-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 374px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 754px;
  white-space: nowrap;
  width: auto;
}

.a17 .x01-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 564px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x01 {
  background-color: transparent;
  height: auto;
  left: 564px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x01-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x01-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x01-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 564px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x01-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x02-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 602px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x02 {
  background-color: transparent;
  height: auto;
  left: 602px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x02-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 39px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x02-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 39px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x02-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 602px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x02-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 39px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x03-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x03 {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x03-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 77px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x03-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 77px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x03-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 640px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x03-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 77px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x04-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 678px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x04 {
  background-color: transparent;
  height: auto;
  left: 678px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x04-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 115px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x04-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 115px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x04-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 678px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x04-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 115px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x05-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 716px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x05 {
  background-color: transparent;
  height: auto;
  left: 716px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x05-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 153px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x05-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 153px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x05-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 716px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x05-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 153px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x06-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 754px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x06 {
  background-color: transparent;
  height: auto;
  left: 754px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x06-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 191px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x06-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 191px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x06-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 754px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x06-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 191px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x07-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 792px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x07 {
  background-color: transparent;
  height: auto;
  left: 792px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x07-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 229px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x07-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 229px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x07-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 792px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x07-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 229px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x08-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 830px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x08 {
  background-color: transparent;
  height: auto;
  left: 830px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x08-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 267px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x08-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 267px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x08-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 830px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x08-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 267px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x09-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 868px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x09 {
  background-color: transparent;
  height: auto;
  left: 868px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x09-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 305px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x09-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 305px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x09-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 868px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x09-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 305px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x10-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 906px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x10 {
  background-color: transparent;
  height: auto;
  left: 906px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x10-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 343px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x10-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 343px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x10-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 906px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x10-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 343px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x11-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 945px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x11 {
  background-color: transparent;
  height: auto;
  left: 945px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x11-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 382px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x11-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 382px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x11-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 945px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x11-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 382px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x12-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 982px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .x12 {
  background-color: transparent;
  height: auto;
  left: 982px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x12-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 419px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x12-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 419px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1222px;
  white-space: nowrap;
  width: auto;
}

.a17 .x12-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 982px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1134px;
  white-space: nowrap;
  width: auto;
}

.a17 .x12-qr8e7q {
  background-color: transparent;
  height: auto;
  left: 419px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1046px;
  white-space: nowrap;
  width: auto;
}

.a17 .a1701 {
  background-color: var(--mercury);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 84px;
  width: 20px;
}

.a17 .a1702 {
  background-color: var(--mercury);
  height: 42px;
  left: 693px;
  position: absolute;
  top: 158px;
  width: 148px;
}

.a17 .a17021703 {
  background-color: var(--mercury);
  height: 42px;
  left: 737px;
  position: absolute;
  top: 200px;
  width: 220px;
}

.a17 .a1703 {
  background-color: var(--mercury);
  height: 42px;
  left: 853px;
  position: absolute;
  top: 158px;
  width: 148px;
}

.a17 .a1704 {
  background-color: var(--mercury);
  height: 42px;
  left: 36px;
  position: absolute;
  top: 250px;
  width: 965px;
}

.a17 .a1705 {
  background-color: var(--mercury);
  height: 42px;
  left: 36px;
  position: absolute;
  top: 300px;
  width: 965px;
}

.a17 .a1706 {
  background-color: var(--mercury);
  height: 42px;
  left: 36px;
  position: absolute;
  top: 350px;
  width: 965px;
}

.a17 .a1707 {
  background-color: var(--mercury);
  height: 42px;
  left: 36px;
  position: absolute;
  top: 400px;
  width: 965px;
}

.a17 .a1708 {
  background-color: var(--mercury);
  height: 42px;
  left: 36px;
  position: absolute;
  top: 450px;
  width: 965px;
}

.a17 .a1709 {
  background-color: var(--mercury);
  height: 42px;
  left: 36px;
  position: absolute;
  top: 500px;
  width: 965px;
}

.a17 .a1710 {
  background-color: var(--mercury);
  height: 42px;
  left: 36px;
  position: absolute;
  top: 550px;
  width: 965px;
}

.a17 .a1711 {
  background-color: var(--mercury);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 651px;
  width: 20px;
}

.a17 .a1712 {
  background-color: var(--mercury);
  height: 20px;
  left: 36px;
  position: absolute;
  top: 736px;
  width: 20px;
}

.a17 .a1713 {
  background-color: var(--mercury);
  height: 20px;
  left: 36px;
  position: absolute;
  top: 768px;
  width: 20px;
}

.a17 .a1714 {
  background-color: var(--mercury);
  height: 42px;
  left: 224px;
  position: absolute;
  top: 741px;
  width: 148px;
}

.a17 .a1715 {
  background-color: var(--mercury);
  height: 20px;
  left: 645px;
  position: absolute;
  top: 736px;
  width: 20px;
}

.a17 .a1716 {
  background-color: var(--mercury);
  height: 20px;
  left: 645px;
  position: absolute;
  top: 768px;
  width: 20px;
}

.a17 .a1717 {
  background-color: var(--mercury);
  height: 42px;
  left: 836px;
  position: absolute;
  top: 741px;
  width: 148px;
}

.a17 .a1718 {
  background-color: var(--mercury);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 819px;
  width: 20px;
}

.a17 .a1719 {
  background-color: var(--mercury);
  height: 100px;
  left: 184px;
  position: absolute;
  top: 880px;
  width: 230px;
}

.a17 .a1720 {
  background-color: var(--mercury);
  height: 100px;
  left: 747px;
  position: absolute;
  top: 880px;
  width: 230px;
}

.a17 .a1721 {
  background-color: var(--mercury);
  height: 42px;
  left: 266px;
  position: absolute;
  top: 1295px;
  width: 148px;
}

.a17 .a1722 {
  background-color: var(--mercury);
  height: 42px;
  left: 829px;
  position: absolute;
  top: 1295px;
  width: 148px;
}
/*# sourceMappingURL=page17_20.css.map */