.a03 {
    width: 100%;
    min-width: 1043px;
    height: 100vh;
    min-height: 1580px;
    position: relative;
    overflow: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none;
}

div {
    -webkit-text-size-adjust: none;
}

.anima-full-width-a {
    width: 100%;
}

.anima-full-height-a {
    height: 100%;
}

div {
    -webkit-text-size-adjust: none;
}

.a03 .a3270 {
    background-color: rgba(223, 226, 229, 1);
    top: 1269px;
    height: 42px;
    width: 78px;
    position: absolute;
    margin: 0;
    left: 929px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3261 {
    background-color: rgba(223, 226, 229, 1);
    top: 1293px;
    height: 42px;
    width: 156px;
    position: absolute;
    margin: 0;
    left: 687px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3252 {
    background-color: rgba(223, 226, 229, 1);
    top: 1248px;
    height: 42px;
    width: 156px;
    position: absolute;
    margin: 0;
    left: 625px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3243 {
    background-color: rgba(223, 226, 229, 1);
    top: 1136px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3234 {
    background-color: rgba(223, 226, 229, 1);
    top: 1092px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3225 {
    background-color: rgba(223, 226, 229, 1);
    top: 997px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3216 {
    background-color: rgba(223, 226, 229, 1);
    top: 743px;
    height: 42px;
    width: 283px;
    position: absolute;
    margin: 0;
    left: 758px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3207 {
    background-color: rgba(223, 226, 229, 1);
    top: 743px;
    height: 42px;
    width: 130px;
    position: absolute;
    margin: 0;
    left: 633px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3198 {
    background-color: rgba(223, 226, 229, 1);
    top: 743px;
    height: 42px;
    width: 278px;
    position: absolute;
    margin: 0;
    left: 317px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a3189 {
    background-color: rgba(223, 226, 229, 1);
    top: 743px;
    height: 42px;
    width: 130px;
    position: absolute;
    margin: 0;
    left: 187px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a31710 {
    background-color: rgba(223, 226, 229, 1);
    top: 701px;
    height: 42px;
    width: 298px;
    position: absolute;
    margin: 0;
    left: 743px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a31611 {
    background-color: rgba(223, 226, 229, 1);
    top: 701px;
    height: 42px;
    width: 110px;
    position: absolute;
    margin: 0;
    left: 633px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a31512 {
    background-color: rgba(223, 226, 229, 1);
    top: 701px;
    height: 42px;
    width: 298px;
    position: absolute;
    margin: 0;
    left: 297px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a31413 {
    background-color: rgba(223, 226, 229, 1);
    top: 701px;
    height: 42px;
    width: 110px;
    position: absolute;
    margin: 0;
    left: 187px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a31314 {
    background-color: rgba(223, 226, 229, 1);
    top: 646px;
    height: 28px;
    width: 408px;
    position: absolute;
    margin: 0;
    left: 633px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a31215 {
    background-color: rgba(223, 226, 229, 1);
    top: 646px;
    height: 28px;
    width: 408px;
    position: absolute;
    margin: 0;
    left: 187px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a31116 {
    background-color: rgba(223, 226, 229, 1);
    top: 584px;
    height: 42px;
    width: 408px;
    position: absolute;
    margin: 0;
    left: 633px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a31017 {
    background-color: rgba(223, 226, 229, 1);
    top: 584px;
    height: 42px;
    width: 408px;
    position: absolute;
    margin: 0;
    left: 187px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30918 {
    background-color: rgba(223, 226, 229, 1);
    top: 367px;
    height: 30px;
    width: 156px;
    position: absolute;
    margin: 0;
    left: 748px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30819 {
    background-color: rgba(223, 226, 229, 1);
    top: 403px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 68px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30720 {
    background-color: rgba(223, 226, 229, 1);
    top: 373px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 68px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30621 {
    background-color: rgba(223, 226, 229, 1);
    top: 343px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 68px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30522 {
    background-color: rgba(223, 226, 229, 1);
    top: 199px;
    height: 30px;
    width: 156px;
    position: absolute;
    margin: 0;
    left: 477px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30423 {
    background-color: rgba(223, 226, 229, 1);
    top: 236px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 68px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30324 {
    background-color: rgba(223, 226, 229, 1);
    top: 206px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 68px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30225 {
    background-color: rgba(223, 226, 229, 1);
    top: 176px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 68px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a30126 {
    background-color: rgba(223, 226, 229, 1);
    top: 84px;
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 68px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .rectangleclassedimpt27 {
    background-color: rgba(223, 226, 229, 1);
    top: 129px;
    height: 42px;
    width: 156px;
    position: absolute;
    margin: 0;
    left: 840px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .a28 {
    background-color: rgba(255, 255, 255, 0);
    top: 1284px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 1009px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .x328 {
    background-color: var(--mercury);
    height: 20px;
    left: 34px;
    position: absolute;
    top: 1416px;
    width: 20px;
}

.a03 .nous-dclarons-j-de-droit-commun {
    background-color: transparent;
    height: auto;
    left: 70px;
    letter-spacing: 0px;
    line-height: 16px;
    position: absolute;
    text-align: left;
    top: 1418px;
    white-space: nowrap;
    width: auto;
}

.a03 .a29 {
    background-color: rgba(255, 255, 255, 0);
    top: 1284px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 914px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .a30 {
    background-color: rgba(255, 255, 255, 0);
    top: 1272px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 649px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 20px;
}

.a03 .x10031 {
    background-color: rgba(255, 255, 255, 0);
    top: 1272px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 808px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .group132 {
    background-color: rgba(255, 255, 255, 0);
    top: 1272px;
    height: 36px;
    width: 34px;
    position: absolute;
    margin: 0;
    left: 576px;
    transform: rotate(0);
    opacity: 1;
}

.a03 .group132 .path10 {
    background-color: rgba(255, 255, 255, 0);
    top: -0px;
    height: 36px;
    width: 34px;
    position: absolute;
    margin: 0;
    left: 0;
    transform: rotate(0);
}

.a03 .lescontribuablesnonrsidentsdoiventindiquerleursrevenusdesourceluxembourgeoisedanslescolonnesrevenusnonexonrs33 {
    background-color: rgba(255, 255, 255, 0);
    top: 1342px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .totaldesrevenusnonexonrsetexonrs34 {
    background-color: rgba(255, 255, 255, 0);
    top: 1306px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 129px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .a35 {
    background-color: rgba(255, 255, 255, 0);
    top: 1270px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 70px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 20px;
}

.a03 .totaldesrevenusnonexonrsx10036 {
    background-color: rgba(255, 255, 255, 0);
    top: 1262px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 153px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .dterminationduseuildesrevenusimposablesauluxembourg37 {
    background-color: rgba(255, 255, 255, 0);
    top: 1220px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03
    .lecontribuablenonrsidentayantsarsidencefiscaleenbelgiquepeutenvertudesdispositionsdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetreassimilauxcontribuablesrsidentssiplus38 {
    background-color: rgba(255, 255, 255, 0);
    top: 1138px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 97px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .c39 {
    background-color: rgba(255, 255, 255, 0);
    top: 1136px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 70px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .lesrevenusnetsannuelsnonsoumislimptsurlerevenuluxembourgeoissontinfrieurs1300040 {
    background-color: rgba(255, 255, 255, 0);
    top: 1092px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 97px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .b41 {
    background-color: rgba(255, 255, 255, 0);
    top: 1092px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 70px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03
    .aumoins90desrevenusmondiauxsontimposablesauluxembourgpourcentagedterminerselonlescases325327lesrevenusprovenantduneoccupationsalariedontledroitdimpositionnerevientpasauluxembourgenvertuduneconventioncontr42 {
    background-color: rgba(255, 255, 255, 0);
    top: 1000px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 97px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .a43 {
    background-color: rgba(255, 255, 255, 0);
    top: 998px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 70px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03
    .lecontribuablenonrsidentpeuttreassimilaucontribuablersidentsiaumoinsunedesconditionssuivantesestremplieencequiconcernelescontribuablesnonrsidentsmarisilsuffitquaumoinslundespouxsatisfaitlaconditionsousao44 {
    background-color: rgba(255, 255, 255, 0);
    top: 922px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 0;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03
    .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 {
    background-color: rgba(255, 255, 255, 0);
    top: 858px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 0;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03
    .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45
    .span0 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.a03
    .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45
    .span1 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.a03
    .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45
    .span2 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.a03
    .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45
    .span3 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.a03
    .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45
    .span4 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.a03
    .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45
    .span5 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.a03
    .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45
    .span6 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.a03 .assimilationdunonrsidentaursident46 {
    background-color: rgba(255, 255, 255, 0);
    top: 824px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 0;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 18px;
}

.a03 .jour47 {
    background-color: rgba(255, 255, 255, 0);
    top: 678px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 837px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .mois48 {
    background-color: rgba(255, 255, 255, 0);
    top: 678px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 773px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .anne49 {
    background-color: rgba(255, 255, 255, 0);
    top: 678px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 673px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .line2450 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 1009px;
}

.a03 .line2351 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 978px;
}

.a03 .line2252 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 946px;
}

.a03 .line2153 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 915px;
}

.a03 .line2054 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 884px;
}

.a03 .line1955 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 852px;
}

.a03 .line1856 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 821px;
}

.a03 .line1757 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 789px;
}

.a03 .line1658 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 758px;
}

.a03 .line1559 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 727px;
}

.a03 .line1460 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 695px;
}

.a03 .line1361 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 664px;
}

.a03 .pourlecontribuableconjointpartenaire62 {
    background-color: rgba(255, 255, 255, 0);
    top: 564px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 698px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .jour63 {
    background-color: rgba(255, 255, 255, 0);
    top: 678px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 391px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .mois64 {
    background-color: rgba(255, 255, 255, 0);
    top: 678px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 327px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .anne65 {
    background-color: rgba(255, 255, 255, 0);
    top: 678px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 227px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .line1266 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 563px;
}

.a03 .line1167 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 532px;
}

.a03 .line1068 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 500px;
}

.a03 .line969 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 469px;
}

.a03 .line870 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 438px;
}

.a03 .line771 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 406px;
}

.a03 .line672 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 375px;
}

.a03 .line573 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 343px;
}

.a03 .line474 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 312px;
}

.a03 .line375 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 281px;
}

.a03 .line276 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 249px;
}

.a03 .line177 {
    background-color: rgba(255, 255, 255, 0);
    top: 646px;
    height: 28px;
    width: 1px;
    position: absolute;
    margin: 0;
    left: 218px;
}

.a03 .pourlecontribuable78 {
    background-color: rgba(255, 255, 255, 0);
    top: 564px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 320px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .codepostallocalit79 {
    background-color: rgba(255, 255, 255, 0);
    top: 748px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .numrorue80 {
    background-color: rgba(255, 255, 255, 0);
    top: 714px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .datedenaissancenumrodidentification81 {
    background-color: rgba(255, 255, 255, 0);
    top: 636px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .nometprnom82 {
    background-color: rgba(255, 255, 255, 0);
    top: 598px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 34px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt83 {
    background-color: rgba(255, 255, 255, 0);
    top: 520px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 0;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 18px;
}

.a03 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt83 .span0 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

.a03 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt83 .span1 {
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

.a03 .nonrsidentsremplirparlescontribuablesquinontpasleurdomicilefiscalouleursjourhabituelauluxembourg84 {
    background-color: rgba(255, 255, 255, 0);
    top: 460px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 0;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 22px;
}

.a03 .le85 {
    background-color: rgba(255, 255, 255, 0);
    top: 374px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 725px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .classedimpt86 {
    background-color: rgba(255, 255, 255, 0);
    top: 142px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 725px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .a87 {
    background-color: rgba(255, 255, 255, 0);
    top: 330px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 595px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 90px;
}

.a03 .depuisle88 {
    background-color: rgba(255, 255, 255, 0);
    top: 206px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 403px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .a89 {
    background-color: rgba(255, 255, 255, 0);
    top: 160px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 273px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 90px;
}

.a03 .envertudunedispensedelautoritjudiciaireaccorde90 {
    background-color: rgba(255, 255, 255, 0);
    top: 404px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 104px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .envertudunjugementdesparationdecorpsprononc91 {
    background-color: rgba(255, 255, 255, 0);
    top: 374px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 104px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .envertudunedispenselgaleaccorde92 {
    background-color: rgba(255, 255, 255, 0);
    top: 344px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 104px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .spare93 {
    background-color: rgba(255, 255, 255, 0);
    top: 296px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 104px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .veufveuve94 {
    background-color: rgba(255, 255, 255, 0);
    top: 236px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 104px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .divorce95 {
    background-color: rgba(255, 255, 255, 0);
    top: 206px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 104px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .marie96 {
    background-color: rgba(255, 255, 255, 0);
    top: 176px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 104px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .clibataire97 {
    background-color: rgba(255, 255, 255, 0);
    top: 84px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 104px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 16px;
}

.a03 .etatcivil98 {
    background-color: rgba(255, 255, 255, 0);
    top: 48px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 0;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 22px;
}

.a03 .enr99 {
    background-color: rgba(255, 255, 255, 0);
    top: 2px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 974px;
    transform: rotate(0);
    opacity: 1;
    font-family: "Arial", Helvetica, Arial, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    line-height: 28px;
}
