.x03 {
  background-color: rgba(255, 255, 255, 1);
  height: 1451px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1041px;
}

.x03 p {
  margin: 0 !important;
}

.x03 .a {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 998px;
  white-space: nowrap;
  width: auto;
}

.x03 .anne {
  background-color: transparent;
  height: auto;
  left: 673px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: auto;
}

.x03 .anne-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 227px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: auto;
}

.x03 .assimilation-du-dent-au-rsident {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 824px;
  white-space: nowrap;
  width: auto;
}

.x03 .au-moins-90-des-onvention-contr {
  background-color: transparent;
  height: auto;
  left: 97px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1000px;
  white-space: nowrap;
  width: auto;
}

.x03 .b {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1092px;
  white-space: nowrap;
  width: auto;
}

.x03 .c {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1136px;
  white-space: nowrap;
  width: auto;
}

.x03 .classe-dimpt {
  background-color: transparent;
  height: auto;
  left: 725px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 142px;
  white-space: nowrap;
  width: auto;
}

.x03 .clibataire {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 84px;
  white-space: nowrap;
  width: auto;
}

.x03 .code-postal-localit {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 748px;
  white-space: nowrap;
  width: auto;
}

.x03 .date-de-naissan-didentification {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 636px;
  white-space: nowrap;
  width: auto;
}

.x03 .demande-pour-la-nrs-et-de-sourc {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial", Helvetica;
  font-size: 16px;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 858px;
  white-space: nowrap;
  width: auto;
}

.x03 .depuis-le {
  background-color: transparent;
  height: auto;
  left: 403px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 206px;
  white-space: nowrap;
  width: auto;
}

.x03 .divorce {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 206px;
  white-space: nowrap;
  width: auto;
}

.x03 .dtermination-du-s-au-luxembourg {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1220px;
  white-space: nowrap;
  width: auto;
}

.x03 .election-facult-bulletins-dimpt {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial", Helvetica;
  font-size: 18px;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 520px;
  white-space: nowrap;
  width: auto;
}

.x03 .enr {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 974px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.x03 .etat-civil {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 48px;
  white-space: nowrap;
  width: auto;
}

.x03 .group-1 {
  background-color: transparent;
  height: 36px;
  left: 576px;
  position: absolute;
  top: 1272px;
  width: 34px;
}

.x03 .jour {
  background-color: transparent;
  height: auto;
  left: 837px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: auto;
}

.x03 .jour-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 391px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: auto;
}

.x03 .le {
  background-color: transparent;
  height: auto;
  left: 725px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 374px;
  white-space: nowrap;
  width: auto;
}

.x03 .le-contribuable-dition-sous-a-o {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 922px;
  white-space: nowrap;
  width: auto;
}

.x03 .le-contribuable-sidents-si-plus {
  background-color: transparent;
  height: auto;
  left: 97px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1138px;
  white-space: nowrap;
  width: auto;
}

.x03 .les-contribuabl-enus-non-exonrs {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1342px;
  white-space: nowrap;
  width: auto;
}

.x03 .les-revenus-net-nfrieurs-13-000 {
  background-color: transparent;
  height: auto;
  left: 97px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1092px;
  white-space: nowrap;
  width: auto;
}

.x03 .line-1 {
  background-color: transparent;
  height: 28px;
  left: 218px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-10 {
  background-color: transparent;
  height: 28px;
  left: 500px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-11 {
  background-color: transparent;
  height: 28px;
  left: 532px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-12 {
  background-color: transparent;
  height: 28px;
  left: 563px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-13 {
  background-color: transparent;
  height: 28px;
  left: 664px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-14 {
  background-color: transparent;
  height: 28px;
  left: 695px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-15 {
  background-color: transparent;
  height: 28px;
  left: 727px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-16 {
  background-color: transparent;
  height: 28px;
  left: 758px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-17 {
  background-color: transparent;
  height: 28px;
  left: 789px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-18 {
  background-color: transparent;
  height: 28px;
  left: 821px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-19 {
  background-color: transparent;
  height: 28px;
  left: 852px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-2 {
  background-color: transparent;
  height: 28px;
  left: 249px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-20 {
  background-color: transparent;
  height: 28px;
  left: 884px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-21 {
  background-color: transparent;
  height: 28px;
  left: 915px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-22 {
  background-color: transparent;
  height: 28px;
  left: 946px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-23 {
  background-color: transparent;
  height: 28px;
  left: 978px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-24 {
  background-color: transparent;
  height: 28px;
  left: 1009px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-3 {
  background-color: transparent;
  height: 28px;
  left: 281px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-4 {
  background-color: transparent;
  height: 28px;
  left: 312px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-5 {
  background-color: transparent;
  height: 28px;
  left: 343px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-6 {
  background-color: transparent;
  height: 28px;
  left: 375px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-7 {
  background-color: transparent;
  height: 28px;
  left: 406px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-8 {
  background-color: transparent;
  height: 28px;
  left: 438px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .line-9 {
  background-color: transparent;
  height: 28px;
  left: 469px;
  position: absolute;
  top: 646px;
  width: 1px;
}

.x03 .marie {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 176px;
  white-space: nowrap;
  width: auto;
}

.x03 .mois {
  background-color: transparent;
  height: auto;
  left: 773px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: auto;
}

.x03 .mois-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 327px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: auto;
}

.x03 .nom-et-prnom {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 598px;
  white-space: nowrap;
  width: auto;
}

.x03 .non-rsidents-re-l-au-luxembourg {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 460px;
  white-space: nowrap;
  width: auto;
}

.x03 .nous-dclarons-j-de-droit-commun {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1418px;
  white-space: nowrap;
  width: auto;
}

.x03 .numro-rue {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 714px;
  white-space: nowrap;
  width: auto;
}

.x03 .path-1-VyzZeT {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x03 .pour-le-contrib-jointpartenaire {
  background-color: transparent;
  height: auto;
  left: 698px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 564px;
  white-space: nowrap;
  width: auto;
}

.x03 .pour-le-contribuable {
  background-color: transparent;
  height: auto;
  left: 320px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 564px;
  white-space: nowrap;
  width: auto;
}

.x03 .rectangle-classe-dimpt {
  background-color: var(--mercury);
  height: 42px;
  left: 840px;
  position: absolute;
  top: 129px;
  width: 156px;
}

.x03 .span0-7qukLx {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
}

.x03 .span0-TIxzm7 {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Bold", Helvetica;
  font-style: normal;
  font-weight: 700;
}

.x03 .span1-7qukLx {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}

.x03 .span1-TIxzm7 {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
}

.x03 .span2-7qukLx {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
}

.x03 .span3-7qukLx {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}

.x03 .span4-7qukLx {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
}

.x03 .span5-7qukLx {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}

.x03 .span6-7qukLx {
  color: rgba(0, 0, 0, 1);
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
}

.x03 .spare {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 296px;
  white-space: nowrap;
  width: auto;
}

.x03 .title {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Narrow", Helvetica;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 595px;
  letter-spacing: 0px;
  line-height: 90px;
  position: absolute;
  text-align: left;
  top: 330px;
  white-space: nowrap;
  width: auto;
}

.x03 .total-des-reven-on-exonrs-x-100 {
  background-color: transparent;
  height: auto;
  left: 153px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1262px;
  white-space: nowrap;
  width: auto;
}

.x03 .total-des-reven-xonrs-et-exonrs {
  background-color: transparent;
  height: auto;
  left: 129px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1306px;
  white-space: nowrap;
  width: auto;
}

.x03 .veuf-veuve {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 236px;
  white-space: nowrap;
  width: auto;
}

.x03 .x- {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1270px;
  white-space: nowrap;
  width: auto;
}

.x03 .x-100 {
  background-color: transparent;
  height: auto;
  left: 808px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1272px;
  white-space: nowrap;
  width: auto;
}

.x03 .x {
  background-color: transparent;
  height: auto;
  left: 1009px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1284px;
  white-space: nowrap;
  width: auto;
}

.x03 .x-QxM5SU {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Narrow", Helvetica;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 273px;
  letter-spacing: 0px;
  line-height: 90px;
  position: absolute;
  text-align: left;
  top: 160px;
  white-space: nowrap;
  width: auto;
}

.x03 .x-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 914px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1284px;
  white-space: nowrap;
  width: auto;
}

.x03 .x-en-vertu-dun-j-e-corps-prononc {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 374px;
  white-space: nowrap;
  width: auto;
}

.x03 .x-en-vertu-dune-e-lgale-accorde {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 344px;
  white-space: nowrap;
  width: auto;
}

.x03 .x-en-vertu-dune-iciaire-accorde {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 404px;
  white-space: nowrap;
  width: auto;
}

.x03 .x-mzXdH9 {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 649px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1272px;
  white-space: nowrap;
  width: auto;
}

.x03 .x301 {
  background-color: var(--mercury);
  height: 20px;
  left: 68px;
  position: absolute;
  top: 84px;
  width: 20px;
}

.x03 .x302 {
  background-color: var(--mercury);
  height: 20px;
  left: 68px;
  position: absolute;
  top: 176px;
  width: 20px;
}

.x03 .x303 {
  background-color: var(--mercury);
  height: 20px;
  left: 68px;
  position: absolute;
  top: 206px;
  width: 20px;
}

.x03 .x304 {
  background-color: var(--mercury);
  height: 20px;
  left: 68px;
  position: absolute;
  top: 236px;
  width: 20px;
}

.x03 .x305 {
  background-color: var(--mercury);
  height: 30px;
  left: 477px;
  position: absolute;
  top: 199px;
  width: 156px;
}

.x03 .x306 {
  background-color: var(--mercury);
  height: 20px;
  left: 68px;
  position: absolute;
  top: 343px;
  width: 20px;
}

.x03 .x307 {
  background-color: var(--mercury);
  height: 20px;
  left: 68px;
  position: absolute;
  top: 373px;
  width: 20px;
}

.x03 .x308 {
  background-color: var(--mercury);
  height: 20px;
  left: 68px;
  position: absolute;
  top: 403px;
  width: 20px;
}

.x03 .x309 {
  background-color: var(--mercury);
  height: 30px;
  left: 748px;
  position: absolute;
  top: 367px;
  width: 156px;
}

.x03 .x310 {
  background-color: var(--mercury);
  height: 42px;
  left: 187px;
  position: absolute;
  top: 584px;
  width: 408px;
}

.x03 .x311 {
  background-color: var(--mercury);
  height: 42px;
  left: 633px;
  position: absolute;
  top: 584px;
  width: 408px;
}

.x03 .x312 {
  background-color: var(--mercury);
  height: 28px;
  left: 187px;
  position: absolute;
  top: 646px;
  width: 408px;
}

.x03 .x313 {
  background-color: var(--mercury);
  height: 28px;
  left: 633px;
  position: absolute;
  top: 646px;
  width: 408px;
}

.x03 .x314 {
  background-color: var(--mercury);
  height: 42px;
  left: 187px;
  position: absolute;
  top: 701px;
  width: 110px;
}

.x03 .x315 {
  background-color: var(--mercury);
  height: 42px;
  left: 297px;
  position: absolute;
  top: 701px;
  width: 298px;
}

.x03 .x316 {
  background-color: var(--mercury);
  height: 42px;
  left: 633px;
  position: absolute;
  top: 701px;
  width: 110px;
}

.x03 .x317 {
  background-color: var(--mercury);
  height: 42px;
  left: 743px;
  position: absolute;
  top: 701px;
  width: 298px;
}

.x03 .x318 {
  background-color: var(--mercury);
  height: 42px;
  left: 187px;
  position: absolute;
  top: 743px;
  width: 130px;
}

.x03 .x319 {
  background-color: var(--mercury);
  height: 42px;
  left: 317px;
  position: absolute;
  top: 743px;
  width: 278px;
}

.x03 .x320 {
  background-color: var(--mercury);
  height: 42px;
  left: 633px;
  position: absolute;
  top: 743px;
  width: 130px;
}

.x03 .x321 {
  background-color: var(--mercury);
  height: 42px;
  left: 758px;
  position: absolute;
  top: 743px;
  width: 283px;
}

.x03 .x322 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 997px;
  width: 20px;
}

.x03 .x323 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 1092px;
  width: 20px;
}

.x03 .x324 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 1136px;
  width: 20px;
}

.x03 .x325 {
  background-color: var(--mercury);
  height: 42px;
  left: 625px;
  position: absolute;
  top: 1248px;
  width: 156px;
}

.x03 .x326 {
  background-color: var(--mercury);
  height: 42px;
  left: 687px;
  position: absolute;
  top: 1293px;
  width: 156px;
}

.x03 .x327 {
  background-color: var(--mercury);
  height: 42px;
  left: 929px;
  position: absolute;
  top: 1269px;
  width: 78px;
}

.x03 .x328 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 1416px;
  width: 20px;
}

:root {
  --black: rgba(0, 0, 0, 1);
  --mercury: rgba(223, 226, 229, 1);
}
