:root {
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 10px;
  --font-size-xl: 22px;
  --font-size-xxl: 28px;

  --font-family-arial: "Arial", Helvetica;
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
}
.x15 .arial-regular-normal-black-16px {
  color: #000000;
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.x15 .arial-regular-normal-black-10px {
  color: #000000;
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.x15 .arial-bold-black-22px {
  color: #000000;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.x15 .arial-bold-black-16px {
  color: #000000;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.x15 p {
  margin: 0;
}

/* screen - 15 */

.x15 {
  background-color: #ffffff;
  height: 1442px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1060px;
}

.x15 .x1557 {
  background-color: #dfe2e5;
  height: 42px;
  left: 796px;
  position: absolute;
  top: 1386px;
  transform: rotate(180deg);
  width: 220px;
}

.x15 .x1556 {
  background-color: #dfe2e5;
  height: 42px;
  left: 796px;
  position: absolute;
  top: 1316px;
  transform: rotate(180deg);
  width: 220px;
}

.x15 .x1555 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 1208px;
  width: 148px;
}

.x15 .x1554 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 1208px;
  width: 148px;
}

.x15 .x1553 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 1142px;
  width: 148px;
}

.x15 .x1552 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 1142px;
  width: 148px;
}

.x15 .x1551 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 1086px;
  width: 148px;
}

.x15 .x1550 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 1086px;
  width: 148px;
}

.x15 .x1549 {
  background-color: #dfe2e5;
  height: 42px;
  left: 528px;
  position: absolute;
  top: 1086px;
  width: 200px;
}

.x15 .x1548 {
  background-color: #dfe2e5;
  height: 42px;
  left: 328px;
  position: absolute;
  top: 1086px;
  width: 200px;
}

.x15 .x1547 {
  background-color: #dfe2e5;
  height: 42px;
  left: 34px;
  position: absolute;
  top: 1086px;
  width: 294px;
}

.x15 .x1546 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 1044px;
  width: 148px;
}

.x15 .x1545 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 1044px;
  width: 148px;
}

.x15 .x1544 {
  background-color: #dfe2e5;
  height: 42px;
  left: 528px;
  position: absolute;
  top: 1044px;
  width: 200px;
}

.x15 .x1543 {
  background-color: #dfe2e5;
  height: 42px;
  left: 328px;
  position: absolute;
  top: 1044px;
  width: 200px;
}

.x15 .x1542 {
  background-color: #dfe2e5;
  height: 42px;
  left: 34px;
  position: absolute;
  top: 1044px;
  width: 294px;
}

.x15 .x1541 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 1002px;
  width: 148px;
}

.x15 .x1540 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 1002px;
  width: 148px;
}

.x15 .x1539 {
  background-color: #dfe2e5;
  height: 42px;
  left: 528px;
  position: absolute;
  top: 1002px;
  width: 200px;
}

.x15 .x1538 {
  background-color: #dfe2e5;
  height: 42px;
  left: 328px;
  position: absolute;
  top: 1002px;
  width: 200px;
}

.x15 .x1537 {
  background-color: #dfe2e5;
  height: 42px;
  left: 34px;
  position: absolute;
  top: 1002px;
  width: 294px;
}

.x15 .x1536 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 960px;
  width: 148px;
}

.x15 .x1535 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 960px;
  width: 148px;
}

.x15 .x1534 {
  background-color: #dfe2e5;
  height: 42px;
  left: 528px;
  position: absolute;
  top: 960px;
  width: 200px;
}

.x15 .x1533 {
  background-color: #dfe2e5;
  height: 42px;
  left: 328px;
  position: absolute;
  top: 960px;
  width: 200px;
}

.x15 .x1532 {
  background-color: #dfe2e5;
  height: 42px;
  left: 34px;
  position: absolute;
  top: 960px;
  width: 294px;
}

.x15 .x1531 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 771px;
  width: 148px;
}

.x15 .x1530 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 771px;
  width: 148px;
}

.x15 .x15281529 {
  background-color: #dfe2e5;
  height: 42px;
  left: 796px;
  position: absolute;
  top: 705px;
  width: 220px;
}

.x15 .x1529 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 663px;
  width: 148px;
}

.x15 .x1528 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 663px;
  width: 148px;
}

.x15 .x1527 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 607px;
  width: 148px;
}

.x15 .x1526 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 607px;
  width: 148px;
}

.x15 .x1525 {
  background-color: #dfe2e5;
  height: 42px;
  left: 528px;
  position: absolute;
  top: 607px;
  width: 200px;
}

.x15 .x1524 {
  background-color: #dfe2e5;
  height: 42px;
  left: 328px;
  position: absolute;
  top: 607px;
  width: 200px;
}

.x15 .x1523 {
  background-color: #dfe2e5;
  height: 42px;
  left: 34px;
  position: absolute;
  top: 607px;
  width: 294px;
}

.x15 .x1522 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 565px;
  width: 148px;
}

.x15 .x1521 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 565px;
  width: 148px;
}

.x15 .x1520 {
  background-color: #dfe2e5;
  height: 42px;
  left: 528px;
  position: absolute;
  top: 565px;
  width: 200px;
}

.x15 .x1519 {
  background-color: #dfe2e5;
  height: 42px;
  left: 328px;
  position: absolute;
  top: 565px;
  width: 200px;
}

.x15 .x1518 {
  background-color: #dfe2e5;
  height: 42px;
  left: 34px;
  position: absolute;
  top: 565px;
  width: 294px;
}

.x15 .x1513514 {
  background-color: #dfe2e5;
  height: 42px;
  left: 796px;
  position: absolute;
  top: 470px;
  width: 220px;
}

.x15 .x1514 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 428px;
  width: 148px;
}

.x15 .x1513 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 428px;
  width: 148px;
}

.x15 .x1512 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 372px;
  width: 148px;
}

.x15 .x1511 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 372px;
  width: 148px;
}

.x15 .x1510 {
  background-color: #dfe2e5;
  height: 42px;
  left: 528px;
  position: absolute;
  top: 372px;
  width: 200px;
}

.x15 .x1509 {
  background-color: #dfe2e5;
  height: 42px;
  left: 328px;
  position: absolute;
  top: 372px;
  width: 200px;
}

.x15 .x1508 {
  background-color: #dfe2e5;
  height: 42px;
  left: 34px;
  position: absolute;
  top: 372px;
  width: 294px;
}

.x15 .x1507 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 330px;
  width: 148px;
}

.x15 .x1506 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 330px;
  width: 148px;
}

.x15 .x1505 {
  background-color: #dfe2e5;
  height: 42px;
  left: 528px;
  position: absolute;
  top: 330px;
  width: 200px;
}

.x15 .x1504 {
  background-color: #dfe2e5;
  height: 42px;
  left: 328px;
  position: absolute;
  top: 330px;
  width: 200px;
}

.x15 .x1503 {
  background-color: #dfe2e5;
  height: 42px;
  left: 34px;
  position: absolute;
  top: 330px;
  width: 294px;
}

.x15 .x15011502 {
  background-color: #dfe2e5;
  height: 42px;
  left: 796px;
  position: absolute;
  top: 168px;
  width: 220px;
}

.x15 .x1502 {
  background-color: #dfe2e5;
  height: 42px;
  left: 912px;
  position: absolute;
  top: 126px;
  width: 148px;
}

.x15 .x1501 {
  background-color: #dfe2e5;
  height: 42px;
  left: 752px;
  position: absolute;
  top: 126px;
  width: 148px;
}

.x15 .si-le-montant-des-dp {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1374px;
  white-space: nowrap;
  width: auto;
}

.x15 .contribuableconjointpartenaire {
  top: 1278px;
}

.x15 .contribuable {
  top: 1286px;
}

.x15 .total-des-dpenses-sp {
  background-color: transparent;
  color: #000000;
  font-family: var(--font-family-arial);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1324px;
  white-space: nowrap;
  width: auto;
}

.x15 .span0-1EFofN {
}

.x15 .span1-1EFofN {
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-l);
  font-style: normal;
}

.x15 .plafond-de-672-1-344 {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1198px;
  white-space: nowrap;
  width: auto;
}

.x15 .total {
  top: 1156px;
}

.x15 .cotisations-verses-en-2022 {
  background-color: transparent;
  height: auto;
  left: 805px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 930px;
  white-space: nowrap;
  width: auto;
}

.x15 .dbut-du-contrat {
  left: 569px;
  top: 930px;
}

.x15 .jour {
  top: 1116px;
}

.x15 .mois {
  top: 1116px;
}

.x15 .anne {
  top: 1116px;
}

.x15 .line-48 {
  background-color: transparent;
  height: 22px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-47 {
  background-color: transparent;
  height: 22px;
  left: 497px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-46 {
  background-color: transparent;
  height: 22px;
  left: 481px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-45 {
  background-color: transparent;
  height: 22px;
  left: 466px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-44 {
  background-color: transparent;
  height: 22px;
  left: 451px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-43 {
  background-color: transparent;
  height: 22px;
  left: 435px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-42 {
  background-color: transparent;
  height: 22px;
  left: 420px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-41 {
  background-color: transparent;
  height: 22px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-40 {
  background-color: transparent;
  height: 22px;
  left: 389px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-39 {
  background-color: transparent;
  height: 22px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-38 {
  background-color: transparent;
  height: 22px;
  left: 358px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .line-37 {
  background-color: transparent;
  height: 22px;
  left: 343px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 1px;
}

.x15 .jour-0eThxE {
  top: 1074px;
}

.x15 .mois-0eThxE {
  top: 1074px;
}

.x15 .anne-0eThxE {
  top: 1074px;
}

.x15 .line-36 {
  background-color: transparent;
  height: 22px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-35 {
  background-color: transparent;
  height: 22px;
  left: 497px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-34 {
  background-color: transparent;
  height: 22px;
  left: 481px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-33 {
  background-color: transparent;
  height: 22px;
  left: 466px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-32 {
  background-color: transparent;
  height: 22px;
  left: 451px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-31 {
  background-color: transparent;
  height: 22px;
  left: 435px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-30 {
  background-color: transparent;
  height: 22px;
  left: 420px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-29 {
  background-color: transparent;
  height: 22px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-28 {
  background-color: transparent;
  height: 22px;
  left: 389px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-27 {
  background-color: transparent;
  height: 22px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-26 {
  background-color: transparent;
  height: 22px;
  left: 358px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .line-25 {
  background-color: transparent;
  height: 22px;
  left: 343px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 1px;
}

.x15 .jour-xrED04 {
  top: 1032px;
}

.x15 .mois-xrED04 {
  top: 1032px;
}

.x15 .anne-xrED04 {
  top: 1032px;
}

.x15 .line-24 {
  background-color: transparent;
  height: 22px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-23 {
  background-color: transparent;
  height: 22px;
  left: 497px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-22 {
  background-color: transparent;
  height: 22px;
  left: 481px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-21 {
  background-color: transparent;
  height: 22px;
  left: 466px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-20 {
  background-color: transparent;
  height: 22px;
  left: 451px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-19 {
  background-color: transparent;
  height: 22px;
  left: 435px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-18 {
  background-color: transparent;
  height: 22px;
  left: 420px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-17 {
  background-color: transparent;
  height: 22px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-16 {
  background-color: transparent;
  height: 22px;
  left: 389px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-15 {
  background-color: transparent;
  height: 22px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-14 {
  background-color: transparent;
  height: 22px;
  left: 358px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .line-13 {
  background-color: transparent;
  height: 22px;
  left: 343px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 1px;
}

.x15 .jour-93ONHp {
  top: 990px;
}

.x15 .mois-93ONHp {
  top: 990px;
}

.x15 .anne-93ONHp {
  top: 990px;
}

.x15 .line-12 {
  background-color: transparent;
  height: 22px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-11 {
  background-color: transparent;
  height: 22px;
  left: 497px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-10 {
  background-color: transparent;
  height: 22px;
  left: 481px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-9 {
  background-color: transparent;
  height: 22px;
  left: 466px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-8 {
  background-color: transparent;
  height: 22px;
  left: 451px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-7 {
  background-color: transparent;
  height: 22px;
  left: 435px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-6 {
  background-color: transparent;
  height: 22px;
  left: 420px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-5 {
  background-color: transparent;
  height: 22px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-4 {
  background-color: transparent;
  height: 22px;
  left: 389px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-3 {
  background-color: transparent;
  height: 22px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-2 {
  background-color: transparent;
  height: 22px;
  left: 358px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .line-1 {
  background-color: transparent;
  height: 22px;
  left: 343px;
  object-fit: cover;
  position: absolute;
  top: 964px;
  width: 1px;
}

.x15 .n-didentification-dusouscripteur {
  background-color: transparent;
  height: auto;
  left: 355px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 922px;
  white-space: nowrap;
  width: auto;
}

.x15 .caisse-dpargne-logement {
  background-color: transparent;
  height: auto;
  left: 84px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 930px;
  white-space: nowrap;
  width: auto;
}

.x15 .contribuableconjointpartenaire-0eThxE {
  top: 882px;
}

.x15 .contribuable-0eThxE {
  top: 890px;
}

.x15 .cotisations-verses-d {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 882px;
  white-space: nowrap;
  width: auto;
}

.x15 .epargne-logement {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 844px;
  white-space: nowrap;
  width: auto;
}

.x15 .e {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 844px;
  white-space: nowrap;
  width: auto;
}

.x15 .plafond-de-3-200-pou {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 784px;
  white-space: nowrap;
  width: auto;
}

.x15 .total-0eThxE {
  top: 442px;
}

.x15 .verses-en-2022 {
  background-color: transparent;
  height: auto;
  left: 846px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 310px;
  white-space: nowrap;
  width: auto;
}

.x15 .fin-du-contrat {
  top: 310px;
}

.x15 .dbut-du-contrat-0eThxE {
  left: 369px;
  top: 310px;
}

.x15 .contribuableconjointpartenaire-xrED04 {
  top: 270px;
}

.x15 .contribuable-xrED04 {
  top: 278px;
}

.x15 .versements-viss-par-larticle-111bis-lir {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 278px;
  white-space: nowrap;
  width: auto;
}

.x15 .prvoyance-vieillesse {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 242px;
  white-space: nowrap;
  width: auto;
}

.x15 .d {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 242px;
  white-space: nowrap;
  width: auto;
}

.x15 .cotisations-payes-ti {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 128px;
  white-space: nowrap;
  width: auto;
}

.x15 .contribuableconjointpartenaire-93ONHp {
  top: 86px;
}

.x15 .contribuable-93ONHp {
  top: 94px;
}

.x15 .cotisations-payes-titre-personnel {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 90px;
  white-space: nowrap;
  width: auto;
}

.x15 .c {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 90px;
  white-space: nowrap;
  width: auto;
}

.x15 .dpenses-spciales-ddu {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 48px;
  white-space: nowrap;
  width: auto;
}

.x15 .x1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 48px;
  white-space: nowrap;
  width: auto;
}

.x15 .ds {
  background-color: transparent;
  color: #000000;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1021px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.x15 .total-xrED04 {
  top: 676px;
}

.x15 .payes-en-2022 {
  background-color: transparent;
  height: auto;
  left: 837px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 544px;
  white-space: nowrap;
  width: auto;
}

.x15 .fin-du-contrat-0eThxE {
  top: 544px;
}

.x15 .dbut-du-contrat-xrED04 {
  left: 369px;
  top: 544px;
}

.x15 .paiements-viss-par-larticle-111ter-lir {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 512px;
  white-space: nowrap;
  width: auto;
}

.x15 .anne {
  background-color: transparent;
  height: auto;
  left: 345px;
  letter-spacing: 0px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x15 .contribuable {
  background-color: transparent;
  height: auto;
  left: 781px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x15 .contribuableconjointpartenaire {
  background-color: transparent;
  height: auto;
  left: 920px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x15 .dbut-du-contrat {
  background-color: transparent;
  height: auto;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x15 .fin-du-contrat {
  background-color: transparent;
  height: auto;
  left: 579px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x15 .jour {
  background-color: transparent;
  height: auto;
  left: 427px;
  letter-spacing: 0px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x15 .mois {
  background-color: transparent;
  height: auto;
  left: 394px;
  letter-spacing: 0px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x15 .total {
  background-color: transparent;
  height: auto;
  left: 691px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
