.a17 {
  width               : 100%;
  min-width           : 1044px;
  height              : 100vh;
  min-height          : 1180px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a17 .a17270 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1138px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 894px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17261 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1138px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 266px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17252 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1088px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 894px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17243 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1088px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 266px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17234 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1038px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 894px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17225 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1038px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 266px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17216 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 930px;
  height              : 100px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : 812px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17207 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 930px;
  height              : 100px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17198 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 869px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a17189 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 791px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 855px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a171710 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 818px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a171611 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 786px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a171512 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 791px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 224px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a171413 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 818px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a171314 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 786px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a171215 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 701px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a171116 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 600px;
  height              : 42px;
  width               : 1006px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a171017 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 550px;
  height              : 42px;
  width               : 1006px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a170918 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 500px;
  height              : 42px;
  width               : 1006px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a170819 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 450px;
  height              : 42px;
  width               : 1006px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a170720 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 400px;
  height              : 42px;
  width               : 1006px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a170621 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 350px;
  height              : 42px;
  width               : 1006px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a170522 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 300px;
  height              : 42px;
  width               : 1006px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a170423 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 250px;
  height              : 42px;
  width               : 1006px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .a1702170324 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 200px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 778px;
  transform           : rotate(-2.8556899638e-08deg);
  opacity             : 1.0;
}
.a17 .a170325 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 158px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 894px;
  transform           : rotate(-2.8556899638e-08deg);
  opacity             : 1.0;
}
.a17 .a170226 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 158px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 734px;
  transform           : rotate(-2.8556899638e-08deg);
  opacity             : 1.0;
}
.a17 .a170127 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 84px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a17 .montantannueldesfrais28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1152px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .pendantmois29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1102px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .montantmensueldesfrais30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1052px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .nomdubnficiairehommesfemmesdechargecrcheetc31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 934px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 664px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .contribuableconjointpartenaire32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 910px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 740px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .montantannueldesfrais33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1152px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .pendantmois34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1102px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .montantmensueldesfrais35 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1052px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .nomdubnficiairehommesfemmesdechargecrcheetc36 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 934px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .contribuable37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 910px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .fraisdedomesticitfraisdaidesetdesoinsenraisondeltatdedpendancefraisdegardedenfantrglementgrandducalmodifidu19dcembre200838 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 870px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .fraisdedomesticitfraisdaidesetdesoinsenraisondeltatdedpendancefraisdegardedenfantrglementgrandducalmodifidu19dcembre200838 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a17 .fraisdedomesticitfraisdaidesetdesoinsenraisondeltatdedpendancefraisdegardedenfantrglementgrandducalmodifidu19dcembre200838 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a17 .a39 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 804px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1005px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .djprsent40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 818px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 700px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .enannexe41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 786px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 700px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .tauxdelarductiondelacapacitdetravail42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 750px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 838px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a17 .certificatmdical43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 748px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 669px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .contribuableconjointpartenaire44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 728px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 740px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .a45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 804px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 374px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .djprsent46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 818px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .enannexe47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 786px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .tauxdelarductiondelacapacitdetravail48 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 750px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 207px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a17 .certificatmdical49 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 756px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .contribuable50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 728px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .invaliditetinfirmitrglementgrandducalmodifidu7mars196951 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 702px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .invaliditetinfirmitrglementgrandducalmodifidu7mars196951 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a17 .invaliditetinfirmitrglementgrandducalmodifidu7mars196951 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a17 .abattementsforfaitairesprvuspourleschargesextraordinairessuivantes52 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 672px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .abattementsforfaitairesprvuspourleschargesextraordinairessuivantes52 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a17 .abattementsforfaitairesprvuspourleschargesextraordinairessuivantes52 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a17 .contribuableconjointpartenaire53 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 902px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a17 .contribuable54 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 128px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 763px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .ledtaildeschargesdoittreindiquciaprsdanslecasdefraisdemaladielemontantbrutledtaildesfraisexpossetledtaildesremboursementspardestierssontjoindredanslecasdelentretiendeparentsncessiteuxleursnomsle55 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 158px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : italic;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .abattementderevenuimposabledufaitdechargesextraordinairesarticle127lirquisontinvitablesetquirduisentdefaonconsidrablelafacultcontributive56 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a17 .demandepourunabattementderevenuimposabledufaitdechargesextraordinaires57 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a17 .ce58 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1003px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}