@import url('https://fonts.googleapis.com/css?family=Arial:700,400');


.a01 {
  width               : 100%;
  min-width           : 1036px;
  height              : 100vh;
  min-height          : 971px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a01 .signaltique0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.a01 .nom1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .prnom2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 126px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .datedenaissancenumrodidentification3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 166px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .lieudenaissancelocalitpays4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .professionougenredelactivit5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 334px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .tlphoneaccessiblelejour6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 382px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .courriel7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 438px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .numrorue8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 504px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .codepostallocalit9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 544px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .pays10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 600px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .du112019au11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 666px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .numrorue12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 714px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .codepostallocalit13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 754px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .pays14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 810px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .coordonnesbancaires15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 844px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.a01 .titulaireducompte16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 894px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .codeiban17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 942px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .swiftbic18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 942px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 572px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .domicileousjourhabituelactuel19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 472px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 491px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .domicileousjourhabituelactuel19 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a01 .domicileousjourhabituelactuel19 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a01 .annemoisjour20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .numrodedossier21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 540px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .contribuable22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 343px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .anciendomicileousjourhabituelindiqueruniquementencasdechangemententrele112019etle3112201923 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 634px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .anciendomicileousjourhabituelindiqueruniquementencasdechangemententrele112019etle3112201923 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a01 .anciendomicileousjourhabituelindiqueruniquementencasdechangemententrele112019etle3112201923 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a01 .aindiquerobligatoirementsiattribu24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 300px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 109px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .aindiquerobligatoirementsiattribu24 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a01 .aindiquerobligatoirementsiattribu24 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a01 .annemoisjour25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 670px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .contribuableconjointpartenaire26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 719px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .rectangle227 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 113px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle328 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 226px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle429 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 65px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle530 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 329px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle631 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 377px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle732 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 425px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle933 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 490px;
  height              : 42px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1034 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 539px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1135 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 490px;
  height              : 42px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 296px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1236 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 539px;
  height              : 42px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 332px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1337 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 652px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1438 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 796px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1539 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 700px;
  height              : 42px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1640 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 748px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1741 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 700px;
  height              : 42px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 296px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1842 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 748px;
  height              : 42px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 332px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1943 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 113px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2044 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 226px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2145 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 65px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2246 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 329px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2347 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 377px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2448 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 425px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2549 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 587px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2650 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 490px;
  height              : 42px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2751 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 490px;
  height              : 42px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 740px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2852 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 539px;
  height              : 42px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 776px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle2953 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 652px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3054 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 796px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3155 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 748px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3256 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 700px;
  height              : 42px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 740px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3357 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 748px;
  height              : 42px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 776px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3458 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 539px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3559 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 700px;
  height              : 42px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3660 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 291px;
  height              : 32px;
  width               : 406px;
  position            : absolute;
  margin              : 0;
  left                : 410px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3861 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 175px;
  height              : 28px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle3962 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 881px;
  height              : 42px;
  width               : 852px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle4063 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 929px;
  height              : 42px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle4164 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 929px;
  height              : 42px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 666px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle4265 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 587px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle4366 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 175px;
  height              : 28px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}