@import url('https://fonts.googleapis.com/css?family=Arial:400,700');


.a01 {
  width               : 100%;
  min-width           : 1037px;
  height              : 100vh;
  min-height          : 1023px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a01 .rectangle1400 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 981px;
  height              : 42px;
  width               : 372px;
  position            : absolute;
  margin              : 0;
  left                : 665px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1391 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 981px;
  height              : 42px;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1382 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 931px;
  height              : 42px;
  width               : 854px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1373 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 822px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1364 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 822px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1355 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 772px;
  height              : 42px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 777px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1346 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 772px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1337 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 772px;
  height              : 42px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 331px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1328 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 772px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle1319 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 722px;
  height              : 42px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 741px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle13010 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 722px;
  height              : 42px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12911 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 722px;
  height              : 42px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 295px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12812 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 722px;
  height              : 42px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12713 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 672px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12614 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 672px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12515 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 603px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12416 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 603px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12317 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 553px;
  height              : 42px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 777px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12218 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 553px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12119 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 553px;
  height              : 42px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 331px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle12020 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 553px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11921 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 503px;
  height              : 42px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 741px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11822 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 503px;
  height              : 42px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11723 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 503px;
  height              : 42px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 295px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11624 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 503px;
  height              : 42px;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11525 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 434px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11426 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 434px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11327 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 384px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11228 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 384px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11129 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 334px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle11030 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 334px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10931 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 294px;
  height              : 32px;
  width               : 406px;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10832 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 225px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10733 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 225px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10634 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 170px;
  height              : 28px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10535 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 170px;
  height              : 28px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10436 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 108px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10337 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 108px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10238 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 58px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 629px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .rectangle10139 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 58px;
  height              : 42px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a01 .swiftbic40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 994px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 570px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .anciendomicileousjourhabituelindiqueruniquementencasdechangemententrele112019etle3112201941 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 652px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .anciendomicileousjourhabituelindiqueruniquementencasdechangemententrele112019etle3112201941 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a01 .anciendomicileousjourhabituelindiqueruniquementencasdechangemententrele112019etle3112201941 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a01 .domicileousjourhabituelactuel42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 482px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 489px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .domicileousjourhabituelactuel42 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a01 .domicileousjourhabituelactuel42 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a01 .aindiquerobligatoirementsiattribu43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 302px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .aindiquerobligatoirementsiattribu43 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a01 .aindiquerobligatoirementsiattribu43 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a01 .numrodedossier44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 538px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .annemoisjour45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 202px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 669px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .annemoisjour46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 202px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .contribuableconjointpartenaire47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .contribuable48 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 342px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .codeiban49 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 994px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .titulaireducompte50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 944px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .coordonnesbancaires51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 896px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a01 .pays52 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 836px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .codepostallocalit53 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 778px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .numrorue54 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 736px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .du112019au55 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 686px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .pays56 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 616px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .codepostallocalit57 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 558px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .numrorue58 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 516px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .courriel59 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 448px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .tlphoneaccessiblelejour60 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 390px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .professionougenredelactivit61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 340px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .lieudenaissancelocalitpays62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 230px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .datedenaissancenumrodidentification63 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .prnom64 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 122px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .nom65 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 72px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a01 .signaltique66 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}