.a04 {
  width               : 100%;
  min-width           : 1076px;
  height              : 100vh;
  min-height          : 1465px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a04 .rectangledate0 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1423px;
  height              : 42px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 661px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectanglelieu1 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1423px;
  height              : 42px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle4262 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1300px;
  height              : 42px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 801px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle4253 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1298px;
  height              : 42px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle4244 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1215px;
  height              : 42px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 801px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle4235 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1215px;
  height              : 42px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle4226 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1165px;
  height              : 42px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle4217 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1165px;
  height              : 42px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle4208 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1115px;
  height              : 42px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle4199 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1115px;
  height              : 42px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41810 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1065px;
  height              : 42px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41711 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1065px;
  height              : 42px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41612 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1027px;
  height              : 30px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41513 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1027px;
  height              : 30px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41414 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 968px;
  height              : 30px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41315 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 968px;
  height              : 30px;
  width               : 380px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41216 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 649px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41117 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 617px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle41018 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 585px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40919 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 553px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40820 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 502px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 381px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40721 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 502px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40622 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 470px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40523 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 336px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 873px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40424 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 310px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 873px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40325 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 312px;
  height              : 42px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 344px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40226 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 251px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .rectangle40127 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 84px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a04 .le28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1436px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 612px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .adfautderemplissagedescases423426ladministrationadmetunerpartitionde50chacundescontribuablecontribuableconjointpartenaireletauxdepourcentagedescases423et424ainsiquedescases425et426doittrede100larp29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1356px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .a30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1326px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 961px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .a31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1324px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 543px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .tauxderpartitiondurevenuimposableajustcommunmondialrallouer32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1300px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a04 .encasdedemandepouruneimpositionselonlarticle3ter3lirremplirlescases425et426ciaprs33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1270px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .a34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1240px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 961px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .a35 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1240px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 543px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .tauxderpartitiondesavancescommunespayesetnonpayesdundossiercommundelannedimposition201936 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1218px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a04 .annemoisjour37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1002px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 631px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .contribuableconjointpartenaire38 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 936px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 678px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .annemoisjour39 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1002px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .contribuable40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 936px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 328px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .swiftbic41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1178px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .codeiban42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1128px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .titulaireducompte43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1078px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .ndossierindividuel44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1026px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .datedenaissancenumrodidentification45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 960px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .encasdedemandepouruneimpositionselonlesarticles3ter2et3ter3lir46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 908px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .informationscomplmentaires47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 876px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.a04 .lespartenairesquinedemandentconjointementniuneimpositionindividuelleavecrallocationjusquauplustardle31mars2020niuneimpositioncollectivejusquauplustardle31dcembre2020sontimposssparmentdaprslergimededroitcommu48 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 794px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases32232449 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 742px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases32232449 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases32232449 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases32232449 .span2 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 692px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher50 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher50 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher50 .span2 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a04 .limpositionindividuelleavecrallocationselonlarticle3ter3lirremplircases41342651 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 650px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .limpositionindividuellepureselonlarticle3ter2lir52 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 618px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .limpositioncollectiveselonlarticle3lir53 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 586px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .pourlannedimposition2019nousdemandons54 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .ou55 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 524px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .parmyguichetlu56 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 502px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 417px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .parcourrier57 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 502px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .pourlannedimposition2019nousconfirmonsnotrechoixexprimendernierlieu58 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 470px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .impositionindividuellersidentsetnonrsidentsassimils59 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 434px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a04 .lademandeestvalablementformulelorsquelaprsenterubriquepartenairesestremplieetlorsqueladclarationpourlimptsurlerevenuestintroduiteetsigneparchacundespartenaires60 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 370px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .djprsent61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 336px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 909px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .enannexe62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 310px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 909px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .documenttabliparlesautoritscomptentes63 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 324px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 522px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .datedeladclarationdupartenariat64 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 324px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .nousdemandonslimpositioncollectiveausensdesarticles3biset157ter5lirpourlannedimposition2019nousdclaronsquenousavonspartagundomicilecommunouunersidencecommuneetquelepartenariataexistdudbutlafindelan65 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 252px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .partenairesrsidentsetnonrsidents66 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 216px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a04 .ensignantlaprsentedclarationpourlimptsurlerevenuensembleaveclecontribuablersidentlapersonnenonrsidentedemandetreimposecollectivementavecsonconjointenvertudelarticle3dlirettreimposecommesielleavait67 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 134px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .nousdemandonslimpositioncollectiveausensdelarticle3dlirpourlannedimposition2019nousdclaronsquaumoins90desrevenusprofessionnelsdenotremnagesontralisspendantlannedimpositionparlecontribuablersidentaulux68 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a04 .epouxdontlunestcontribuablersidentetlautreunepersonnenonrsidente69 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a04 .o70 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1052px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}