@import url('https://fonts.googleapis.com/css?family=Arial:400,700');


.a201903 {
  width               : 100%;
  min-width           : 1083px;
  height              : 100vh;
  min-height          : 1333px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a201903 .clibataire0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .etatcivil1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.a201903 .rectangle452 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 206px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle463 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 176px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle474 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 146px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .enr5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1002px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 33.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.a201903 .marie6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 148px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .divorce7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 178px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .veufveuve8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 208px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .rectangle499 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 377px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle5010 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 347px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle5111 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 317px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .envertudunedispenselgaleaccorde12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .spare13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 139px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .nonrsidentsremplirparlescontribuablesquinontpasleurdomicilefiscalouleursjourhabituelauluxembourg14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 430px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.a201903 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 500px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a201903 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt15 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a201903 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt15 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a201903 .pourlecontribuable16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 536px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 330px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .pourlecontribuableconjointpartenaire17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 536px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 728px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .nometprnom18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 568px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .datedenaissancenumrodidentification19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 610px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .numrorue20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 684px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .codepostallocalit21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 728px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .assimilationdunonrsidentaursident22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 790px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a201903 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 826px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc23 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a201903 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc23 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a201903 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc23 .span2 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a201903 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc23 .span3 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a201903 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc23 .span4 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a201903 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc23 .span5 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a201903 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc23 .span6 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a201903 .depuisle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 178px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .classedimpt25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 717px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .le26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 350px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 717px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .annemoisjour27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 650px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 230px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .annemoisjour28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 650px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 699px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .lecontribuablenonrsidentpeuttreassimilaucontribuablersidentsiaumoinsunedesconditionssuivantesestremplieencequiconcernelescontribuablesnonrsidentsmarisilsuffitquaumoinslundespouxsatisfaitlaconditionsousao29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 902px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .rectangle5230 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 977px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .aumoins90desrevenusmondiauxsontimposablesauluxembourgpourcentagedterminerselonlescases325327lesrevenusprovenantduneoccupationsalariedontledroitdimpositionnerevientpasauluxembourgenvertuduneconventioncontr31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 984px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .a32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 980px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .b33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1076px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .c34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .rectangle5335 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1075px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle5436 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1115px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .lesrevenusnetsannuelsnonsoumislimptsurlerevenuluxembourgeoissontinfrieurs1300037 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1076px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .lecontribuablenonrsidentayantsarsidencefiscaleenbelgiquepeutenvertudesdispositionsdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetreassimilauxcontribuablesrsidentssiplus38 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1120px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .dterminationduseuildesrevenusimposablesauluxembourg39 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1194px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .totaldesrevenusnonexonrsx10040 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1236px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .totaldesrevenusnonexonrsetexonrs41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1282px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .lescontribuablesnonrsidentsdoiventindiquerleursrevenusdesourceluxembourgeoisedanslescolonnesrevenusnonexonrs42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1316px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .x10043 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1248px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 774px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .a44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1258px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 892px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .a45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1258px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 987px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .a46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1245px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a201903 .a47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1247px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 615px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a201903 .rectangle448 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 554px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle5549 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 671px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle5650 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 671px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle5751 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 723px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle5852 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 723px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle5953 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 618px;
  height              : 30px;
  box-sizing          : border-box;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6054 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 554px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 653px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6155 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 671px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 653px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6256 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 671px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 771px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6357 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 723px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 771px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6458 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 723px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 653px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6559 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 618px;
  height              : 30px;
  box-sizing          : border-box;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 653px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6660 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 171px;
  height              : 30px;
  box-sizing          : border-box;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 497px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6761 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 102px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 829px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6862 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 343px;
  height              : 30px;
  box-sizing          : border-box;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 740px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle6963 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1223px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 616px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle7064 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1268px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 653px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle7165 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1244px;
  height              : 42px;
  box-sizing          : border-box;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 907px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .rectangle7266 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 83px;
  height              : 20px;
  box-sizing          : border-box;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(223, 226, 229, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .envertudunjugementdesparationdecorpsprononc67 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 350px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .envertudunedispensedelautoritjudiciaireaccorde68 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 380px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a201903 .a69 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 133px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 330px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 90.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.a201903 .a70 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 133px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 330px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 90.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.a201903 .a71 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 306px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 90.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.a201903 .a4b88a7789c6e8e0e12660877bcddcb7f72 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1247px;
  height              : 36px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 542px;
}
.a201903 .a4b88a7789c6e8e0e12660877bcddcb7f72 .group20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 36px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .a4b88a7789c6e8e0e12660877bcddcb7f72 .group20 .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 36px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a201903 .a4b88a7789c6e8e0e12660877bcddcb7f72 .group20 .group10 .path10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 36px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}