.a05 {
  width               : 100%;
  min-width           : 1060px;
  height              : 100vh;
  min-height          : 1514px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a05 .a5680 {
  top                 : 1472px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5671 {
  top                 : 1472px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5662 {
  top                 : 1472px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5653 {
  top                 : 1472px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5644 {
  top                 : 1407px;
  height              : 42px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 618px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5625635 {
  top                 : 1352px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 462px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5636 {
  top                 : 1311px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5627 {
  top                 : 1311px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5605618 {
  top                 : 1260px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 462px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a5619 {
  top                 : 1219px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a56010 {
  top                 : 1219px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55855911 {
  top                 : 1194.5px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 794px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55912 {
  top                 : 1154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55813 {
  top                 : 1154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55714 {
  top                 : 1154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55615 {
  top                 : 1154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55516 {
  top                 : 1098px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55417 {
  top                 : 1098px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55318 {
  top                 : 1098px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55219 {
  top                 : 1098px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55120 {
  top                 : 1048px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a55021 {
  top                 : 1048px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54922 {
  top                 : 1048px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54823 {
  top                 : 1048px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54724 {
  top                 : 998px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54625 {
  top                 : 998px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54526 {
  top                 : 998px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54427 {
  top                 : 998px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54328 {
  top                 : 914px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54229 {
  top                 : 914px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54130 {
  top                 : 914px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a54031 {
  top                 : 914px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53932 {
  top                 : 857px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53833 {
  top                 : 857px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53734 {
  top                 : 857px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53635 {
  top                 : 857px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53536 {
  top                 : 727px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53437 {
  top                 : 727px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53338 {
  top                 : 727px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53239 {
  top                 : 727px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53140 {
  top                 : 662px;
  height              : 42px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 618px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52953041 {
  top                 : 606.5px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 462px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a53042 {
  top                 : 566px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52943 {
  top                 : 566px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52752844 {
  top                 : 542px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 794px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52845 {
  top                 : 501px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52746 {
  top                 : 501px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52647 {
  top                 : 501px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52548 {
  top                 : 501px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52449 {
  top                 : 445px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52350 {
  top                 : 445px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52251 {
  top                 : 445px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52152 {
  top                 : 445px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a52053 {
  top                 : 395px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51954 {
  top                 : 395px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51855 {
  top                 : 395px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51756 {
  top                 : 395px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51657 {
  top                 : 345px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51558 {
  top                 : 345px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51459 {
  top                 : 345px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51360 {
  top                 : 345px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51261 {
  top                 : 295px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51162 {
  top                 : 295px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a51063 {
  top                 : 295px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50964 {
  top                 : 295px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50865 {
  top                 : 211px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50766 {
  top                 : 211px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50667 {
  top                 : 211px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50568 {
  top                 : 211px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50469 {
  top                 : 154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50370 {
  top                 : 154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50271 {
  top                 : 154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .a50172 {
  top                 : 154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .totalabcddductionsrevenureporterlapage20cases2005200873 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1474px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .totalabcddductionsrevenureporterlapage20cases2005200873 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a05 .totalabcddductionsrevenureporterlapage20cases2005200873 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a05 .dansqueletatpartielaccordsurleeeautrequeleluxembourgestcequevousexploitezuntablissementstableexerantuneactivitderechercheetdedveloppement74 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1410px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .exonrationselonlarticle50terlirjoindrelannexe76075 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1312px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a76 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1312px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .investissementsnouveauxenoutillageetmatrielproductifsainsiquenamnagementdelocauxarticle128terlir77 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1222px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a78 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1220px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .adduire79 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1200px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .totalabcd80 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1168px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficedecessionoudecessationnoncomprissousabouccidessussuivantannexe81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1100px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .d82 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1098px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dpensessuivantannexe83 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1048px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a84 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1048px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .recettessuivantannexe85 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 998px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a86 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 998px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficeforestier87 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 978px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .c88 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 978px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .partsdebnficeduneexploitationencommunsocitennomcollectifsocitcivileetc89 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 910px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .b90 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 908px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficeduneexploitationagricoleindividuelleselonlemodle141ou14491 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 858px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a92 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 858px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a93 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 800px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1042px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .dclarationsderetenuesdimptlasourceetdiversesdemandespage1994 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 828px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dterminationdubnficeagricoleetforestier95 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 800px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .totalabcddductionsrevenureporterlapage20cases2001200496 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 728px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .totalabcddductionsrevenureporterlapage20cases2001200496 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a05 .totalabcddductionsrevenureporterlapage20cases2001200496 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a05 .dansqueletatpartielaccordsurleeeautrequeleluxembourgestcequevousexploitezuntablissementstableexerantuneactivitderechercheetdedveloppement97 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 664px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .exonrationselonlarticle50terlirjoindrelannexe76098 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 568px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a99 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 566px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .adduire100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 548px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .totalabcd101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 514px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficedecessionoudecessationnoncomprissousabouccidessussuivantannexe102 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 448px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .d103 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 446px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dpensessuivantannexe104 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 396px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a105 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 396px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dpensesdductionforfaitairesiapplicable106 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 346px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a107 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 346px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .recettescommissionsdassurancesautrescommissionsetcsuivantannexe108 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 296px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a109 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 296px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficedivers110 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .c111 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .partsdebnficeduneentreprisecommercialeencommunsocitennomcollectifsocitencommanditesimpleetc112 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 208px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .b113 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficeduneentreprisecommercialeindividuelle114 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 156px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a115 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 154px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .c116 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1042px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .dclarationsderetenuesdimptlasourceetdiversesdemandespage19117 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 122px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 417px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dterminationdubnficecommercial118 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .contribuableconjointpartenaire119 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 918px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a05 .contribuable120 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 779px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .revenusexonrs121 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 807px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .contribuableconjointpartenaire122 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 586px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a05 .contribuable123 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 447px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .revenusnonexonrs124 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 452px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .ca125 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1010px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}