@import url('https://fonts.googleapis.com/css?family=Arial:700,400');


/* ANIMA screen - web19202 */
.font-class-1 {
  color               : var(--auto-palette-color-2);
  font-family         : Arial, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 400;
}
.font-class-2 {
  color               : var(--auto-palette-color-2);
  font-family         : Arial, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 700;
}
:root {
  --auto-palette-color-1: rgba(223,226,229,1.0);
  --auto-palette-color-2: rgba(0,0,0,1.0);
}
.web19202 .a58f3e3b7-366c-449c-832d-1a9fec89f045-TqkaiI {
  background-color    : rgba(0,0,0,0);
  font-size           : 23.0px;
  height              : auto;
  left                : 614px;
  line-height         : 23.0px;
  position            : absolute;
  text-align          : left;
  top                 : 500px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .a9c04114f-75f0-47ec-aaf7-fc2f5b08b910-xEJFaS {
  background-color    : rgba(0,0,0,0);
  font-size           : 23.0px;
  height              : auto;
  left                : 614px;
  line-height         : 23.0px;
  position            : absolute;
  text-align          : left;
  top                 : 438px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .a45d4efe6-e255-43dd-9d82-7eebb9639f3b-woLoyF {
  background-color    : rgba(0,0,0,0);
  font-size           : 23.0px;
  height              : auto;
  left                : 614px;
  line-height         : 23.0px;
  position            : absolute;
  text-align          : left;
  top                 : 396px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .d3268fa0-38ec-4710-a9e4-42e6bf6866af-ycVN3C {
  background-color    : rgba(0,0,0,0);
  font-size           : 23.0px;
  height              : auto;
  left                : 614px;
  line-height         : 23.0px;
  position            : absolute;
  text-align          : left;
  top                 : 354px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-45-b5ccf8ac-a17e-4d12-9cfd-0d41139630db-pPj5iw {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 588px;
  position            : absolute;
  top                 : 292px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .a46704bc6-038e-42fe-a0bc-e7b002382a1e-Prsn0A {
  background-color    : rgba(0,0,0,0);
  font-size           : 23.0px;
  height              : auto;
  left                : 614px;
  line-height         : 23.0px;
  position            : absolute;
  text-align          : left;
  top                 : 292px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-46-23865a67-96f5-4bfd-af8c-70d22c6e8477-40l7xN {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 588px;
  position            : absolute;
  top                 : 250px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .fb89b6a6-5ecd-4036-a5d8-fd13ee509ba0-PxPQ2q {
  background-color    : rgba(0,0,0,0);
  font-size           : 23.0px;
  height              : auto;
  left                : 614px;
  line-height         : 23.0px;
  position            : absolute;
  text-align          : left;
  top                 : 250px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-47-19d63f0c-0ad3-48a3-adc3-2b1b52f8c083-xKvYen {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 588px;
  position            : absolute;
  top                 : 209px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .a8dd889b7-c5dc-4d02-9b99-f03257dc9317-9uTzFP {
  background-color    : rgba(0,0,0,0);
  font-size           : 23.0px;
  height              : auto;
  left                : 614px;
  line-height         : 23.0px;
  position            : absolute;
  text-align          : left;
  top                 : 208px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-48-974b33b6-69ca-489b-9737-c05d796c4edd-x1EYVP {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 588px;
  position            : absolute;
  top                 : 167px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .a855bc654-7ee7-4d17-ad2c-4fa14a9f10fa-Ll3CoG {
  background-color    : rgba(0,0,0,0);
  font-size           : 23.0px;
  height              : auto;
  left                : 614px;
  line-height         : 23.0px;
  position            : absolute;
  text-align          : left;
  top                 : 166px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .e-fcd8b6da-1ff9-4940-8e1e-4d9ef020d7a1-oj95L3 {
  background-color    : rgba(0,0,0,0);
  font-size           : 33.0px;
  height              : auto;
  left                : 997px;
  line-height         : 33.0px;
  position            : absolute;
  text-align          : left;
  top                 : 2px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .auto-flex1-A9yKZG {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 749px;
  justify-content     : flex-start;
  left                : 0px;
  position            : absolute;
  top                 : 38px;
  width               : auto;
}
.web19202 .auto-flex-p9XfRn {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  position            : relative;
  width               : 25px;
}
.web19202 .a2-2383b456-7dc0-4f91-839b-5df722d3702c-KjP0xC {
  background-color    : rgba(0,0,0,0);
  flex-shrink         : 0;
  font-size           : 27.0px;
  height              : auto;
  line-height         : 27.0px;
  margin-top          : 600px;
  min-height          : 32px;
  min-width           : 35px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .a3-83f4478c-01b3-42b6-833c-0f5a1aa2e9fa-mq887R {
  background-color    : rgba(0,0,0,0);
  flex-shrink         : 0;
  font-size           : 27.0px;
  height              : auto;
  line-height         : 27.0px;
  margin-top          : 53px;
  min-height          : 32px;
  min-width           : 35px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .a4-2158ec61-a7bc-4d40-9d64-8110ce5c03f4-9apY4g {
  background-color    : rgba(0,0,0,0);
  font-size           : 27.0px;
  height              : auto;
  left                : 0px;
  line-height         : 27.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1262px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .demande-de-la-bonification-dimpot-pour-enfant-e35dec68-1c31-4cd0-a582-b70ae8100e29-ZEelOG {
  background-color    : rgba(0,0,0,0);
  font-size           : 27.0px;
  height              : auto;
  left                : 39px;
  line-height         : 27.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1262px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .demande-de-lapplication-du-credit-dimpot-monoparental-cim-08ede32c-a333-4e59-881f-69a8b718c8bc-oRBAav {
  background-color    : rgba(0,0,0,0);
  font-size           : 27.0px;
  height              : auto;
  left                : 39px;
  line-height         : 27.0px;
  position            : absolute;
  text-align          : left;
  top                 : 756px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .enfants-nayant-pas-fait-partie-du-menage-contribuable-3040948a-1d6a-46fd-a49a-6df4d912f7ba-0qItMS {
  background-color    : rgba(0,0,0,0);
  font-size           : 27.0px;
  height              : auto;
  left                : 39px;
  line-height         : 27.0px;
  position            : absolute;
  text-align          : left;
  top                 : 670px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .voir-rubrique-charges-extraordinaires-ce-page-18-cases-1801-et-suivantes-7cd32b3b-6a1c-449d-913e-d9660bc86bf1-kRJy5c {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 716px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .je-demande-le-credit-d-impot-monoparental-pour-personne-appartenant-a-la-classe-1a-ayant-au-moins-un-enfant-appartenant-au-menage-et-a-laquelle-le-credit-d-impot-monoparental-n-a-pas-ete-bonifie-par-l-intermediaire-de-l-employeur-ou-d-une-caisse-de-pensi-6fda910b-1b8a-44cd-a14a-afb65edc890f-pB716e {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 73px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 794px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .nom-et-prenom-de-l-enfant-enfant-s-vise-s-sous-1-ci-dessus-1a59d604-fe8e-494e-a148-fec038f91e9f-u7qcGL {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 878px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .nom-et-prenom-de-l-enfant-38f3de97-282c-40c9-86f5-69b894120320-juLeBJ {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1370px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .date-de-naissance-numero-didentification-69ab373b-8bae-4474-91d0-920ffd68329e-Q3hj4t {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 343px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1362px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .demande-pour-la-bonification-d-impot-pour-les-enfants-pour-lesquels-le-droit-a-une-moderation-d-impot-a-expire-en-2017-ou-en-2018-au-dela-d-un-revenu-imposable-ajuste-de-76-600-eur-la-bonification-d-impot-n-est-plus-accordee-sauf-lorsque-le-nombre-d-enfan-24f3749e-9b93-4c6d-86d6-6b7f8db1bf09-LzIJJR {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 75px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1300px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .montant-mensuel-de-lallocation-percue-40ce1a15-0d52-4644-b4a3-818a5ab66ccb-7YuWtD {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 372px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : center;
  top                 : 878px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-10-2f93718b-541e-4545-95da-1cd790b2fe39-NYU1Jc {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 428px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-11-3410ba73-f8cc-4829-b2c0-80af8947b3c8-ujzSrO {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 490px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-12-270742c4-6ef2-405f-b7cb-ac514ebcf37b-GmZO1Z {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 916px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 {
  background-color    : rgba(255,255,255,1.0);
  height              : 1484.0px;
  overflow            : hidden;
  position            : relative;
  width               : 1048.0px;
}
.web19202 .nom-et-prenom-de-l-enfant-e3a70f53-99fd-4ebb-9bb7-90fb25a7898e-OfjOxg {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 96px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .a02-265f6cd2-9db8-4ef5-9072-d73f8bfda339-r1NGU7 {
  background-color    : rgba(255,255,255,0);
  height              : 1597px;
  left                : 230px;
  position            : absolute;
  top                 : -17px;
  width               : 1124px;
}
.web19202 .a1-acb1c798-b16c-4b54-9c83-578b8b8cf58b-lzVNt9 {
  background-color    : rgba(0,0,0,0);
  flex-shrink         : 0;
  font-size           : 27.0px;
  height              : auto;
  line-height         : 27.0px;
  min-height          : 32px;
  min-width           : 35px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .demande-de-la-moderation-dimpot-pour-enfants-d4824047-860d-46b1-9edb-f1dcbe41df25-8qdnkx {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 579px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : center;
  top                 : 80px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .enfants-ayant-fait-partie-du-menage-contribuable-86d270e8-e513-4cfb-8355-9dd70ee903a3-t0CVxN {
  background-color    : rgba(0,0,0,0);
  font-size           : 27.0px;
  height              : auto;
  left                : 39px;
  line-height         : 27.0px;
  position            : absolute;
  text-align          : left;
  top                 : 38px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .specification-de-la-formation-professionnelle-6a4ffe07-b37c-463f-ae8a-f41770b2af26-Mdu3a3 {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 749px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : center;
  top                 : 88px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .a-enfants-ages-de-moins-de-21-ans-au-1-1-2019-ou-nes-en-cours-de-lannee-840abc69-a82c-4dda-8351-b20afef75e7e-hJQaoO {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : center;
  top                 : 138px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .b-enfants-ages-d-au-moins-21-ans-au-1-1-2019-et-ayant-poursuivi-de-facon-continue-des-etudes-de-formation-professionnelle-ad4e0bc9-3eaf-45af-8117-f976715ac37f-L3Yxkh {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 326px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .c-enfants-ages-d-au-moins-21-ans-au-1-1-2019-jouissant-de-l-allocation-familiale-continuee-enfants-handicapes-ou-infirmes-e4578271-2a20-45f6-87e5-5ade46a742bc-Xiwv1T {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 472px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .a-cocher-uniquement-au-cas-ou-la-moderation-d-impot-pour-enfants-n-a-pas-ete-accordee-sous-la-forme-d-allocation-familiale-par-la-cae-d-aide-financiere-de-l-etat-pour-etudes-superieures-ou-d-aide-aux-volontaires-f2e57958-07c6-4cb0-bfd0-89d0de8eb59e-TI1yx1 {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 536px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .a5989532c-f8cc-437e-87d8-8064b8713f99-r7hpks {
  background-color    : rgba(0,0,0,0);
  flex-shrink         : 0;
  font-size           : 16.0px;
  height              : auto;
  line-height         : 16.0px;
  margin-left         : 1px;
  margin-top          : 262.0px;
  min-height          : 19px;
  min-width           : 18px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .dans-le-cas-des-contribuables-vivant-en-menage-sans-etre-maries-qui-ont-des-enfants-communs-pour-lesquels-aucune-allocation-familiale-aide-financiere-pour-etudes-superieures-ou-aide-aux-volontaires-n-a-ete-payee-la-moderation-d-impot-pour-enfant-sous-la-3188b1d7-61e5-4e8d-a6bd-46c3de5c0fe0-3eKFkJ {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 578px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-9-b8bfef85-c109-481c-a354-1aac22286bdc-JjGkcP {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 386px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .date-de-naissance-numero-didentification-ea320a0b-ac77-415e-b042-314cda46020a-EkxTxr {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 345px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : center;
  top                 : 88px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-8-1de0ee69-beeb-4ff3-aa63-488801ec56b9-YXpqIU {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 344px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-7-b8352f3c-6789-40d0-919d-79ae66f7de28-WuXyGo {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 282px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-6-06500638-0f4d-423a-aa8e-876e1cf9070b-NtmlSX {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 240px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-5-83d28644-ae90-44de-bf65-6df9079f439a-2i0ucE {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 198px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-16-8f330e1d-6911-4894-b7ee-41911d8226b8-qwgaFy {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 1197px;
  transform           : rotate(0deg);
  width               : 960px;
}
.web19202 .rectangle-17-2bfc016b-96a0-4bf0-9ebd-5846445231bd-WkqPNJ {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 701px;
  position            : absolute;
  top                 : 344px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-18-e8628a5f-155f-4848-ba6f-93638b4b17fd-MmP6b2 {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 701px;
  position            : absolute;
  top                 : 386px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-24-2c657df1-0e7b-4e27-955c-db8cc4b95af1-q3OrZc {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 344px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-25-1ae1415d-e6c1-45ae-9544-ec3a167fbd79-2n913Q {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 386px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-21-43461f89-4b45-4fa6-9d32-83283d1032e5-khx82V {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 240px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-22-fc8ddb62-4cc7-4454-ac49-92689dc69a13-LSAxgB {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 198px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-23-a73e09ed-9273-4b80-aac2-c7a6a044d3bb-OXyoDM {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 156px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-19-b36b97ef-c0bb-4c00-8d53-5d1a6dccaa86-XNzLOW {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 701px;
  position            : absolute;
  top                 : 428px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-20-409f7388-ab1f-4380-80ee-fc59689771d2-M36GbN {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 282px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-4-6fb2d2b4-eb33-452f-ab54-dbf8588483c5-cCmsvm {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 156px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .par-allocations-il-convient-de-comprendre-les-rentes-alimentaires-le-paiement-des-frais-d-entretien-d-education-et-de-formation-professionnelle-etc-les-rentes-orphelins-et-les-prestations-familiales-allocations-familiales-n-entrent-pas-en-ligne-de-df68a3be-ca33-4425-9e8a-1c371feab883-O4zxEA {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1054px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .lorsqu-aucun-revenu-n-est-declare-dans-les-rubriques-c-a-i-s-p-cm-l-et-d-les-moyens-de-subsistance-doivent-etre-indiques-ci-dessous-192ae9a1-6968-4bf4-93b7-36b5a321f9c3-PIp8Nq {
  background-color    : rgba(0,0,0,0);
  font-size           : 16.0px;
  height              : auto;
  left                : 39px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1108px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-26-01a8c88d-1989-4d58-a625-83b5553ac45c-fEsqbb {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 428px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-13-f913adc0-796b-4354-923f-938afab97b08-NJUHfI {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 958px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-14-2fd56a53-87dd-4661-b133-5b146720fe5b-3xqxAx {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 1000px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-15-dd52c728-d98c-4116-9240-91ea403c1bfa-E9LlTm {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 1150px;
  transform           : rotate(0deg);
  width               : 958px;
}
.web19202 .rectangle-27-7af84aa1-99cd-45fe-8ad0-74f2c48b8b24-hiKp4b {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 490px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .annee-mois-jour-002b580c-62f4-42f6-bdb8-8a117793bbde-oc2l71 {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 362px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 228px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .annee-mois-jour-62c8458b-dd4e-4a28-a390-6e3db29d1a3a-FPuApy {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 362px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 310px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .annee-mois-jour-ccdb6ce3-70bc-4ab3-ae88-8cfd5113cd80-InZbJw {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 362px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 376px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .annee-mois-jour-72cd496d-b779-4de5-a64b-b95c6bcc9183-b8kBMh {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 362px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 268px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .annee-mois-jour-7a925095-656a-4c56-8898-144f739fc748-QituHN {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 362px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 458px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .annee-mois-jour-79c072be-e5cf-464d-8422-708cf66c27d2-aMwr8p {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 362px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 416px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .annee-mois-jour-90602d03-17fc-4f2a-ad38-e8f84202c2a8-DIv0CO {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 362px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 186px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .annee-mois-jour-00021333-e044-446c-a5ec-c2b94c04e6d3-dmg6xg {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 362px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 520px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .annee-mois-jour-1f47e4b0-8e9b-47ba-aa66-dae2a3419732-X0rePx {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 361px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1430px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-28-0466b340-2665-4b03-8ae5-9ec781fdfef1-lExbdJ {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 1400px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-29-87e434fc-a5e2-4c1c-ac8a-79c9536b23f6-pGzM8h {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 1442px;
  transform           : rotate(0deg);
  width               : 220px;
}
.web19202 .rectangle-30-9e3f1de8-a6a3-4a76-85c3-f83a35840ec6-cGR2IX {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 1400px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .annee-mois-jour-29e43cb5-11b7-4600-9fa3-9e8e818ac3a4-AYpD34 {
  background-color    : rgba(0,0,0,0);
  font-size           : 8.0px;
  height              : auto;
  left                : 361px;
  line-height         : 8.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1472px;
  transform           : rotate(0deg);
  width               : auto;
}
.web19202 .rectangle-44-74205005-2ed5-4a55-8aef-81fa67f8732e-xDRA7o {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 588px;
  position            : absolute;
  top                 : 501px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .rectangle-41-83922330-4a8a-407b-b325-999694c17085-qmj3lj {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 588px;
  position            : absolute;
  top                 : 355px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .rectangle-35-882038b0-668d-4836-a4fa-2218f4c4eaa6-oBk2O5 {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 21px;
  position            : absolute;
  top                 : 792px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .rectangle-33-f6325cdc-f5e6-4a24-8132-5bdd3f1dcd77-258E9I {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 958px;
  transform           : rotate(0deg);
  width               : 218px;
}
.web19202 .rectangle-32-2484293d-16f5-473d-ba7b-4a4e6e1ad1c7-CqKEpS {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 916px;
  transform           : rotate(0deg);
  width               : 218px;
}
.web19202 .rectangle-34-f0737bf1-603a-4237-b594-9cb8ae6f64b4-WnY0Gr {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 335px;
  position            : absolute;
  top                 : 1000px;
  transform           : rotate(0deg);
  width               : 218px;
}
.web19202 .rectangle-31-7c266ce1-7195-4f7a-a662-01de5f78786f-zylsFo {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 42px;
  left                : 39px;
  position            : absolute;
  top                 : 1442px;
  transform           : rotate(0deg);
  width               : 296px;
}
.web19202 .rectangle-36-d75487b4-3ce4-4171-8b46-a691b1fead00-C5hUCK {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 23px;
  position            : absolute;
  top                 : 1298px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .rectangle-42-d026ab33-5b61-4059-b217-6d28323ed975-fothlq {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 588px;
  position            : absolute;
  top                 : 439px;
  transform           : rotate(0deg);
  width               : 20px;
}
.web19202 .rectangle-43-2d3a65a3-3050-4a2c-82c5-86be19233cc7-gIzT8Y {
  background-color    : var(--auto-palette-color-1);
  border-color        : var(--auto-palette-color-1);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 20px;
  left                : 588px;
  position            : absolute;
  top                 : 397px;
  transform           : rotate(0deg);
  width               : 20px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
* {
  box-sizing          : border-box;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper ,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}