@import url('https://fonts.googleapis.com/css?family=Arial:400,700');


.a03 {
  width               : 100%;
  min-width           : 1077px;
  height              : 100vh;
  min-height          : 1360px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a03 .rectangle3270 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1271px;
  height              : 42px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 941px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3261 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1295px;
  height              : 42px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 687px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3252 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1250px;
  height              : 42px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 625px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3243 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1138px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3234 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1094px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3225 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 999px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3216 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 753px;
  height              : 42px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 765px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3207 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 753px;
  height              : 42px;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3198 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 753px;
  height              : 42px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 299px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle3189 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 753px;
  height              : 42px;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle31710 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 703px;
  height              : 42px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 765px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle31611 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 703px;
  height              : 42px;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle31512 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 703px;
  height              : 42px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 299px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle31413 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 703px;
  height              : 42px;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle31314 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 646px;
  height              : 30px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle31215 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 646px;
  height              : 30px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle31116 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 584px;
  height              : 42px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle31017 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 584px;
  height              : 42px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30918 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 367px;
  height              : 30px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 745px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30819 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 403px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30720 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 373px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30621 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 343px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30522 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 199px;
  height              : 30px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 491px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30423 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 236px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30324 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 206px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30225 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 176px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangle30126 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 84px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .rectangleclassedimpt27 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 129px;
  height              : 42px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .a28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1286px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1021px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .a29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1286px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 926px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .a30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 649px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a03 .x10031 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 808px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .group132 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1274px;
  height              : 36px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 576px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a03 .group132 .path10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -0px;
  height              : 36px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
}
.a03 .lescontribuablesnonrsidentsdoiventindiquerleursrevenusdesourceluxembourgeoisedanslescolonnesrevenusnonexonrs33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1344px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .totaldesrevenusnonexonrsetexonrs34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1308px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .a35 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1272px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a03 .totaldesrevenusnonexonrsx10036 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1264px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .dterminationduseuildesrevenusimposablesauluxembourg37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1222px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .lecontribuablenonrsidentayantsarsidencefiscaleenbelgiquepeutenvertudesdispositionsdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetreassimilauxcontribuablesrsidentssiplus38 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1140px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .c39 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1138px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .lesrevenusnetsannuelsnonsoumislimptsurlerevenuluxembourgeoissontinfrieurs1300040 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1094px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .b41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1094px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .aumoins90desrevenusmondiauxsontimposablesauluxembourgpourcentagedterminerselonlescases325327lesrevenusprovenantduneoccupationsalariedontledroitdimpositionnerevientpasauluxembourgenvertuduneconventioncontr42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1002px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .a43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1000px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .lecontribuablenonrsidentpeuttreassimilaucontribuablersidentsiaumoinsunedesconditionssuivantesestremplieencequiconcernelescontribuablesnonrsidentsmarisilsuffitquaumoinslundespouxsatisfaitlaconditionsousao44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 924px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 860px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a03 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a03 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 .span2 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a03 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 .span3 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a03 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 .span4 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a03 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 .span5 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-decoration     : underline;
}
.a03 .demandepourlapplicationdesdispositionsdelarticle157terliretdelarticle244adelaconventioncontrelesdoublesimpositionsentreleluxembourgetlabelgiquetouslesrevenusdesourceluxembourgeoiserevenusnonexonrsetdesourc45 .span6 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a03 .assimilationdunonrsidentaursident46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 826px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.a03 .annemoisjour47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 680px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 687px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .pourlecontribuableconjointpartenaire48 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 564px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 722px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .annemoisjour49 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 680px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .pourlecontribuable50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 564px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 326px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .codepostallocalit51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 758px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .numrorue52 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 716px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .datedenaissancenumrodidentification53 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 638px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .nometprnom54 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 598px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt55 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 520px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.a03 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt55 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a03 .electionfacultativedundomicileauluxembourgadressepourlanotificationdesbulletinsdimpt55 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a03 .nonrsidentsremplirparlescontribuablesquinontpasleurdomicilefiscalouleursjourhabituelauluxembourg56 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 460px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a03 .le57 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 374px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 722px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .classedimpt58 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 142px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 722px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .a59 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 330px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 611px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 90.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.a03 .depuisle60 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 417px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .a61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 308px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 90.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.a03 .envertudunedispensedelautoritjudiciaireaccorde62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 404px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 104px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .envertudunjugementdesparationdecorpsprononc63 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 374px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 104px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .envertudunedispenselgaleaccorde64 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 104px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .spare65 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 296px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 104px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .veufveuve66 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 104px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .divorce67 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 104px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .marie68 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 104px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .clibataire69 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 104px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a03 .etatcivil70 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a03 .enr71 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1008px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}