.a10 {
  width               : 100%;
  min-width           : 1061px;
  height              : 100vh;
  min-height          : 1412px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a10 .a10590 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1370px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10581 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1370px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10572 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1370px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 439px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10563 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1370px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 279px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10554 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1281px;
  height              : 42px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 888px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10545 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1281px;
  height              : 42px;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 398px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10536 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1231px;
  height              : 42px;
  width               : 352px;
  position            : absolute;
  margin              : 0;
  left                : 707px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10527 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1231px;
  height              : 42px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 617px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10518 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1231px;
  height              : 42px;
  width               : 360px;
  position            : absolute;
  margin              : 0;
  left                : 227px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a10509 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1231px;
  height              : 42px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104910 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1181px;
  height              : 42px;
  width               : 442px;
  position            : absolute;
  margin              : 0;
  left                : 617px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104811 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1181px;
  height              : 42px;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104712 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1006px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104613 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1006px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104514 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1006px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104415 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1006px;
  height              : 42px;
  width               : 246px;
  position            : absolute;
  margin              : 0;
  left                : 333px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104316 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1006px;
  height              : 42px;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104217 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 964px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104118 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 964px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a104019 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 964px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103920 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 964px;
  height              : 42px;
  width               : 246px;
  position            : absolute;
  margin              : 0;
  left                : 333px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103821 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 964px;
  height              : 42px;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103722 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 922px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103623 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 922px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103524 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 922px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103425 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 922px;
  height              : 42px;
  width               : 246px;
  position            : absolute;
  margin              : 0;
  left                : 333px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103326 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 922px;
  height              : 42px;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a1031103227 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 711px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 795px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103228 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 669px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103129 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 669px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a1029103030 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 711px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 463px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a103031 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 669px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102932 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 669px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102833 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 606px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102734 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 606px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102635 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 606px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102536 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 606px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102437 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 523px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102338 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 523px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102239 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 523px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102140 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 523px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a102041 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 444px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101942 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 444px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101843 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 444px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101744 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 444px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101645 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 376px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101546 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 376px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101447 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 376px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101348 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 376px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101249 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 298px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101150 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 298px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a101051 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 298px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100952 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 298px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100853 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 229px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100754 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 229px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100655 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 229px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100556 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 229px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100457 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 160px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100358 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 160px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100259 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 160px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .a100160 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 160px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a10 .contribuableconjointpartenaire61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1332px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 919px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .contribuable62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1340px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 780px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .contribuableconjointpartenaire63 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1332px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 447px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .contribuable64 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1340px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 308px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .intrtsdbiteursourentesviagresdductiblesreporterauxcases1021102465 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1344px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .occupedepuisle66 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1294px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .numrorue67 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1244px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .habitationsise68 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1194px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .habitationb69 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1160px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 617px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .habitationa70 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1160px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .aprsle31122013200071 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1120px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 917px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .entrele31122008etle112014150072 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1120px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .avantle112009100073 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1120px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 359px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .datedoccupationdelhabitationplafonddductible74 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1120px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .lavaleurlocativefixe0delavaleurunitairedepuisle112017peuttrerduitejusquconcurrencedunplafonddesintrtsetdesarrragesderentesviagresdiminusduneventuellesubventionoubonificationceplafondestmajordeso75 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1062px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .intrtsdbiteursouchargesacquittssubventionetbonificationdduites76 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 884px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 767px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .montantdeladetteau3112201977 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 884px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 585px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .relationconomiquedeladetteounaturedelarente78 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 884px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 341px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .nomdeltablissementdecrditounometadressedubnficiairedelarente79 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 884px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .contribuableconjointpartenaire80 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 838px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 919px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .contribuable81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 846px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 780px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .dtaildesdettesdesarrragesderentesetdeschargespermanentesenrapportavecllesimmeublesprcitsterrainconstructionetc82 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 838px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .l283 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 800px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1033px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a10 .intrtsdbiteursdductiblesetarrragesderentesviagresenrapportaveclhabitationoccupeparlepropritaireoucdegratuitementdestiers84 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 786px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.a10 .totalrevenureporterlapage20cases2025202885 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 670px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .totalrevenureporterlapage20cases2025202885 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a10 .totalrevenureporterlapage20cases2025202885 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a10 .partnonencoredduitedesfraisimportantsdobtentionrglementgrandducaldu317198086 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 602px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .a87 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 600px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .intrtsdbiteursdductiblesouarrragesderentesviagresenrapportaveclhabitationoccupeparlepropritaireoucdegratuitementdestiersnoncomprisesousaoubcidessusremplirrubriquel2ciaprs88 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 504px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .a89 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 500px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .f90 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 500px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .pertedelocationenrelationconomiqueavecunimmeubleenvoiedeconstruction91 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 450px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .e92 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 448px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .revenuprovenantderedevancespayespourlusageoulaconcessiondelusagededroitsdepropritindustrielleouintellectuellepexbrevetsdroitsdauteursuivantannexe93 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 364px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .d94 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 362px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .revenuprovenantdelaconcessiondudroitdextractiondesubstancesminralespexmineraispierresetterressuivantannexe95 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .c96 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 292px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .partsderevenuprovenantdelalocationoudelaffermagedepropritsbtiesdecopropritsindivisesselonlesmodles200et21097 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 226px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .b98 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 224px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .revenuprovenantdelalocationoudelaffermagedepropritsbtiesselonlemodle190nonbtiesselonlemodle195etdebiensmeubles99 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 156px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .a100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 154px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .l1101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1033px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a10 .dterminationdurevenunetprovenantdelalocationdebiens102 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a10 .contribuableconjointpartenaire103 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 919px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .contribuable104 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 780px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .revenusexonrs105 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 808px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a10 .contribuableconjointpartenaire106 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 587px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a10 .contribuable107 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 448px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a10 .revenusnonexonrs108 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 453px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a10 .l109 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1042px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}