.a05 {
  width               : 100%;
  min-width           : 1061px;
  height              : 100vh;
  min-height          : 1488px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a05 .rectangle5680 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1446px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5671 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1446px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5662 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1446px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5653 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1446px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5644 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1381px;
  height              : 42px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 619px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5625635 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1327px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 463px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5636 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1285px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5627 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1285px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5605618 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1235px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 463px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle5619 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1193px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle56010 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1193px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55855911 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1172px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 795px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55912 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1130px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55813 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1130px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55714 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1130px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55615 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1130px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55516 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1074px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55417 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1074px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55318 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1074px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55219 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1074px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55120 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1024px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle55021 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1024px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54922 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1024px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54823 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1024px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54724 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 974px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54625 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 974px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54526 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 974px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54427 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 974px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54328 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 906px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54229 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 906px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54130 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 906px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle54031 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 906px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53932 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 849px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53833 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 849px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53734 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 849px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53635 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 849px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53536 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 721px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53437 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 721px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53338 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 721px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53239 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 721px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53140 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 656px;
  height              : 42px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 619px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52953041 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 602px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 463px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle53042 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 560px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52943 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 560px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52752844 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 537px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 795px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52845 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 495px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52746 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 495px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52647 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 495px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52548 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 495px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52449 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 439px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52350 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 439px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52251 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 439px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52152 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 439px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle52053 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 389px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51954 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 389px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51855 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 389px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51756 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 389px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51657 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 339px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51558 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 339px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51459 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 339px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51360 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 339px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51261 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 289px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51162 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 289px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle51063 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 289px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50964 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 289px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50865 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 211px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50766 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 211px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50667 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 211px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50568 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 211px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50469 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50370 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50271 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .rectangle50172 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 154px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a05 .totalabcddductionsrevenureporterlapage20cases2005200873 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1452px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .totalabcddductionsrevenureporterlapage20cases2005200873 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a05 .totalabcddductionsrevenureporterlapage20cases2005200873 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a05 .dansqueletatpartielaccordsurleeeautrequeleluxembourgestcequevousexploitezuntablissementstableexerantuneactivitderechercheetdedveloppement74 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1384px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .exonrationselonlarticle50terlirjoindrelannexe76075 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1312px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a76 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1310px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .investissementsnouveauxenoutillageetmatrielproductifsainsiquenamnagementdelocauxarticle128terlir77 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1202px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a78 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1200px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .adduire79 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1176px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .totalabcd80 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1144px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficedecessionoudecessationnoncomprissousabouccidessussuivantannexe81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1072px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .d82 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1070px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dpensessuivantannexe83 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1038px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a84 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1038px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .recettessuivantannexe85 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 988px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a86 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 988px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficeforestier87 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 966px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .c88 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 966px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .partsdebnficeduneexploitationencommunsocitennomcollectifsocitcivileetc89 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 902px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .b90 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 900px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficeduneexploitationagricoleindividuelleselonlemodle141ou14491 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 854px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a92 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 854px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a93 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 794px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1043px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .dclarationsderetenuesdimptlasourceetdiversesdemandespage1994 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 820px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dterminationdubnficeagricoleetforestier95 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 795px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a05 .contribuableconjointpartenaire96 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 919px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a05 .contribuable97 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 780px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .revenusexonrs98 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 808px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .contribuableconjointpartenaire99 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 587px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a05 .contribuable100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 448px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .revenusnonexonrs101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 453px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .totalabcddductionsrevenureporterlapage20cases20012004102 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 726px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .totalabcddductionsrevenureporterlapage20cases20012004102 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a05 .totalabcddductionsrevenureporterlapage20cases20012004102 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a05 .dansqueletatpartielaccordsurleeeautrequeleluxembourgestcequevousexploitezuntablissementstableexerantuneactivitderechercheetdedveloppement103 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 658px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .exonrationselonlarticle50terlirjoindrelannexe760104 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 568px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a105 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 566px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .adduire106 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 542px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .totalabcd107 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 508px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficedecessionoudecessationnoncomprissousabouccidessussuivantannexe108 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 436px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .d109 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 434px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dpensessuivantannexe110 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 402px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a111 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 402px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dpensesdductionforfaitairesiapplicable112 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a113 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .recettescommissionsdassurancesautrescommissionsetcsuivantannexe114 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a115 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficedivers116 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .c117 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .partsdebnficeduneentreprisecommercialeencommunsocitennomcollectifsocitencommanditesimpleetc118 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 208px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .b119 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .bnficeduneentreprisecommercialeindividuelle120 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .a121 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 158px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .c122 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1037px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .dclarationsderetenuesdimptlasourceetdiversesdemandespage19123 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 126px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 417px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a05 .dterminationdubnficecommercial124 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a05 .ca125 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1011px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}