.a04 {
  width: 100%;
  min-width: 1076px;
  height: 100vh;
  min-height: 1460px;
  position: relative;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a04 .rectangledate0 {
  background-color: #dfe2e5;
  top: 1418px;
  height: 42px;
  width: 222px;
  position: absolute;
  margin: 0;
  left: 817px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .rectanglelieu1 {
  background-color: #dfe2e5;
  top: 1418px;
  height: 42px;
  width: 308px;
  position: absolute;
  margin: 0;
  left: 443px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4262 {
  background-color: #dfe2e5;
  top: 1295px;
  height: 42px;
  width: 190px;
  position: absolute;
  margin: 0;
  left: 849px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4253 {
  background-color: #dfe2e5;
  top: 1293px;
  height: 42px;
  width: 190px;
  position: absolute;
  margin: 0;
  left: 403px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4244 {
  background-color: #dfe2e5;
  top: 1210px;
  height: 42px;
  width: 190px;
  position: absolute;
  margin: 0;
  left: 849px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4235 {
  background-color: #dfe2e5;
  top: 1210px;
  height: 42px;
  width: 190px;
  position: absolute;
  margin: 0;
  left: 403px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4226 {
  background-color: #dfe2e5;
  top: 1160px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4217 {
  background-color: #dfe2e5;
  top: 1160px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4208 {
  background-color: #dfe2e5;
  top: 1110px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4199 {
  background-color: #dfe2e5;
  top: 1110px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41810 {
  background-color: #dfe2e5;
  top: 1060px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41711 {
  background-color: #dfe2e5;
  top: 1060px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41612 {
  background-color: #dfe2e5;
  top: 1024px;
  height: 30px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41513 {
  background-color: #dfe2e5;
  top: 1024px;
  height: 30px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41414 {
  background-color: #dfe2e5;
  top: 969px;
  height: 28px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41315 {
  background-color: #dfe2e5;
  top: 969px;
  height: 28px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41216 {
  background-color: #dfe2e5;
  top: 649px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 183px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41117 {
  background-color: #dfe2e5;
  top: 617px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 183px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41018 {
  background-color: #dfe2e5;
  top: 585px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 183px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40919 {
  background-color: #dfe2e5;
  top: 553px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40820 {
  background-color: #dfe2e5;
  top: 502px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 381px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40721 {
  background-color: #dfe2e5;
  top: 502px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 183px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40622 {
  background-color: #dfe2e5;
  top: 470px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40523 {
  background-color: #dfe2e5;
  top: 336px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 873px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40424 {
  background-color: #dfe2e5;
  top: 310px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 873px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40325 {
  background-color: #dfe2e5;
  top: 312px;
  height: 42px;
  width: 138px;
  position: absolute;
  margin: 0;
  left: 344px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40226 {
  background-color: #dfe2e5;
  top: 251px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40127 {
  background-color: #dfe2e5;
  top: 84px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .le28 {
  background-color: rgba(255, 255, 255, 0);
  top: 1432px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 780px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .adfautderemplissagedescases423426ladministrationadmetunerpartitionde50chacundescontribuablecontribuableconjointpartenaireletauxdepourcentagedescases423et424ainsiquedescases425et426doittrede100larp29 {
  background-color: rgba(255, 255, 255, 0);
  top: 1352px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .a30 {
  background-color: rgba(255, 255, 255, 0);
  top: 1320px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1019px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .a31 {
  background-color: rgba(255, 255, 255, 0);
  top: 1318px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 572px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .tauxderpartitiondurevenuimposableajustcommunmondialrallouer32 {
  background-color: rgba(255, 255, 255, 0);
  top: 1295px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.0px;
  color: black;
  text-align: left;
  line-height: 14.0px;
}

.a04 .encasdedemandepouruneimpositionselonlarticle3ter3lirremplirlescases425et426ciaprs33 {
  background-color: rgba(255, 255, 255, 0);
  top: 1264px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .a34 {
  background-color: rgba(255, 255, 255, 0);
  top: 1236px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1019px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .a35 {
  background-color: rgba(255, 255, 255, 0);
  top: 1236px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 572px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .tauxderpartitiondesavancescommunespayesetnonpayesdundossiercommundelannedimposition201936 {
  background-color: rgba(255, 255, 255, 0);
  top: 1213px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.0px;
  color: black;
  text-align: left;
  line-height: 14.0px;
}

.a04 .line4837 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 1007px;
}

.a04 .line4738 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 976px;
}

.a04 .line4639 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 944px;
}

.a04 .line4540 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 913px;
}

.a04 .line4441 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 882px;
}

.a04 .line4342 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 850px;
}

.a04 .line4243 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 819px;
}

.a04 .line4144 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 787px;
}

.a04 .line4045 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 756px;
}

.a04 .line3946 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 725px;
}

.a04 .line3847 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 693px;
}

.a04 .line3748 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 662px;
}

.a04 .jour49 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 835px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .mois50 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .anne51 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 671px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .line3652 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 1007px;
}

.a04 .line3553 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 976px;
}

.a04 .line3454 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 944px;
}

.a04 .line3355 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 913px;
}

.a04 .line3256 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 882px;
}

.a04 .line3157 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 850px;
}

.a04 .line3058 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 819px;
}

.a04 .line2959 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 787px;
}

.a04 .line2860 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 756px;
}

.a04 .line2761 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 725px;
}

.a04 .line2662 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 693px;
}

.a04 .line2563 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 662px;
}

.a04 .contribuableconjointpartenaire64 {
  background-color: rgba(255, 255, 255, 0);
  top: 936px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 722px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .line2465 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 561px;
}

.a04 .line2366 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 530px;
}

.a04 .line2267 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 498px;
}

.a04 .line2168 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 467px;
}

.a04 .line2069 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 436px;
}

.a04 .line1970 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 404px;
}

.a04 .line1871 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 373px;
}

.a04 .line1772 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 341px;
}

.a04 .line1673 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 310px;
}

.a04 .line1574 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 279px;
}

.a04 .line1475 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 247px;
}

.a04 .line1376 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 216px;
}

.a04 .jour77 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 389px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .mois78 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 325px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .anne79 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 225px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .line1280 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 561px;
}

.a04 .line1181 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 530px;
}

.a04 .line1082 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 498px;
}

.a04 .line983 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 467px;
}

.a04 .line884 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 436px;
}

.a04 .line785 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 404px;
}

.a04 .line686 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 373px;
}

.a04 .line587 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 341px;
}

.a04 .line488 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 310px;
}

.a04 .line389 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 279px;
}

.a04 .line290 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 247px;
}

.a04 .line191 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 216px;
}

.a04 .contribuable92 {
  background-color: rgba(255, 255, 255, 0);
  top: 936px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 344px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .swiftbic93 {
  background-color: rgba(255, 255, 255, 0);
  top: 1174px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .codeiban94 {
  background-color: rgba(255, 255, 255, 0);
  top: 1124px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .titulaireducompte95 {
  background-color: rgba(255, 255, 255, 0);
  top: 1074px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .ndossierindividuel96 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .datedenaissancenumrodidentification97 {
  background-color: rgba(255, 255, 255, 0);
  top: 960px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .encasdedemandepouruneimpositionselonlesarticles3ter2et3ter3lir98 {
  background-color: rgba(255, 255, 255, 0);
  top: 908px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .informationscomplmentaires99 {
  background-color: rgba(255, 255, 255, 0);
  top: 876px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18.0px;
  color: black;
  text-align: left;
  line-height: 18.0px;
}

.a04 .lespartenairesquinedemandentconjointementniuneimpositionindividuelleavecrallocationjusquauplustardle31mars2020niuneimpositioncollectivejusquauplustardle31dcembre2020sontimposssparmentdaprslergimededroitcommu100 {
  background-color: rgba(255, 255, 255, 0);
  top: 794px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases322324101 {
  background-color: rgba(255, 255, 255, 0);
  top: 742px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases322324101 .span0 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases322324101 .span1 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases322324101 .span2 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher102 {
  background-color: rgba(255, 255, 255, 0);
  top: 692px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher102 .span0 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher102 .span1 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher102 .span2 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .limpositionindividuelleavecrallocationselonlarticle3ter3lirremplircases413426103 {
  background-color: rgba(255, 255, 255, 0);
  top: 650px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 219px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .limpositionindividuellepureselonlarticle3ter2lir104 {
  background-color: rgba(255, 255, 255, 0);
  top: 618px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 219px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .limpositioncollectiveselonlarticle3lir105 {
  background-color: rgba(255, 255, 255, 0);
  top: 586px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 219px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .pourlannedimposition2019nousdemandons106 {
  background-color: rgba(255, 255, 255, 0);
  top: 554px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .ou107 {
  background-color: rgba(255, 255, 255, 0);
  top: 524px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 14px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .parmyguichetlu108 {
  background-color: rgba(255, 255, 255, 0);
  top: 502px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 417px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .parcourrier109 {
  background-color: rgba(255, 255, 255, 0);
  top: 502px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 219px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .pourlannedimposition2019nousconfirmonsnotrechoixexprimendernierlieu110 {
  background-color: rgba(255, 255, 255, 0);
  top: 470px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .impositionindividuellersidentsetnonrsidentsassimils111 {
  background-color: rgba(255, 255, 255, 0);
  top: 434px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a04 .lademandeestvalablementformulelorsquelaprsenterubriquepartenairesestremplieetlorsqueladclarationpourlimptsurlerevenuestintroduiteetsigneparchacundespartenaires112 {
  background-color: rgba(255, 255, 255, 0);
  top: 370px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .djprsent113 {
  background-color: rgba(255, 255, 255, 0);
  top: 336px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 909px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .enannexe114 {
  background-color: rgba(255, 255, 255, 0);
  top: 310px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 909px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .documenttabliparlesautoritscomptentes115 {
  background-color: rgba(255, 255, 255, 0);
  top: 324px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 522px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .datedeladclarationdupartenariat116 {
  background-color: rgba(255, 255, 255, 0);
  top: 324px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .nousdemandonslimpositioncollectiveausensdesarticles3biset157ter5lirpourlannedimposition2019nousdclaronsquenousavonspartagundomicilecommunouunersidencecommuneetquelepartenariataexistdudbutlafindelan117 {
  background-color: rgba(255, 255, 255, 0);
  top: 252px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .partenairesrsidentsetnonrsidents118 {
  background-color: rgba(255, 255, 255, 0);
  top: 216px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a04 .ensignantlaprsentedclarationpourlimptsurlerevenuensembleaveclecontribuablersidentlapersonnenonrsidentedemandetreimposecollectivementavecsonconjointenvertudelarticle3dlirettreimposecommesielleavait119 {
  background-color: rgba(255, 255, 255, 0);
  top: 134px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .nousdemandonslimpositioncollectiveausensdelarticle3dlirpourlannedimposition2019nousdclaronsquaumoins90desrevenusprofessionnelsdenotremnagesontralisspendantlannedimpositionparlecontribuablersidentaulux120 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .epouxdontlunestcontribuablersidentetlautreunepersonnenonrsidente121 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a04 .o122 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1052px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28.0px;
  color: black;
  text-align: left;
  line-height: 28.0px;
}
/*# sourceMappingURL=page4.css.map */