.a04 {
  width: 100%;
  min-width: 1076px;
  height: 100vh;
  min-height: 1460px;
  position: relative;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a04 .rectangledate0 {
  background-color: #dfe2e5;
  top: 1418px;
  height: 42px;
  width: 222px;
  position: absolute;
  margin: 0;
  left: 817px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .rectanglelieu1 {
  background-color: #dfe2e5;
  top: 1418px;
  height: 42px;
  width: 308px;
  position: absolute;
  margin: 0;
  left: 443px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4262 {
  background-color: #dfe2e5;
  top: 1295px;
  height: 42px;
  width: 190px;
  position: absolute;
  margin: 0;
  left: 849px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4253 {
  background-color: #dfe2e5;
  top: 1293px;
  height: 42px;
  width: 190px;
  position: absolute;
  margin: 0;
  left: 403px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4244 {
  background-color: #dfe2e5;
  top: 1210px;
  height: 42px;
  width: 190px;
  position: absolute;
  margin: 0;
  left: 849px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4235 {
  background-color: #dfe2e5;
  top: 1210px;
  height: 42px;
  width: 190px;
  position: absolute;
  margin: 0;
  left: 403px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4226 {
  background-color: #dfe2e5;
  top: 1160px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4217 {
  background-color: #dfe2e5;
  top: 1160px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4208 {
  background-color: #dfe2e5;
  top: 1110px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a4199 {
  background-color: #dfe2e5;
  top: 1110px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41810 {
  background-color: #dfe2e5;
  top: 1060px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41711 {
  background-color: #dfe2e5;
  top: 1060px;
  height: 42px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a416b12 {
  background-color: #dfe2e5;
  top: 1024px;
  height: 30px;
  width: 183px;
  position: absolute;
  margin: 0;
  left: 856px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41613 {
  background-color: white;
  top: 1024px;
  height: 30px;
  width: 62px;
  position: absolute;
  margin: 0;
  left: 794px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a416a14 {
  background-color: #dfe2e5;
  top: 1024px;
  height: 30px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a415b15 {
  background-color: #dfe2e5;
  top: 1024px;
  height: 30px;
  width: 183px;
  position: absolute;
  margin: 0;
  left: 410px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41516 {
  background-color: white;
  top: 1024px;
  height: 30px;
  width: 62px;
  position: absolute;
  margin: 0;
  left: 348px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a415a17 {
  background-color: #dfe2e5;
  top: 1024px;
  height: 30px;
  width: 163px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41418 {
  background-color: #dfe2e5;
  top: 969px;
  height: 28px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 631px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41319 {
  background-color: #dfe2e5;
  top: 969px;
  height: 28px;
  width: 408px;
  position: absolute;
  margin: 0;
  left: 185px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41220 {
  background-color: #dfe2e5;
  top: 649px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 183px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41121 {
  background-color: #dfe2e5;
  top: 617px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 183px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a41022 {
  background-color: #dfe2e5;
  top: 585px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 183px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40923 {
  background-color: #dfe2e5;
  top: 553px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40824 {
  background-color: #dfe2e5;
  top: 502px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 381px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40725 {
  background-color: #dfe2e5;
  top: 502px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 183px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40626 {
  background-color: #dfe2e5;
  top: 470px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40527 {
  background-color: #dfe2e5;
  top: 336px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 873px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40428 {
  background-color: #dfe2e5;
  top: 310px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 873px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40329 {
  background-color: #dfe2e5;
  top: 312px;
  height: 42px;
  width: 138px;
  position: absolute;
  margin: 0;
  left: 344px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40230 {
  background-color: #dfe2e5;
  top: 251px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .a40131 {
  background-color: #dfe2e5;
  top: 84px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a04 .le32 {
  background-color: rgba(255, 255, 255, 0);
  top: 1432px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 780px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .adfautderemplissagedescases423426ladministrationadmetunerpartitionde50chacundescontribuablecontribuableconjointpartenaireletauxdepourcentagedescases423et424ainsiquedescases425et426doittrede100larp33 {
  background-color: rgba(255, 255, 255, 0);
  top: 1352px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .a34 {
  background-color: rgba(255, 255, 255, 0);
  top: 1320px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1019px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .a35 {
  background-color: rgba(255, 255, 255, 0);
  top: 1318px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 572px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .tauxderpartitiondurevenuimposableajustcommunmondialrallouer36 {
  background-color: rgba(255, 255, 255, 0);
  top: 1295px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.0px;
  color: black;
  text-align: left;
  line-height: 14.0px;
}

.a04 .encasdedemandepouruneimpositionselonlarticle3ter3lirremplirlescases425et426ciaprs37 {
  background-color: rgba(255, 255, 255, 0);
  top: 1264px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .a38 {
  background-color: rgba(255, 255, 255, 0);
  top: 1236px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1019px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .a39 {
  background-color: rgba(255, 255, 255, 0);
  top: 1236px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 572px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .tauxderpartitiondesavancescommunespayesetnonpayesdundossiercommundelannedimposition201940 {
  background-color: rgba(255, 255, 255, 0);
  top: 1213px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.0px;
  color: black;
  text-align: left;
  line-height: 14.0px;
}

.a04 .line4441 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 1002px;
}

.a04 .line4342 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 965px;
}

.a04 .line4243 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 929px;
}

.a04 .line4144 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 892px;
}

.a04 .line4045 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 855px;
}

.a04 .a146 {
  background-color: rgba(255, 255, 255, 0);
  top: 1032px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 836px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15.0px;
  color: black;
  text-align: left;
  line-height: 15.0px;
}

.a04 .line3947 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 825px;
}

.a04 .a048 {
  background-color: rgba(255, 255, 255, 0);
  top: 1032px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 806px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15.0px;
  color: black;
  text-align: left;
  line-height: 15.0px;
}

.a04 .line3849 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 794px;
}

.a04 .line3750 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 753px;
}

.a04 .line3651 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 712px;
}

.a04 .line3552 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 671px;
}

.a04 .jour53 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 835px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .mois54 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .anne55 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 671px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .line3456 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 1007px;
}

.a04 .line3357 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 976px;
}

.a04 .line3258 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 944px;
}

.a04 .line3159 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 913px;
}

.a04 .line3060 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 882px;
}

.a04 .line2961 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 850px;
}

.a04 .line2862 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 819px;
}

.a04 .line2763 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 787px;
}

.a04 .line2664 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 756px;
}

.a04 .line2565 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 725px;
}

.a04 .line2466 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 693px;
}

.a04 .line2367 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 662px;
}

.a04 .contribuableconjointpartenaire68 {
  background-color: rgba(255, 255, 255, 0);
  top: 936px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 722px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .line2269 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 556px;
}

.a04 .line2170 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 519px;
}

.a04 .line2071 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 483px;
}

.a04 .line1972 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 446px;
}

.a04 .line1873 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 410px;
}

.a04 .a174 {
  background-color: rgba(255, 255, 255, 0);
  top: 1032px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 390px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15.0px;
  color: black;
  text-align: left;
  line-height: 15.0px;
}

.a04 .line1775 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 379px;
}

.a04 .a076 {
  background-color: rgba(255, 255, 255, 0);
  top: 1032px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 360px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15.0px;
  color: black;
  text-align: left;
  line-height: 15.0px;
}

.a04 .line1677 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 348px;
}

.a04 .line1578 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 307px;
}

.a04 .line1479 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 266px;
}

.a04 .line1380 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: 30px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 225px;
}

.a04 .jour81 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 389px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .mois82 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 325px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .anne83 {
  background-color: rgba(255, 255, 255, 0);
  top: 1002px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 225px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .line1284 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 561px;
}

.a04 .line1185 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 530px;
}

.a04 .line1086 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 498px;
}

.a04 .line987 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 467px;
}

.a04 .line888 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 436px;
}

.a04 .line789 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 404px;
}

.a04 .line690 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 373px;
}

.a04 .line591 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 341px;
}

.a04 .line492 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 310px;
}

.a04 .line393 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 279px;
}

.a04 .line294 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 247px;
}

.a04 .line195 {
  background-color: rgba(255, 255, 255, 0);
  top: 969px;
  height: 28px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 216px;
}

.a04 .contribuable96 {
  background-color: rgba(255, 255, 255, 0);
  top: 936px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 344px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .swiftbic97 {
  background-color: rgba(255, 255, 255, 0);
  top: 1174px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .codeiban98 {
  background-color: rgba(255, 255, 255, 0);
  top: 1124px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .titulaireducompte99 {
  background-color: rgba(255, 255, 255, 0);
  top: 1074px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .ndossierindividuel100 {
  background-color: rgba(255, 255, 255, 0);
  top: 1024px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .datedenaissancenumrodidentification101 {
  background-color: rgba(255, 255, 255, 0);
  top: 960px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .encasdedemandepouruneimpositionselonlesarticles3ter2et3ter3lir102 {
  background-color: rgba(255, 255, 255, 0);
  top: 908px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .informationscomplmentaires103 {
  background-color: rgba(255, 255, 255, 0);
  top: 876px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18.0px;
  color: black;
  text-align: left;
  line-height: 18.0px;
}

.a04 .lespartenairesquinedemandentconjointementniuneimpositionindividuelleavecrallocationjusquauplustardle31mars2020niuneimpositioncollectivejusquauplustardle31dcembre2020sontimposssparmentdaprslergimededroitcommu104 {
  background-color: rgba(255, 255, 255, 0);
  top: 794px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases322324105 {
  background-color: rgba(255, 255, 255, 0);
  top: 742px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases322324105 .span0 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases322324105 .span1 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .afindepouvoirchoisirlimpositionindividuellepureoulimpositionindividuelleavecrallocationlescontribuablesnonrsidentsdoiventrempliraumoinsunedesconditionsdassimilationauxcontribuablesrsidentspage3cases322324105 .span2 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher106 {
  background-color: rgba(255, 255, 255, 0);
  top: 692px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher106 .span0 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher106 .span1 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .adfautdecocherlacase409etlunedescases410412lescontribuablesmarisserontimposscollectivementmoinsquilsnaientexprimsconjointementavantle31mars2020unautrechoixdanscecaslacase406estcocher106 .span2 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a04 .limpositionindividuelleavecrallocationselonlarticle3ter3lirremplircases413426107 {
  background-color: rgba(255, 255, 255, 0);
  top: 650px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 219px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .limpositionindividuellepureselonlarticle3ter2lir108 {
  background-color: rgba(255, 255, 255, 0);
  top: 618px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 219px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .limpositioncollectiveselonlarticle3lir109 {
  background-color: rgba(255, 255, 255, 0);
  top: 586px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 219px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .pourlannedimposition2019nousdemandons110 {
  background-color: rgba(255, 255, 255, 0);
  top: 554px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .ou111 {
  background-color: rgba(255, 255, 255, 0);
  top: 524px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 14px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .parmyguichetlu112 {
  background-color: rgba(255, 255, 255, 0);
  top: 502px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 417px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .parcourrier113 {
  background-color: rgba(255, 255, 255, 0);
  top: 502px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 219px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .pourlannedimposition2019nousconfirmonsnotrechoixexprimendernierlieu114 {
  background-color: rgba(255, 255, 255, 0);
  top: 470px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .impositionindividuellersidentsetnonrsidentsassimils115 {
  background-color: rgba(255, 255, 255, 0);
  top: 434px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a04 .lademandeestvalablementformulelorsquelaprsenterubriquepartenairesestremplieetlorsqueladclarationpourlimptsurlerevenuestintroduiteetsigneparchacundespartenaires116 {
  background-color: rgba(255, 255, 255, 0);
  top: 370px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .djprsent117 {
  background-color: rgba(255, 255, 255, 0);
  top: 336px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 909px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .enannexe118 {
  background-color: rgba(255, 255, 255, 0);
  top: 310px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 909px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .documenttabliparlesautoritscomptentes119 {
  background-color: rgba(255, 255, 255, 0);
  top: 324px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 522px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .datedeladclarationdupartenariat120 {
  background-color: rgba(255, 255, 255, 0);
  top: 324px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .nousdemandonslimpositioncollectiveausensdesarticles3biset157ter5lirpourlannedimposition2019nousdclaronsquenousavonspartagundomicilecommunouunersidencecommuneetquelepartenariataexistdudbutlafindelan121 {
  background-color: rgba(255, 255, 255, 0);
  top: 252px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .partenairesrsidentsetnonrsidents122 {
  background-color: rgba(255, 255, 255, 0);
  top: 216px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a04 .ensignantlaprsentedclarationpourlimptsurlerevenuensembleaveclecontribuablersidentlapersonnenonrsidentedemandetreimposecollectivementavecsonconjointenvertudelarticle3dlirettreimposecommesielleavait123 {
  background-color: rgba(255, 255, 255, 0);
  top: 134px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .nousdemandonslimpositioncollectiveausensdelarticle3dlirpourlannedimposition2019nousdclaronsquaumoins90desrevenusprofessionnelsdenotremnagesontralisspendantlannedimpositionparlecontribuablersidentaulux124 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a04 .epouxdontlunestcontribuablersidentetlautreunepersonnenonrsidente125 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a04 .o126 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1052px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28.0px;
  color: black;
  text-align: left;
  line-height: 28.0px;
}
/*# sourceMappingURL=page4.css.map */