.a06 {
  width: 100%;
  min-width: 1061px;
  height: 100vh;
  min-height: 1088px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a06 .a6510 {
  top: 1046px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6501 {
  top: 1046px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6492 {
  top: 1046px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6483 {
  top: 1046px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6474 {
  top: 981px;
  height: 42px;
  width: 440px;
  position: absolute;
  margin: 0;
  left: 619px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6456465 {
  top: 926px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 463px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6466 {
  top: 885px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6457 {
  top: 885px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6436448 {
  top: 861px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 795px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a6449 {
  top: 820px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a64310 {
  top: 820px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a64211 {
  top: 820px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a64112 {
  top: 820px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a64013 {
  top: 764px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63914 {
  top: 764px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63815 {
  top: 764px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63716 {
  top: 764px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63617 {
  top: 714px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63518 {
  top: 714px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63419 {
  top: 714px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63320 {
  top: 714px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63221 {
  top: 641px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63122 {
  top: 641px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a63023 {
  top: 641px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62924 {
  top: 641px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62825 {
  top: 585px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62726 {
  top: 585px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62627 {
  top: 585px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62528 {
  top: 585px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62429 {
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62330 {
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62231 {
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62132 {
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a62033 {
  top: 459px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61934 {
  top: 459px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61835 {
  top: 459px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61736 {
  top: 459px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61637 {
  top: 402px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61538 {
  top: 402px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61439 {
  top: 402px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61340 {
  top: 402px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61241 {
  top: 352px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61142 {
  top: 352px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a61043 {
  top: 352px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60944 {
  top: 352px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60845 {
  top: 302px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60746 {
  top: 302px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60647 {
  top: 302px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60548 {
  top: 302px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60449 {
  top: 222px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60350 {
  top: 222px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60251 {
  top: 222px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .a60152 {
  top: 222px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 419px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a06 .totalabcdedductionsrevenureporterlapage20cases2009201253 {
  background-color: rgba(255, 255, 255, 0);
  top: 1048px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .totalabcdedductionsrevenureporterlapage20cases2009201253 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a06 .totalabcdedductionsrevenureporterlapage20cases2009201253 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a06 .dansqueletatpartielaccordsurleeeautrequeleluxembourgestcequevousexploitezuntablissementstableexerantuneactivitderechercheetdedveloppement54 {
  background-color: rgba(255, 255, 255, 0);
  top: 984px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .exonrationselonlarticle50terlirjoindrelannexe76055 {
  background-color: rgba(255, 255, 255, 0);
  top: 886px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 86px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a56 {
  background-color: rgba(255, 255, 255, 0);
  top: 886px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 65px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .adduire57 {
  background-color: rgba(255, 255, 255, 0);
  top: 866px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .totalabcde58 {
  background-color: rgba(255, 255, 255, 0);
  top: 834px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .dpenses59 {
  background-color: rgba(255, 255, 255, 0);
  top: 778px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 111px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a60 {
  background-color: rgba(255, 255, 255, 0);
  top: 778px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 88px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .montantbrutsuivantannexe61 {
  background-color: rgba(255, 255, 255, 0);
  top: 728px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 111px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a62 {
  background-color: rgba(255, 255, 255, 0);
  top: 726px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 86px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .tantimes63 {
  background-color: rgba(255, 255, 255, 0);
  top: 688px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .e64 {
  background-color: rgba(255, 255, 255, 0);
  top: 688px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .totalabcd65 {
  background-color: rgba(255, 255, 255, 0);
  top: 654px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .dpenses66 {
  background-color: rgba(255, 255, 255, 0);
  top: 598px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 111px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a67 {
  background-color: rgba(255, 255, 255, 0);
  top: 598px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 88px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .montantbrutsuivantannexe68 {
  background-color: rgba(255, 255, 255, 0);
  top: 548px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 111px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a69 {
  background-color: rgba(255, 255, 255, 0);
  top: 548px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 86px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .jetonsdeprsenceconseilscommunauxetc70 {
  background-color: rgba(255, 255, 255, 0);
  top: 518px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .d71 {
  background-color: rgba(255, 255, 255, 0);
  top: 518px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .bnficedecessionoudecessationnoncomprissousabouccidessussuivantannexe72 {
  background-color: rgba(255, 255, 255, 0);
  top: 456px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .c73 {
  background-color: rgba(255, 255, 255, 0);
  top: 454px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .partsdebnficedelexerciceencommundelaprofessionlibralesocitcivileetc74 {
  background-color: rgba(255, 255, 255, 0);
  top: 408px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .b75 {
  background-color: rgba(255, 255, 255, 0);
  top: 406px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .dpensesdexploitationselonlemodle15276 {
  background-color: rgba(255, 255, 255, 0);
  top: 358px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 111px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a77 {
  background-color: rgba(255, 255, 255, 0);
  top: 356px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 88px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .recettessuivantannexe78 {
  background-color: rgba(255, 255, 255, 0);
  top: 315px;
  height: 19px;
  width: 188px;
  position: absolute;
  margin: 0;
  left: 111px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a79 {
  background-color: rgba(255, 255, 255, 0);
  top: 316px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 86px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .comparaisondesrecettesetdesdpensestvacomprise80 {
  background-color: rgba(255, 255, 255, 0);
  top: 268px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a281 {
  background-color: rgba(255, 255, 255, 0);
  top: 268px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 49px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .bnficetablisuivantbilanetcomptedeprofitsetpertesjoints82 {
  background-color: rgba(255, 255, 255, 0);
  top: 224px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a183 {
  background-color: rgba(255, 255, 255, 0);
  top: 222px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 49px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .bnficeprovenantdelexerciceduneprofessionlibraleexercetitreindividuel84 {
  background-color: rgba(255, 255, 255, 0);
  top: 176px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .a85 {
  background-color: rgba(255, 255, 255, 0);
  top: 176px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .dclarationsderetenuesdimptlasourceetdiversesdemandespage1986 {
  background-color: rgba(255, 255, 255, 0);
  top: 146px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .i87 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1053px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a06 .dterminationdubnficeprovenantdelexerciceduneprofessionlibrale88 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a06 .contribuableconjointpartenaire89 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 919px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: center;
  line-height: 16.0px;
}

.a06 .contribuable90 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 780px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .revenusexonrs91 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 808px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a06 .contribuableconjointpartenaire92 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 587px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: center;
  line-height: 16.0px;
}

.a06 .contribuable93 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 448px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a06 .revenusnonexonrs94 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 453px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a06 .i95 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1051px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28.0px;
  color: black;
  text-align: left;
  line-height: 28.0px;
}

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}

.anima-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
/*# sourceMappingURL=page6.css.map */