.a08 {
  width: 100%;
  min-width: 1061px;
  height: 100vh;
  min-height: 1108px;
  position: relative;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a08 .a8460 {
  background-color: #dfe2e5;
  top: 1001px;
  height: 42px;
  width: 162px;
  position: absolute;
  margin: 0;
  left: 329px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8451 {
  background-color: #dfe2e5;
  top: 972px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8438442 {
  background-color: #dfe2e5;
  top: 862px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 794px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8443 {
  background-color: #dfe2e5;
  top: 821px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8434 {
  background-color: #dfe2e5;
  top: 821px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8425 {
  background-color: #dfe2e5;
  top: 821px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8416 {
  background-color: #dfe2e5;
  top: 821px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8407 {
  background-color: #dfe2e5;
  top: 756px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8398 {
  background-color: #dfe2e5;
  top: 756px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a8389 {
  background-color: #dfe2e5;
  top: 756px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a83710 {
  background-color: #dfe2e5;
  top: 756px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a83611 {
  background-color: #dfe2e5;
  top: 665px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a83512 {
  background-color: #dfe2e5;
  top: 665px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a83413 {
  background-color: #dfe2e5;
  top: 665px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a83314 {
  background-color: #dfe2e5;
  top: 665px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a83215 {
  background-color: #dfe2e5;
  top: 603px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a83116 {
  background-color: #dfe2e5;
  top: 603px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a83017 {
  background-color: #dfe2e5;
  top: 603px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82918 {
  background-color: #dfe2e5;
  top: 603px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82819 {
  background-color: #dfe2e5;
  top: 547px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82720 {
  background-color: #dfe2e5;
  top: 547px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82621 {
  background-color: #dfe2e5;
  top: 547px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82522 {
  background-color: #dfe2e5;
  top: 547px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82423 {
  background-color: #dfe2e5;
  top: 482px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82324 {
  background-color: #dfe2e5;
  top: 482px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82225 {
  background-color: #dfe2e5;
  top: 482px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82126 {
  background-color: #dfe2e5;
  top: 482px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a82027 {
  background-color: #dfe2e5;
  top: 417px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81928 {
  background-color: #dfe2e5;
  top: 417px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81829 {
  background-color: #dfe2e5;
  top: 417px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81730 {
  background-color: #dfe2e5;
  top: 417px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81631 {
  background-color: #dfe2e5;
  top: 352px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81532 {
  background-color: #dfe2e5;
  top: 352px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81433 {
  background-color: #dfe2e5;
  top: 352px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81334 {
  background-color: #dfe2e5;
  top: 352px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81235 {
  background-color: #dfe2e5;
  top: 280px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81136 {
  background-color: #dfe2e5;
  top: 280px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a81037 {
  background-color: #dfe2e5;
  top: 280px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80938 {
  background-color: #dfe2e5;
  top: 280px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80839 {
  background-color: #dfe2e5;
  top: 224px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80740 {
  background-color: #dfe2e5;
  top: 224px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80641 {
  background-color: #dfe2e5;
  top: 224px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80542 {
  background-color: #dfe2e5;
  top: 224px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80443 {
  background-color: #dfe2e5;
  top: 174px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 910px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80344 {
  background-color: #dfe2e5;
  top: 174px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 750px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80245 {
  background-color: #dfe2e5;
  top: 174px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 578px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .a80146 {
  background-color: #dfe2e5;
  top: 174px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 418px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
}

.a08 .labattementestapplicablelorsquelundesconjointspartenairesraliseunbnficecommercialunbnficeagricoleetforestierunbnficeprovenantdelexerciceduneprofessionlibraleouunrevenuduneoccupationsalarieetlorsquelautre47 {
  background-color: rgba(255, 255, 255, 0);
  top: 1058px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .larentepensionexistedepuisle48 {
  background-color: rgba(255, 255, 255, 0);
  top: 1014px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .demandepourlabattementextraprofessionnelausensdelarticle129b2clirapplicableauxconjointsetpartenaires49 {
  background-color: rgba(255, 255, 255, 0);
  top: 972px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .p250 {
  background-color: rgba(255, 255, 255, 0);
  top: 936px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1031px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a08 .abattementextraprofessionnel51 {
  background-color: rgba(255, 255, 255, 0);
  top: 936px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a08 .totalabcdductionsrevenureporterlapage20cases2017202052 {
  background-color: rgba(255, 255, 255, 0);
  top: 826px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .totalabcdductionsrevenureporterlapage20cases2017202052 .span0 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a08 .totalabcdductionsrevenureporterlapage20cases2017202052 .span1 {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a08 .fraisdobtentionminimumforfaitairede300encasdedductiondesfraiseffectifslesdtailssontjoindreenannexe53 {
  background-color: rgba(255, 255, 255, 0);
  top: 758px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .adduire54 {
  background-color: rgba(255, 255, 255, 0);
  top: 738px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .totalabc55 {
  background-color: rgba(255, 255, 255, 0);
  top: 678px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .totalbc56 {
  background-color: rgba(255, 255, 255, 0);
  top: 616px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .exemptionde50maximumart115no14lirouautresexemptions57 {
  background-color: rgba(255, 255, 255, 0);
  top: 548px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 95px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .a58 {
  background-color: rgba(255, 255, 255, 0);
  top: 548px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 72px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .arrragesderentesetdautresallocationsetavantagespriodiquesmontantbrutnoncomprissousaoubcidessus59 {
  background-color: rgba(255, 255, 255, 0);
  top: 484px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 95px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .a60 {
  background-color: rgba(255, 255, 255, 0);
  top: 482px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .c61 {
  background-color: rgba(255, 255, 255, 0);
  top: 482px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .exemptionde50art115no14alir62 {
  background-color: rgba(255, 255, 255, 0);
  top: 418px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 95px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .a63 {
  background-color: rgba(255, 255, 255, 0);
  top: 418px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 72px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .rentesviagresmensuellesrsultantduncontratdeprvoyancevieillessemontantbrut64 {
  background-color: rgba(255, 255, 255, 0);
  top: 354px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 95px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .a65 {
  background-color: rgba(255, 255, 255, 0);
  top: 352px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .b66 {
  background-color: rgba(255, 255, 255, 0);
  top: 352px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .totala67 {
  background-color: rgba(255, 255, 255, 0);
  top: 294px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .pensionsetautresallocationsmontantbrutpayesparlesanciensemployeursouparlescaissesautonomesderetraite68 {
  background-color: rgba(255, 255, 255, 0);
  top: 176px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 70px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .a69 {
  background-color: rgba(255, 255, 255, 0);
  top: 174px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .indiquerlescotisationsobligatoireslapage16cases16011604etlesretenuesdimptlasourcesurlespensionslapage19cases1925192670 {
  background-color: rgba(255, 255, 255, 0);
  top: 147px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.0px;
  color: black;
  text-align: left;
  line-height: 14.0px;
}

.a08 .p171 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1031px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a08 .dterminationdurevenunetrsultantdepensionsouderentes72 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a08 .contribuableconjointpartenaire73 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 918px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: center;
  line-height: 16.0px;
}

.a08 .contribuable74 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 779px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .revenusexonrs75 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 807px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a08 .contribuableconjointpartenaire76 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 586px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: center;
  line-height: 16.0px;
}

.a08 .contribuable77 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 447px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a08 .revenusnonexonrs78 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 452px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a08 .p79 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1040px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1.0;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28.0px;
  color: black;
  text-align: left;
  line-height: 28.0px;
}
/*# sourceMappingURL=page8.css.map */