@import url('https://fonts.googleapis.com/css?family=Arial:700,400');


.a06 {
  width               : 100%;
  min-width           : 1061px;
  height              : 100vh;
  min-height          : 1088px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a06 .a6510 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1046px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6501 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1046px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6492 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1046px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6483 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 1046px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6474 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 981px;
  height              : 42px;
  width               : 440px;
  position            : absolute;
  margin              : 0;
  left                : 619px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6456465 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 927px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 463px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6466 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 885px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6457 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 885px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6436448 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 862px;
  height              : 42px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 795px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a6449 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 820px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a64310 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 820px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a64211 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 820px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a64112 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 820px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a64013 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 764px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63914 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 764px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63815 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 764px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63716 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 764px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63617 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 714px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63518 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 714px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63419 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 714px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63320 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 714px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63221 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 641px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63122 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 641px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a63023 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 641px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62924 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 641px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62825 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 585px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62726 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 585px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62627 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 585px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62528 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 585px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62429 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 535px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62330 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 535px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62231 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 535px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62132 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 535px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a62033 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 459px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61934 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 459px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61835 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 459px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61736 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 459px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61637 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 402px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61538 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 402px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61439 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 402px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61340 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 402px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61241 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 352px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61142 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 352px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a61043 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 352px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60944 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 352px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60845 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 302px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60746 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 302px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60647 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 302px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60548 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 302px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60449 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 222px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60350 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 222px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60251 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 222px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .a60152 {
  background-color    : rgba(223, 226, 229, 1.0);
  top                 : 222px;
  height              : 42px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.a06 .totalabcdedductionsrevenureporterlapage20cases2009201253 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1048px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .totalabcdedductionsrevenureporterlapage20cases2009201253 .span0 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a06 .totalabcdedductionsrevenureporterlapage20cases2009201253 .span1 {
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
}
.a06 .dansqueletatpartielaccordsurleeeautrequeleluxembourgestcequevousexploitezuntablissementstableexerantuneactivitderechercheetdedveloppement54 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 984px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .exonrationselonlarticle50terlirjoindrelannexe76055 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 886px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a56 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 886px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .adduire57 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 866px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .totalabcde58 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 834px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .dpenses59 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 778px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a60 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 778px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .montantbrutsuivantannexe61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 728px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 726px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .tantimes63 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 688px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .e64 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 688px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .totalabcd65 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 654px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .dpenses66 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 598px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a67 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 598px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .montantbrutsuivantannexe68 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 548px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a69 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 548px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .jetonsdeprsenceconseilscommunauxetc70 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 518px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .d71 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 518px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .bnficedecessionoudecessationnoncomprissousabouccidessussuivantannexe72 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 456px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .c73 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 454px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .partsdebnficedelexerciceencommundelaprofessionlibralesocitcivileetc74 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 408px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .b75 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 406px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .dpensesdexploitationselonlemodle15276 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 358px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a77 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 356px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .recettessuivantannexe78 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 315px;
  height              : 19px;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a79 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 316px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .comparaisondesrecettesetdesdpensestvacomprise80 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 268px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a281 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 268px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .bnficetablisuivantbilanetcomptedeprofitsetpertesjoints82 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 224px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a183 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 222px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .bnficeprovenantdelexerciceduneprofessionlibraleexercetitreindividuel84 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .a85 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .dclarationsderetenuesdimptlasourceetdiversesdemandespage1986 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 146px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .i87 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1053px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a06 .dterminationdubnficeprovenantdelexerciceduneprofessionlibrale88 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a06 .contribuableconjointpartenaire89 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 919px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a06 .contribuable90 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 780px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .revenusexonrs91 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 808px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a06 .contribuableconjointpartenaire92 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 587px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.a06 .contribuable93 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 448px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a06 .revenusnonexonrs94 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 453px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.a06 .i95 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1051px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}