.a09 {
  width: 100%;
  min-width: 1081px;
  height: 100vh;
  min-height: 1159px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a09 .a9379380 {
  background-color: #dfe2e5;
  top: 1116px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 815px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9381 {
  background-color: #dfe2e5;
  top: 1075px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9372 {
  background-color: #dfe2e5;
  top: 1075px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9359363 {
  background-color: #dfe2e5;
  top: 1116px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 483px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9364 {
  background-color: #dfe2e5;
  top: 1075px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9355 {
  background-color: #dfe2e5;
  top: 1075px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9346 {
  background-color: #dfe2e5;
  top: 1007px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9337 {
  background-color: #dfe2e5;
  top: 1007px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9328 {
  background-color: #dfe2e5;
  top: 1007px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a9319 {
  background-color: #dfe2e5;
  top: 1007px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a93010 {
  background-color: #dfe2e5;
  top: 906px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92911 {
  background-color: #dfe2e5;
  top: 906px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92812 {
  background-color: #dfe2e5;
  top: 906px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92713 {
  background-color: #dfe2e5;
  top: 906px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92614 {
  background-color: #dfe2e5;
  top: 808px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92515 {
  background-color: #dfe2e5;
  top: 808px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92416 {
  background-color: #dfe2e5;
  top: 808px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92317 {
  background-color: #dfe2e5;
  top: 808px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92218 {
  background-color: #dfe2e5;
  top: 752px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92119 {
  background-color: #dfe2e5;
  top: 752px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a92020 {
  background-color: #dfe2e5;
  top: 752px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91921 {
  background-color: #dfe2e5;
  top: 752px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91822 {
  background-color: #dfe2e5;
  top: 693px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91723 {
  background-color: #dfe2e5;
  top: 693px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91624 {
  background-color: #dfe2e5;
  top: 693px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91525 {
  background-color: #dfe2e5;
  top: 693px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91426 {
  background-color: #dfe2e5;
  top: 610px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91327 {
  background-color: #dfe2e5;
  top: 610px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91228 {
  background-color: #dfe2e5;
  top: 610px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91129 {
  background-color: #dfe2e5;
  top: 610px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a91030 {
  background-color: #dfe2e5;
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90931 {
  background-color: #dfe2e5;
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90832 {
  background-color: #dfe2e5;
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90733 {
  background-color: #dfe2e5;
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90634 {
  background-color: #dfe2e5;
  top: 471px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90535 {
  background-color: #dfe2e5;
  top: 471px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90436 {
  background-color: #dfe2e5;
  top: 471px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90337 {
  background-color: #dfe2e5;
  top: 471px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90238 {
  background-color: #dfe2e5;
  top: 355px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
}

.a09 .a90139 {
  background-color: #dfe2e5;
  top: 355px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  z-index: 100;
}

.a09 .totalbcddductionsrevenureporterlapage20cases2021202440 {
  background-color: rgba(255, 255, 255, 0);
  top: 1076px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .totalbcddductionsrevenureporterlapage20cases2021202440 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .totalbcddductionsrevenureporterlapage20cases2021202440 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .trancheexemptearticle115no15lirmaximum1500ceplafondestdoubldanslechefdespouxoupartenairesimposablescollectivementladductionnepeutpasdpasserletotaldesrevenus41 {
  background-color: rgba(255, 255, 255, 0);
  top: 996px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .trancheexemptearticle115no15lirmaximum1500ceplafondestdoubldanslechefdespouxoupartenairesimposablescollectivementladductionnepeutpasdpasserletotaldesrevenus41 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .trancheexemptearticle115no15lirmaximum1500ceplafondestdoubldanslechefdespouxoupartenairesimposablescollectivementladductionnepeutpasdpasserletotaldesrevenus41 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .fraisdobtentionminimumforfaitaire25leforfaitestdoubldanslechefdespouxoupartenairesimposablescollectivement50ceforfaitestdductibledfautdefraisdobtentionenrapportaveclesdiffrentsinvestissementsdelaprsen42 {
  background-color: rgba(255, 255, 255, 0);
  top: 878px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .fraisdobtentionminimumforfaitaire25leforfaitestdoubldanslechefdespouxoupartenairesimposablescollectivement50ceforfaitestdductibledfautdefraisdobtentionenrapportaveclesdiffrentsinvestissementsdelaprsen42 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .fraisdobtentionminimumforfaitaire25leforfaitestdoubldanslechefdespouxoupartenairesimposablescollectivement50ceforfaitestdductibledfautdefraisdobtentionenrapportaveclesdiffrentsinvestissementsdelaprsen42 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .adduire43 {
  background-color: rgba(255, 255, 255, 0);
  top: 854px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .totalbcd44 {
  background-color: rgba(255, 255, 255, 0);
  top: 822px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .autresrevenusdecapitauxnonvisscidessusrevenusausensdelarticle971nos69lir45 {
  background-color: rgba(255, 255, 255, 0);
  top: 758px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .autresrevenusdecapitauxnonvisscidessusrevenusausensdelarticle971nos69lir45 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .autresrevenusdecapitauxnonvisscidessusrevenusausensdelarticle971nos69lir45 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .d46 {
  background-color: rgba(255, 255, 255, 0);
  top: 756px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .intrtsdobligationsdedptsdpargneetdautrescrancesprtsavoirscomptescourantsdptscomptesdpargnenonvisssousa47 {
  background-color: rgba(255, 255, 255, 0);
  top: 690px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .d48 {
  background-color: rgba(255, 255, 255, 0);
  top: 688px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 18px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .revenusallousparlessocitsdegestiondepatrimoinefamilialspflesorganismesdeplacementcollectifopcdedroitluxembourgeoisycomprislessocitsdinvestissementencapitalrisquesicar49 {
  background-color: rgba(255, 255, 255, 0);
  top: 590px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .c50 {
  background-color: rgba(255, 255, 255, 0);
  top: 586px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 18px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .produitsdevaleursmobiliresprovenantdetatsnonvisssousacidessus51 {
  background-color: rgba(255, 255, 255, 0);
  top: 540px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .b52 {
  background-color: rgba(255, 255, 255, 0);
  top: 540px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 18px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .produitsdevaleursmobiliresenprovenancedetatsaveclesquelsleluxembourgaconcludesconventionscontrelesdoublesimpositionsmontantbrutexemptionde5053 {
  background-color: rgba(255, 255, 255, 0);
  top: 460px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .a54 {
  background-color: rgba(255, 255, 255, 0);
  top: 456px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 18px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .revenusnonsoumislaretenuedimptlasourceluxembourgeoise55 {
  background-color: rgba(255, 255, 255, 0);
  top: 428px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .c56 {
  background-color: rgba(255, 255, 255, 0);
  top: 428px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .revenuspassiblesdelaretenuedimptlasourceluxembourgeoiseproduitsdactionsdepartsdecapitaldepartsbnficiairesoudautresparticipationsprovenantdorganismescaractrecollectifetautresproduitsmontantbrutexemptionde5057 {
  background-color: rgba(255, 255, 255, 0);
  top: 326px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
  z-index: 99;
}

.a09 .revenuspassiblesdelaretenuedimptlasourceluxembourgeoiseproduitsdactionsdepartsdecapitaldepartsbnficiairesoudautresparticipationsprovenantdorganismescaractrecollectifetautresproduitsmontantbrutexemptionde5057 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .revenuspassiblesdelaretenuedimptlasourceluxembourgeoiseproduitsdactionsdepartsdecapitaldepartsbnficiairesoudautresparticipationsprovenantdorganismescaractrecollectifetautresproduitsmontantbrutexemptionde5057 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .b58 {
  background-color: rgba(255, 255, 255, 0);
  top: 322px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .revenussoumislaretenuedimptlasourcelibratoireluxembourgeoisesurcertainsintrtsproduitsparlpargnemobilireenvertudesarticles6et6bisdelaloimodifiedu23dcembre2005nesontpasdclarerlemontantdelaretenuedi59 {
  background-color: rgba(255, 255, 255, 0);
  top: 222px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .revenussoumislaretenuedimptlasourcelibratoireluxembourgeoisesurcertainsintrtsproduitsparlpargnemobilireenvertudesarticles6et6bisdelaloimodifiedu23dcembre2005nesontpasdclarerlemontantdelaretenuedi59 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .revenussoumislaretenuedimptlasourcelibratoireluxembourgeoisesurcertainsintrtsproduitsparlpargnemobilireenvertudesarticles6et6bisdelaloimodifiedu23dcembre2005nesontpasdclarerlemontantdelaretenuedi59 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
}

.a09 .a60 {
  background-color: rgba(255, 255, 255, 0);
  top: 218px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .lesfraisdobtentionenrelationdirecteavecuninvestissementdelaprsentecatgoriederevenussontporterendductiondesrevenusyrelatifslesdtailssontfournirsuruneannexeoumoyennantlemodle18061 {
  background-color: rgba(255, 255, 255, 0);
  top: 172px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .indiquerlesretenuesdimptlasourcelapage1962 {
  background-color: rgba(255, 255, 255, 0);
  top: 147px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14.0px;
  color: black;
  text-align: left;
  line-height: 14.0px;
}

.a09 .cm63 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1045px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a09 .dterminationdurevenunetprovenantdecapitauxmobiliers64 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a09 .contribuableconjointpartenaire65 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 939px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: center;
  line-height: 16.0px;
}

.a09 .contribuable66 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 800px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .revenusexonrs67 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 828px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a09 .contribuableconjointpartenaire68 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 607px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: center;
  line-height: 16.0px;
}

.a09 .contribuable69 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 468px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16.0px;
  color: black;
  text-align: left;
  line-height: 16.0px;
}

.a09 .revenusnonexonrs70 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 473px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22.0px;
  color: black;
  text-align: left;
  line-height: 22.0px;
}

.a09 .cm71 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1035px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1.0;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28.0px;
  color: black;
  text-align: left;
  line-height: 28.0px;
}

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}

.anima-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
/*# sourceMappingURL=page9.css.map */