$primary-color: #0D2D67;
$secondary-color: #6E9CEE;
$opt-color: #D1D4D5;
$in-color: #DFE2E5;

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.w3-modal {
    z-index: 99999;
}

#clientModal {
    input.err {
        border: 1px solid #CF4044 !important;
        background: white !important;
    }

    input[type=text],
    input[type=email] {
        background-color: $in-color;

        &:focus {
            background-color: white;
        }
    }

    .select-user {
        display: flex;
        background-color: #EAECEE;
        border-bottom: 2px solid $in-color;

        label {
            padding: 4px 0;
            display: block;
            flex: 1;
            text-align: center;

            &:first-child {
                border-right: 2px solid $in-color;
            }

            &.active {
                -webkit-box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 1);
                -moz-box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 1);
                box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 1);
            }
        }
    }

    table td {
        padding: 4px 0;
    }

    .footer {
        text-align: right;
        padding: 10px 34px;

        button {
            font-weight: bold;
            font-size: 14px;
            background-color: #25C1A0;
            color: white;
            padding-left: 22px;
            padding-right: 22px;
        }
    }
}

.content-c {
    display: flex !important;
    justify-content: space-between !important;
    background-color: #6E9CEE;
    color: white;
    align-items: center;
    padding-left: 20px;

    div.close {
        display: inline-flex;
        vertical-align: middle;
        align-self: start;
        font-size: 26px;
        padding: 8px 15px !important;
        cursor: pointer;
    }

    div.close:hover {
        align-self: start;
        background-color: #CF4044;
    }
}

header {
    position: relative;
}

#notification {
    position: absolute;
    right: 10px;
    top: 10px;
    padding-left: 42px;
    padding-right: 42px;
    display: none;
}

.top-nav {
    display: flex;
    color: white;
    background-color: $primary-color !important;
    padding-left: 50px;
    padding-right: 30px;

    img {
        height: 60px;
        width: 60px;
    }

    a {
        text-decoration: none;
        text-transform: capitalize;
        text-align: center;
    }

    .arrow:hover,
    a:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    a label {
        display: block;
        cursor: pointer;
    }

    a label.text {
        margin-top: -4px;
        // font-family: "Trebuchet MS", sans-serif !important;
    }

    .top-menu {
        margin-left: 50px !important;
        margin-top: 12px;
        width: 100%;
        font-size: 14px;
    }

    .user {
        display: flex !important;
        margin-top: 18px;

        .letters {
            height: 40px;
            width: 40px;
            background-color: white;
            color: black;
            border-radius: 50%;
            text-align: center;
            font-size: 17px;
            padding-top: 8px;
        }

        .arrow {
            margin-top: 8px;
            margin-left: 12px;
            cursor: pointer;
        }
    }
}

.left-nav::-webkit-scrollbar {
    display: none;
}

.left-nav {
    -ms-overflow-style: none;
}

.left-nav {
    max-width: 300px;
    min-height: calc(100vh - 70.4px);
    font-size: 15px;
    background-color: #F4F5F6;

    // overflow: scroll;
    // height: 250px;
    .w3-button {
        white-space: normal;
    }

    .arrow {
        display: inline-block;
        padding: 12px 8px;
    }

    .arrow::after {
        text-align: center;
        display: inline;
        font-size: 18px;
        font-family: FontAwesome;
        content: "\f105";
    }

    .active .arrow::after {
        content: "\f107";
    }

    .active {
        // color: $secondary-color !important;
        font-weight: 600;
        background-color: $in-color;
    }

    .w3-button:hover {
        background-color: $in-color !important;
    }

    .w3-dropdown-content {
        background-color: #e1e1e1;
        position: relative;
        padding-left: 22px;
    }
}

.top-bar {
    position: sticky;
    top: 0;
    height: 50px;
    background-color: $secondary-color;
    color: white;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    button {
        height: 50px;
    }

    .w3-button:hover {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .refresh {
        background-color: #CF4044;
        display: inline-flex;
        align-items: center;
    }
}

.form-input {
    margin: 32px auto 164px auto;

    input {
        padding-left: 6px !important;
        border: solid 1px gray !important;
    }

    input:focus {
        // border: solid 1px $secondary-color !important;
        border: 1px solid #305eb2 !important;
        background-color: white;
    }

    input[type=checkbox] {
        padding: 0 !important;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;

        &:checked {
            background: $in-color url('../img/check.svg') no-repeat;
            background-size: 20px 20px;
            background-position: 50% 50%;
        }
    }
}

input,
select,
option,
textarea {
    outline: none;
}

button:focus {
    outline: none;
}

input.w3-input:focus,
textarea.w3-input:focus,
select:focus {
    border: none;
    border: 1px solid #014387 !important;
}

input[type="text"]:disabled {
    background: #fdf5e6;
    color: black;
}

input[type="text"]:disabled:hover {
    border: 1px solid #ccc !important;
}

.w3-btn:hover {
    box-shadow: none !important;
    filter: brightness(1.2);
}

.table-container {
    margin: 40px 100px 20px 92px;

    .top {
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        justify-content: flex-end;

        button {
            background-color: $secondary-color;
            color: white;
            display: inline-flex;
            align-items: center;
            font-size: 14px;
        }

        input {
            width: 300px;
            margin-right: 45px;
            padding-left: 30px;
            background-image: url('../img/search_icon.svg');
            background-repeat: no-repeat;
            background-position: 4px 8px;
            background-size: 25px;
            border-color: $secondary-color !important;
        }
    }

    table {
        thead {
            tr {
                background-color: $opt-color !important;
            }

            th {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        td,
        th {
            border: 1px solid white;
            padding: 0px 2px;
            height: 100%;
            vertical-align: middle;
        }

        td {
            a {
                color: black;
                text-decoration: none;
                display: inline-flex;

                img {
                    height: 24px;
                    width: 24px;
                }
            }

            a:hover {
                text-decoration: underline;
            }
        }

        tbody {
            td {
                padding-top: 0px;
                height: 100%;
                vertical-align: middle;
                border-bottom: 1px solid #f1f1f1 !important;
            }
        }

        .w3-btn {
            padding: 4px 8px !important;

            // Change Needed
            span {
                font-size: 16px;
                display: inline-block;
                padding-bottom: -8px;
                margin-right: 6px;
            }
        }
    }
}

.w3-modal-content {
    width: 640px;
    padding-bottom: 8px;
}

.w3-btn.icon {
    min-width: 100px;
    display: inline-flex;
    vertical-align: middle;

    span {
        font-size: 16px;
    }
}