<div class="clients-table">
    <div class="top">
        <div class="left">
            <select name="year" ng-model="selectedYear" ng-change="yearlyLoads()" class="w3-select w3-border">
                <!-- <option value="1">Toutes années</option> -->
                <option value="2020" ng-selected="selectedYear=='2020'">2020</option>
                <option value="2019" ng-selected="selectedYear=='2019'">2019</option>
            </select>
        </div>
        <div class="right">
            <input class="w3-input w3-border" type="text" placeholder="Recherche" ng-disabled="!searchable"
                ng-keyup="search($event)">
            <button ng-if="selectedYear != 1" class="w3-btn icon" onclick="openAddClientModal()"><span style="font-size: 22px;"
                    class="material-icons-outlined">person_add</span>&nbsp;&nbsp;Création</button>
        </div>
    </div>
    <div>
        <div class="w3-responsive" style="height: calc(100vh - 252px); overflow-x: hidden;">
            <table class="w3-table-all" style="width: calc(100% - 0.5px);">
                <thead>
                    <tr>
                        <th style="width: 130px;">N° dossier</th>
                        <th style="width: 280px;">
                            <span>Nom</span>
                            <span class="arrow material-icons">
                                arrow_drop_up
                            </span>
                        </th>
                        <th style="width: 210px;">
                            <span>Prénom</span>
                            <span class="arrow material-icons">
                                arrow_drop_up
                            </span>
                        </th>
                        <th style="width: 140px;">Téléphone</th>
                        <th>Courriel</th>
                        <th style="width: 155px;">Infos</th>
                        <th style="width: 160px;" class="w3-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>
                            <a href="/#/myapp/{{selectedYear}}?id={{client._id}}">
                                {{client?.signaletique?.numero_de_dossier}}
                            </a>
                        <td>
                            <a href="/#/myapp/{{selectedYear}}?id={{client._id}}">
                                {{client.signaletique?.contribuable?.nom}}
                            </a>
                        </td>
                        <td>{{client.signaletique?.contribuable?.prenom}}</td>
                        <td>{{client.signaletique?.contribuable?.telephone}}</td>
                        <td>
                            <a
                                href="mailto:{{client.signaletique?.contribuable?.courriel}}?subject=IMPOTS 2019">{{client.signaletique?.contribuable?.courriel}}</a>
                        </td>
                        <td></td>
                        <td style="width: 50px;" class="w3-center">
                            <div style="display: flex; gap: 10px; justify-content: center;">
                                <span title="Supprimer" style="cursor: pointer;" id="{{client}}"
                                    onclick="$('#clientDeleteModal').show();" ng-click="deleteAction($event)"
                                    class="w3-text-red material-icons">
                                    delete
                                </span>
                                <a title="PDF" target="_blank" href="../api/pdf/fr/{{selectedYear}}/{{client._id}}">
                                    <img style="height: 22px; width: 20px; align-self: center;" src="../../assets/img/pdf.svg" />
                                </a>
                                <a title="Word" href="#">
                                    <img style="height: 23px; width: 23px; margin-top: 2px;" src="../../assets/img/docx.svg" />
                                </a>
                                <a title="Excel" href="#">
                                    <img style="height: 23px; width: 23px; margin-top: 2px;" src="../../assets/img/xlsx.svg" />
                                </a>
                                <span ng-if="selectedYear == 2019" title="Transfert" style="cursor: pointer;" class="material-icons"
                                    onclick="$('#clientTransferModal').show();"  id="{{client}}t" ng-click="selectClient($event)">
                                    transform
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="loadingClients">
                        <td colspan="11">
                            <div style="text-align: center; padding: 4px 8px; font-size: 16px;">Chargement...</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>