<div class="table-container">
    <div class="top">
        <input class="w3-input w3-border" type="text" placeholder="Recherche">
        <button class="w3-btn icon" onclick="openAddClientModal()"><span style="font-size: 22px;" class="material-icons-outlined">person_add</span>&nbsp;&nbsp;Création</button>
    </div>
    <div class="table-content">
        <div class="w3-responsive">
            <table class="w3-table-all">
                <thead>
                    <tr>
                        <th>Numéro de dossier</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Courriel</th>
                        <th>Année d'imposition</th>
                        <th colspan="4" class="w3-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8930230230</td>
                        <td>Abdur</td>
                        <td>Rahman</td>
                        <td>(+352) 691123451</td>
                        <td>asadsoon114@gmail.com</td>
                        <td>2019</td>
                        <td class="w3-center">
                            <a href="#">Edit</a>
                        </td>
                        <td class="w3-center">
                            <a href="#" class="w3-text-red">Delete</a>
                        </td>
                        <td class="w3-center">
                            <a href="#">PDF</a>
                        </td>
                        <td class="w3-center">
                            <a href="#">Word</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8930230230</td>
                        <td>Abdur</td>
                        <td>Rahman</td>
                        <td>(+352) 691123451</td>
                        <td>asadsoon114@gmail.com</td>
                        <td>2019</td>
                        <td class="w3-center">
                            <a href="#">Edit</a>
                        </td>
                        <td class="w3-center">
                            <a href="#" class="w3-text-red">Delete</a>
                        </td>
                        <td class="w3-center">
                            <a href="#">PDF</a>
                        </td>
                        <td class="w3-center">
                            <a href="#">Word</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8930230230</td>
                        <td>Abdur</td>
                        <td>Rahman</td>
                        <td>(+352) 691123451</td>
                        <td>asadsoon114@gmail.com</td>
                        <td>2019</td>
                        <td class="w3-center">
                            <a href="#">Edit</a>
                        </td>
                        <td class="w3-center">
                            <a href="#" class="w3-text-red">Delete</a>
                        </td>
                        <td class="w3-center">
                            <a href="#">PDF</a>
                        </td>
                        <td class="w3-center">
                            <a href="#">Word</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8930230230</td>
                        <td>Abdur</td>
                        <td>Rahman</td>
                        <td>(+352) 691123451</td>
                        <td>asadsoon114@gmail.com</td>
                        <td>2019</td>
                        <td class="w3-center">
                            <a href="#">Edit</a>
                        </td>
                        <td class="w3-center">
                            <a href="#" class="w3-text-red">Delete</a>
                        </td>
                        <td class="w3-center">
                            <a href="#">PDF</a>
                        </td>
                        <td class="w3-center">
                            <a href="#">Word</a>
                        </td>
                    </tr>
                    <!-- <tr ng-repeat="client in clients track by $index">
                        <td>{{$index + 1}}</td>
                        <td class="w3-center">
                            <a href="#/client?id={{client._id}}">{{client.signaletique.contribuable.nom}}</a>
                        </td>
                        <td>{{client.signaletique.contribuable.prenom}}</td>
                        <td class="w3-center">
                            <a href="mailto:{{client.signaletique.contribuable.courriel}}" target="_top">{{client.signaletique.contribuable.courriel}}</a>
                        </td>
                        <td class="w3-center">
                            <button class="w3-btn w3-round w3-blue"><span class="material-icons">picture_as_pdf</span>Generate PDF</button>
                        </td>
                        <td class="w3-center">
                            <button ng-click="submitClientDelete(client._id)" class="w3-btn w3-round w3-red"><span
                                    class="material-icons">delete_sweep</span>Delete</button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
            <!-- <div ng-show="!load" class="w3-pale-blue" style="padding: 12px; text-align: center;"><img src="img/loader.gif" alt="Loading..." style="height: 25px; width: 25px;"></div>
            <div id="nodata" ng-show="nodata" class="w3-pale-blue" style="padding: 12px; text-align: center;">No Data Found!</div> -->
        </div>
    </div>
</div>