.a07 {
  width: 100%;
  min-width: 1071px;
  height: 100vh;
  min-height: 1549px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a07 .a778parmois0 {
  background-color: rgb(223, 226, 229);
  top: 1529px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 871px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a778parsemaine1 {
  background-color: rgb(223, 226, 229);
  top: 1505px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 871px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a778jours2 {
  background-color: rgb(223, 226, 229);
  top: 1506px;
  height: 42px;
  width: 94px;
  position: absolute;
  margin: 0;
  left: 709px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a777parmois3 {
  background-color: rgb(223, 226, 229);
  top: 1529px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 475px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a777parsemaine4 {
  background-color: rgb(223, 226, 229);
  top: 1505px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 475px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a777jours5 {
  background-color: rgb(223, 226, 229);
  top: 1506px;
  height: 42px;
  width: 94px;
  position: absolute;
  margin: 0;
  left: 313px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a7766 {
  background-color: rgb(223, 226, 229);
  top: 1455px;
  height: 42px;
  width: 146px;
  position: absolute;
  margin: 0;
  left: 923px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a7757 {
  background-color: rgb(223, 226, 229);
  top: 1455px;
  height: 42px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 739px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a7748 {
  background-color: rgb(223, 226, 229);
  top: 1455px;
  height: 42px;
  width: 146px;
  position: absolute;
  margin: 0;
  left: 527px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a7739 {
  background-color: rgb(223, 226, 229);
  top: 1455px;
  height: 42px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 343px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a77210 {
  background-color: rgb(223, 226, 229);
  top: 1406px;
  height: 42px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 709px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a77111 {
  background-color: rgb(223, 226, 229);
  top: 1406px;
  height: 42px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 313px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a770parmois12 {
  background-color: rgb(223, 226, 229);
  top: 1370px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 871px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a770parsemaine13 {
  background-color: rgb(223, 226, 229);
  top: 1346px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 871px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a770jours14 {
  background-color: rgb(223, 226, 229);
  top: 1347px;
  height: 42px;
  width: 94px;
  position: absolute;
  margin: 0;
  left: 709px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a769parmois15 {
  background-color: rgb(223, 226, 229);
  top: 1370px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 475px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a769parsemaine16 {
  background-color: rgb(223, 226, 229);
  top: 1346px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 475px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a769jours17 {
  background-color: rgb(223, 226, 229);
  top: 1347px;
  height: 42px;
  width: 94px;
  position: absolute;
  margin: 0;
  left: 313px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76818 {
  background-color: rgb(223, 226, 229);
  top: 1296px;
  height: 42px;
  width: 146px;
  position: absolute;
  margin: 0;
  left: 923px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76719 {
  background-color: rgb(223, 226, 229);
  top: 1296px;
  height: 42px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 739px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76620 {
  background-color: rgb(223, 226, 229);
  top: 1296px;
  height: 42px;
  width: 146px;
  position: absolute;
  margin: 0;
  left: 527px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76521 {
  background-color: rgb(223, 226, 229);
  top: 1296px;
  height: 42px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 343px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76422 {
  background-color: rgb(223, 226, 229);
  top: 1246px;
  height: 42px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 709px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76323 {
  background-color: rgb(223, 226, 229);
  top: 1246px;
  height: 42px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 313px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76224 {
  background-color: rgb(223, 226, 229);
  top: 1116px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76125 {
  background-color: rgb(223, 226, 229);
  top: 1116px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a76026 {
  background-color: rgb(223, 226, 229);
  top: 1116px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75927 {
  background-color: rgb(223, 226, 229);
  top: 1116px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75828 {
  background-color: rgb(223, 226, 229);
  top: 1060px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75729 {
  background-color: rgb(223, 226, 229);
  top: 1060px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75630 {
  background-color: rgb(223, 226, 229);
  top: 1060px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75531 {
  background-color: rgb(223, 226, 229);
  top: 1060px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75432 {
  background-color: rgb(223, 226, 229);
  top: 1010px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75333 {
  background-color: rgb(223, 226, 229);
  top: 1010px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75234 {
  background-color: rgb(223, 226, 229);
  top: 1010px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75135 {
  background-color: rgb(223, 226, 229);
  top: 1010px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a75036 {
  background-color: rgb(223, 226, 229);
  top: 913px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74937 {
  background-color: rgb(223, 226, 229);
  top: 913px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74838 {
  background-color: rgb(223, 226, 229);
  top: 913px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74739 {
  background-color: rgb(223, 226, 229);
  top: 913px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74640 {
  background-color: rgb(223, 226, 229);
  top: 826px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74541 {
  background-color: rgb(223, 226, 229);
  top: 826px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74442 {
  background-color: rgb(223, 226, 229);
  top: 826px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74343 {
  background-color: rgb(223, 226, 229);
  top: 826px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74244 {
  background-color: rgb(223, 226, 229);
  top: 776px;
  height: 42px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74145 {
  background-color: rgb(223, 226, 229);
  top: 734px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a74046 {
  background-color: rgb(223, 226, 229);
  top: 734px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73947 {
  background-color: rgb(223, 226, 229);
  top: 734px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73848 {
  background-color: rgb(223, 226, 229);
  top: 734px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73749 {
  background-color: rgb(223, 226, 229);
  top: 666px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73650 {
  background-color: rgb(223, 226, 229);
  top: 666px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73551 {
  background-color: rgb(223, 226, 229);
  top: 666px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73452 {
  background-color: rgb(223, 226, 229);
  top: 666px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73353 {
  background-color: rgb(223, 226, 229);
  top: 616px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73254 {
  background-color: rgb(223, 226, 229);
  top: 616px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73155 {
  background-color: rgb(223, 226, 229);
  top: 616px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a73056 {
  background-color: rgb(223, 226, 229);
  top: 616px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72957 {
  background-color: rgb(223, 226, 229);
  top: 536px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72858 {
  background-color: rgb(223, 226, 229);
  top: 536px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72759 {
  background-color: rgb(223, 226, 229);
  top: 536px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72660 {
  background-color: rgb(223, 226, 229);
  top: 535px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72561 {
  background-color: rgb(223, 226, 229);
  top: 466px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72462 {
  background-color: rgb(223, 226, 229);
  top: 466px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72363 {
  background-color: rgb(223, 226, 229);
  top: 466px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72264 {
  background-color: rgb(223, 226, 229);
  top: 466px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72165 {
  background-color: rgb(223, 226, 229);
  top: 398px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a72066 {
  background-color: rgb(223, 226, 229);
  top: 398px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71967 {
  background-color: rgb(223, 226, 229);
  top: 398px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71868 {
  background-color: rgb(223, 226, 229);
  top: 398px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71769 {
  background-color: rgb(223, 226, 229);
  top: 342px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71670 {
  background-color: rgb(223, 226, 229);
  top: 342px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71571 {
  background-color: rgb(223, 226, 229);
  top: 342px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71472 {
  background-color: rgb(223, 226, 229);
  top: 342px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71373 {
  background-color: rgb(223, 226, 229);
  top: 342px;
  height: 42px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71274 {
  background-color: rgb(223, 226, 229);
  top: 274px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71175 {
  background-color: rgb(223, 226, 229);
  top: 274px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a71076 {
  background-color: rgb(223, 226, 229);
  top: 274px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70977 {
  background-color: rgb(223, 226, 229);
  top: 274px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70878 {
  background-color: rgb(223, 226, 229);
  top: 224px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70779 {
  background-color: rgb(223, 226, 229);
  top: 224px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70680 {
  background-color: rgb(223, 226, 229);
  top: 224px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70581 {
  background-color: rgb(223, 226, 229);
  top: 224px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70482 {
  background-color: rgb(223, 226, 229);
  top: 174px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 921px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70383 {
  background-color: rgb(223, 226, 229);
  top: 174px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 761px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70284 {
  background-color: rgb(223, 226, 229);
  top: 174px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 589px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .a70185 {
  background-color: rgb(223, 226, 229);
  top: 174px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 429px;
  transform: rotate(0deg);
  opacity: 1;
}

.a07 .parmois86 {
  background-color: rgba(255, 255, 255, 0);
  top: 1530px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 897px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .parsemaine87 {
  background-color: rgba(255, 255, 255, 0);
  top: 1506px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 897px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .jours88 {
  background-color: rgba(255, 255, 255, 0);
  top: 1520px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 807px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .au89 {
  background-color: rgba(255, 255, 255, 0);
  top: 1468px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 897px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .du90 {
  background-color: rgba(255, 255, 255, 0);
  top: 1468px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 715px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .parmois91 {
  background-color: rgba(255, 255, 255, 0);
  top: 1530px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 501px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .parsemaine92 {
  background-color: rgba(255, 255, 255, 0);
  top: 1506px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 501px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .jours93 {
  background-color: rgba(255, 255, 255, 0);
  top: 1520px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 411px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .frquence94 {
  background-color: rgba(255, 255, 255, 0);
  top: 1520px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 197px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .au95 {
  background-color: rgba(255, 255, 255, 0);
  top: 1468px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 501px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .du96 {
  background-color: rgba(255, 255, 255, 0);
  top: 1468px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 319px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .priode97 {
  background-color: rgba(255, 255, 255, 0);
  top: 1468px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 197px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .localit98 {
  background-color: rgba(255, 255, 255, 0);
  top: 1418px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 197px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .a2elieudetravail99 {
  background-color: rgba(255, 255, 255, 0);
  top: 1406px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .parmois100 {
  background-color: rgba(255, 255, 255, 0);
  top: 1370px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 897px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .parsemaine101 {
  background-color: rgba(255, 255, 255, 0);
  top: 1346px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 897px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .jours102 {
  background-color: rgba(255, 255, 255, 0);
  top: 1360px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 807px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .au103 {
  background-color: rgba(255, 255, 255, 0);
  top: 1308px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 897px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .du104 {
  background-color: rgba(255, 255, 255, 0);
  top: 1308px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 715px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .contribuableconjointpartenaire105 {
  background-color: rgba(255, 255, 255, 0);
  top: 1226px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 776px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a07 .parmois106 {
  background-color: rgba(255, 255, 255, 0);
  top: 1370px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 501px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .parsemaine107 {
  background-color: rgba(255, 255, 255, 0);
  top: 1346px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 501px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .jours108 {
  background-color: rgba(255, 255, 255, 0);
  top: 1360px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 411px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .frquence109 {
  background-color: rgba(255, 255, 255, 0);
  top: 1360px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 197px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .au110 {
  background-color: rgba(255, 255, 255, 0);
  top: 1308px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 501px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .du111 {
  background-color: rgba(255, 255, 255, 0);
  top: 1308px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 319px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .priode112 {
  background-color: rgba(255, 255, 255, 0);
  top: 1308px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 197px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .localit113 {
  background-color: rgba(255, 255, 255, 0);
  top: 1260px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 197px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .contribuable114 {
  background-color: rgba(255, 255, 255, 0);
  top: 1226px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 448px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a07 .a1erlieudetravail115 {
  background-color: rgba(255, 255, 255, 0);
  top: 1246px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .s2116 {
  background-color: rgba(255, 255, 255, 0);
  top: 1190px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1042px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a07 .plusieurslieuxdetravail117 {
  background-color: rgba(255, 255, 255, 0);
  top: 1190px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a07 .totalabcdedductionsrevenureporterlapage20cases20132016118 {
  background-color: rgba(255, 255, 255, 0);
  top: 1122px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .totalabcdedductionsrevenureporterlapage20cases20132016118 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.a07 .totalabcdedductionsrevenureporterlapage20cases20132016118 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.a07 .totaldesdductions119 {
  background-color: rgba(255, 255, 255, 0);
  top: 1086px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .dsignationdulieudetravailencasdeplusieurslieuxdetravaillescases763778ciaprssontremplir120 {
  background-color: rgba(255, 255, 255, 0);
  top: 1012px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .fraisdedplacementlorsquelloignementdpasse4unitsdloignementsansendpasser30ladductionforfaitaireestde99parunitles4premiresunitsnesontpasprisesencompteetladductionestlimite2574121 {
  background-color: rgba(255, 255, 255, 0);
  top: 918px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .c122 {
  background-color: rgba(255, 255, 255, 0);
  top: 914px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .fraisdobtentionminimumforfaitairede540parsalarimajorencasdinvaliditoudinfirmitencasdedductiondesfraiseffectifslesdtailssontjoindreenannexe123 {
  background-color: rgba(255, 255, 255, 0);
  top: 830px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .b124 {
  background-color: rgba(255, 255, 255, 0);
  top: 826px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .autresexemptionsspcifier125 {
  background-color: rgba(255, 255, 255, 0);
  top: 748px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 57px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .a126 {
  background-color: rgba(255, 255, 255, 0);
  top: 748px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .supplmentsdesalairespourtravaildenuitdedimancheetdejoursfris127 {
  background-color: rgba(255, 255, 255, 0);
  top: 672px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 57px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .a128 {
  background-color: rgba(255, 255, 255, 0);
  top: 670px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .salairespayspourlesheuressupplmentaires129 {
  background-color: rgba(255, 255, 255, 0);
  top: 630px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 57px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .a130 {
  background-color: rgba(255, 255, 255, 0);
  top: 630px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .a131 {
  background-color: rgba(255, 255, 255, 0);
  top: 630px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .adduire132 {
  background-color: rgba(255, 255, 255, 0);
  top: 604px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .totalabcdelescertificatsestsontjoindreenannexe133 {
  background-color: rgba(255, 255, 255, 0);
  top: 540px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .totalabcdelescertificatsestsontjoindreenannexe133 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.a07 .totalabcdelescertificatsestsontjoindreenannexe133 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.a07 .salairebrutversdanslecadredurgimedimpositionforfaitairedelarticle1375lirencasdedemandeenrgularisationveuillezindiquertouteslesrmunrationssoumiseslimpositionforfaitaire134 {
  background-color: rgba(255, 255, 255, 0);
  top: 456px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .e135 {
  background-color: rgba(255, 255, 255, 0);
  top: 452px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .totalabcd136 {
  background-color: rgba(255, 255, 255, 0);
  top: 412px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .autresspcifier137 {
  background-color: rgba(255, 255, 255, 0);
  top: 322px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .d138 {
  background-color: rgba(255, 255, 255, 0);
  top: 322px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .prestationsencasdemaladiedematernitdaccidentetdechmage139 {
  background-color: rgba(255, 255, 255, 0);
  top: 280px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .c140 {
  background-color: rgba(255, 255, 255, 0);
  top: 278px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .deuximecontratdelouagedeservice141 {
  background-color: rgba(255, 255, 255, 0);
  top: 238px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .b142 {
  background-color: rgba(255, 255, 255, 0);
  top: 238px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .premiercontratdelouagedeservice143 {
  background-color: rgba(255, 255, 255, 0);
  top: 188px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .a144 {
  background-color: rgba(255, 255, 255, 0);
  top: 188px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .indiquerlescotisationsobligatoireslapage16cases16011604etlesretenuesdimptlasourcesurlessalaireslapage19cases19231924145 {
  background-color: rgba(255, 255, 255, 0);
  top: 147px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 14px;
}

.a07 .s1146 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1042px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a07 .dterminationdurevenunetprovenantduneoccupationsalarie147 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a07 .contribuableconjointpartenaire148 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 929px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a07 .contribuable149 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 790px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .revenusexonrs150 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 818px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a07 .contribuableconjointpartenaire151 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 597px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a07 .contribuable152 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 458px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a07 .revenusnonexonrs153 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 463px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a07 .s154 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1050px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 28px;
}

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
  animation-delay: 0;
}
@keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}

.anima-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}/*# sourceMappingURL=page7.css.map */