/* screen - 04 */
.arial-bold-black-22px {
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-black-15px {
  color: var(--black);
  font-family: "Arial-Regular", Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.arial-regular-normal-black-16px {
  color: var(--black);
  font-family: "Arial-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.a04 {
  background-color: var(--white);
  height: 1588px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1074px;
}

.a04 p {
  margin: 0 !important;
}

.a04 .a-dfaut-de-coch-s-ce-cas-la-cas {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial", Helvetica;
  font-size: 16px;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 980px;
  white-space: nowrap;
  width: auto;
}

.a04 .a-dfaut-de-remp-doit-tre-de-10 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1538px;
  white-space: nowrap;
  width: auto;
}

.a04 .anne {
  background-color: transparent;
  height: auto;
  left: 671px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1188px;
  white-space: nowrap;
  width: auto;
}

.a04 .anne-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 225px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1188px;
  white-space: nowrap;
  width: auto;
}

.a04 .code-iban {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1310px;
  white-space: nowrap;
  width: auto;
}

.a04 .contribuable {
  background-color: transparent;
  height: auto;
  left: 344px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1122px;
  white-space: nowrap;
  width: auto;
}

.a04 .contribuable-co-jointpartenaire {
  background-color: transparent;
  height: auto;
  left: 722px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1122px;
  white-space: nowrap;
  width: auto;
}

.a04 .date-de-la-dcla-du-partenariat {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 422px;
  white-space: nowrap;
  width: auto;
}

.a04 .date-de-naissan-didentification {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1146px;
  white-space: nowrap;
  width: auto;
}

.a04 .dj-prsent {
  background-color: transparent;
  height: auto;
  left: 909px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 434px;
  white-space: nowrap;
  width: auto;
}

.a04 .document-tabli-rits-comptentes {
  background-color: transparent;
  height: auto;
  left: 522px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 422px;
  white-space: nowrap;
  width: auto;
}

.a04 .en-annexe {
  background-color: transparent;
  height: auto;
  left: 909px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 408px;
  white-space: nowrap;
  width: auto;
}

.a04 .en-cas-de-deman-2-et-3ter-3-lir {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1094px;
  white-space: nowrap;
  width: auto;
}

.a04 .en-cas-de-deman-et-429-ci-aprs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1450px;
  white-space: nowrap;
  width: auto;
}

.a04 .epoux-dont-lun-ne-non-rsidente {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 48px;
  white-space: nowrap;
  width: auto;
}

.a04 .imposition-indi-idents-assimils {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 640px;
  white-space: nowrap;
  width: auto;
}

.a04 .informations-complmentaires {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1062px;
  white-space: nowrap;
  width: auto;
}

.a04 .jour {
  background-color: transparent;
  height: auto;
  left: 835px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1188px;
  white-space: nowrap;
  width: auto;
}

.a04 .jour-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 389px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1188px;
  white-space: nowrap;
  width: auto;
}

.a04 .la-demande-est-z-galement-opte {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 472px;
  white-space: nowrap;
  width: auto;
}

.a04 .limposition-col-larticle-3-lir {
  background-color: transparent;
  height: auto;
  left: 219px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 784px;
  white-space: nowrap;
  width: auto;
}

.a04 .limposition-collective {
  background-color: transparent;
  height: auto;
  left: 219px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 934px;
  white-space: nowrap;
  width: auto;
}

.a04 .limposition-ind-r-cases-416-427 {
  background-color: transparent;
  height: auto;
  left: 219px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 816px;
  white-space: nowrap;
  width: auto;
}

.a04 .limposition-ind-r-cases-416-429 {
  background-color: transparent;
  height: auto;
  left: 219px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 848px;
  white-space: nowrap;
  width: auto;
}

.a04 .limposition-individuelle {
  background-color: transparent;
  height: auto;
  left: 484px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 934px;
  white-space: nowrap;
  width: auto;
}

.a04 .line-1 {
  background-color: transparent;
  height: 28px;
  left: 216px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-10 {
  background-color: transparent;
  height: 28px;
  left: 498px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-11 {
  background-color: transparent;
  height: 28px;
  left: 530px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-12 {
  background-color: transparent;
  height: 28px;
  left: 561px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-13 {
  background-color: transparent;
  height: 30px;
  left: 225px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-14 {
  background-color: transparent;
  height: 30px;
  left: 266px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-15 {
  background-color: transparent;
  height: 30px;
  left: 307px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-16 {
  background-color: transparent;
  height: 30px;
  left: 348px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-17 {
  background-color: transparent;
  height: 30px;
  left: 379px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-18 {
  background-color: transparent;
  height: 30px;
  left: 410px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-19 {
  background-color: transparent;
  height: 30px;
  left: 446px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-2 {
  background-color: transparent;
  height: 28px;
  left: 247px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-20 {
  background-color: transparent;
  height: 30px;
  left: 483px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-21 {
  background-color: transparent;
  height: 30px;
  left: 519px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-22 {
  background-color: transparent;
  height: 30px;
  left: 556px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-23 {
  background-color: transparent;
  height: 28px;
  left: 662px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-24 {
  background-color: transparent;
  height: 28px;
  left: 693px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-25 {
  background-color: transparent;
  height: 28px;
  left: 725px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-26 {
  background-color: transparent;
  height: 28px;
  left: 756px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-27 {
  background-color: transparent;
  height: 28px;
  left: 787px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-28 {
  background-color: transparent;
  height: 28px;
  left: 819px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-29 {
  background-color: transparent;
  height: 28px;
  left: 850px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-3 {
  background-color: transparent;
  height: 28px;
  left: 279px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-30 {
  background-color: transparent;
  height: 28px;
  left: 882px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-31 {
  background-color: transparent;
  height: 28px;
  left: 913px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-32 {
  background-color: transparent;
  height: 28px;
  left: 944px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-33 {
  background-color: transparent;
  height: 28px;
  left: 976px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-34 {
  background-color: transparent;
  height: 28px;
  left: 1007px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-35 {
  background-color: transparent;
  height: 30px;
  left: 671px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-36 {
  background-color: transparent;
  height: 30px;
  left: 712px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-37 {
  background-color: transparent;
  height: 30px;
  left: 753px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-38 {
  background-color: transparent;
  height: 30px;
  left: 794px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-39 {
  background-color: transparent;
  height: 30px;
  left: 825px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-4 {
  background-color: transparent;
  height: 28px;
  left: 310px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-40 {
  background-color: transparent;
  height: 30px;
  left: 856px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-41 {
  background-color: transparent;
  height: 30px;
  left: 892px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-42 {
  background-color: transparent;
  height: 30px;
  left: 929px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-43 {
  background-color: transparent;
  height: 30px;
  left: 965px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-44 {
  background-color: transparent;
  height: 30px;
  left: 1002px;
  position: absolute;
  top: 1210px;
  width: 1px;
}

.a04 .line-5 {
  background-color: transparent;
  height: 28px;
  left: 341px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-6 {
  background-color: transparent;
  height: 28px;
  left: 373px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-7 {
  background-color: transparent;
  height: 28px;
  left: 404px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-8 {
  background-color: transparent;
  height: 28px;
  left: 436px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .line-9 {
  background-color: transparent;
  height: 28px;
  left: 467px;
  position: absolute;
  top: 1155px;
  width: 1px;
}

.a04 .mois {
  background-color: transparent;
  height: auto;
  left: 771px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1188px;
  white-space: nowrap;
  width: auto;
}

.a04 .mois-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 325px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1188px;
  white-space: nowrap;
  width: auto;
}

.a04 .n-dossierindividuel {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1210px;
  white-space: nowrap;
  width: auto;
}

.a04 .nous-dclarons-r-paravant-savoir {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 892px;
  white-space: nowrap;
  width: auto;
}

.a04 .nous-demandons-rsident-au-lux {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 94px;
  white-space: nowrap;
  width: auto;
}

.a04 .nous-demandons-t-la-fin-de-lan {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 350px;
  white-space: nowrap;
  width: auto;
}

.a04 .par-courrier {
  background-color: transparent;
  height: auto;
  left: 219px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 708px;
  white-space: nowrap;
  width: auto;
}

.a04 .par-myguichetlu {
  background-color: transparent;
  height: auto;
  left: 417px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 708px;
  white-space: nowrap;
  width: auto;
}

.a04 .partenaires-rsi-idents-assimils {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 312px;
  white-space: nowrap;
  width: auto;
}

.a04 .pour-lanne-dimp-en-dernier-lieu {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 676px;
  white-space: nowrap;
  width: auto;
}

.a04 .pour-lanne-dimp-nous-demandons {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 752px;
  white-space: nowrap;
  width: auto;
}

.a04 .span0-ISgB7F {
  color: black;
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
}

.a04 .span1-ISgB7F {
  color: black;
  font-family: "Arial-Bold", Helvetica;
  font-style: normal;
  font-weight: 700;
}

.a04 .span2-ISgB7F {
  color: black;
  font-family: "Arial-Regular", Helvetica;
  font-style: normal;
  font-weight: 400;
}

.a04 .swift-bic {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1360px;
  white-space: nowrap;
  width: auto;
}

.a04 .taux-de-rpartit-imposition-2020 {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Regular", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 1399px;
  white-space: nowrap;
  width: auto;
}

.a04 .taux-de-rpartit-ondial-rallouer {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Regular", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 1481px;
  white-space: nowrap;
  width: auto;
}

.a04 .title {
  background-color: transparent;
  color: var(--black);
  font-family: "Arial-Bold", Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1052px;
  letter-spacing: 0px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.a04 .titulaire-du-compte {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1260px;
  white-space: nowrap;
  width: auto;
}

.a04 .x {
  background-color: transparent;
  height: auto;
  left: 1019px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1506px;
  white-space: nowrap;
  width: auto;
}

.a04 .x-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 572px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1422px;
  white-space: nowrap;
  width: auto;
}

.a04 .x-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 572px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1504px;
  white-space: nowrap;
  width: auto;
}

.a04 .x-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 1019px;
  letter-spacing: 0px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 1422px;
  white-space: nowrap;
  width: auto;
}

.a04 .x0 {
  background-color: transparent;
  height: auto;
  left: 806px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1218px;
  white-space: nowrap;
  width: auto;
}

.a04 .x0-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1218px;
  white-space: nowrap;
  width: auto;
}

.a04 .x1 {
  background-color: transparent;
  height: auto;
  left: 836px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1218px;
  white-space: nowrap;
  width: auto;
}

.a04 .x1-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 390px;
  letter-spacing: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 1218px;
  white-space: nowrap;
  width: auto;
}

.a04 .x401 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 84px;
  width: 20px;
}

.a04 .x402 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 348px;
  width: 20px;
}

.a04 .x403 {
  background-color: var(--mercury);
  height: 42px;
  left: 344px;
  position: absolute;
  top: 409px;
  width: 138px;
}

.a04 .x404 {
  background-color: var(--mercury);
  height: 20px;
  left: 873px;
  position: absolute;
  top: 407px;
  width: 20px;
}

.a04 .x405 {
  background-color: var(--mercury);
  height: 20px;
  left: 873px;
  position: absolute;
  top: 433px;
  width: 20px;
}

.a04 .x406 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 675px;
  width: 20px;
}

.a04 .x407 {
  background-color: var(--mercury);
  height: 20px;
  left: 183px;
  position: absolute;
  top: 707px;
  width: 20px;
}

.a04 .x408 {
  background-color: var(--mercury);
  height: 20px;
  left: 381px;
  position: absolute;
  top: 707px;
  width: 20px;
}

.a04 .x409 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 751px;
  width: 20px;
}

.a04 .x410 {
  background-color: var(--mercury);
  height: 20px;
  left: 183px;
  position: absolute;
  top: 783px;
  width: 20px;
}

.a04 .x411 {
  background-color: var(--mercury);
  height: 20px;
  left: 183px;
  position: absolute;
  top: 815px;
  width: 20px;
}

.a04 .x412 {
  background-color: var(--mercury);
  height: 20px;
  left: 183px;
  position: absolute;
  top: 847px;
  width: 20px;
}

.a04 .x413 {
  background-color: var(--mercury);
  height: 20px;
  left: 34px;
  position: absolute;
  top: 891px;
  width: 20px;
}

.a04 .x414 {
  background-color: var(--mercury);
  height: 20px;
  left: 183px;
  position: absolute;
  top: 934px;
  width: 20px;
}

.a04 .x415 {
  background-color: var(--mercury);
  height: 20px;
  left: 448px;
  position: absolute;
  top: 934px;
  width: 20px;
}

.a04 .x416 {
  background-color: var(--mercury);
  height: 28px;
  left: 185px;
  position: absolute;
  top: 1155px;
  width: 408px;
}

.a04 .x417 {
  background-color: var(--mercury);
  height: 28px;
  left: 631px;
  position: absolute;
  top: 1155px;
  width: 408px;
}

.a04 .x418 {
  background-color: var(--white);
  height: 30px;
  left: 348px;
  position: absolute;
  top: 1210px;
  width: 62px;
}

.a04 .x418a {
  background-color: var(--mercury);
  height: 30px;
  left: 185px;
  position: absolute;
  top: 1210px;
  width: 163px;
}

.a04 .x418b {
  background-color: var(--mercury);
  height: 30px;
  left: 410px;
  position: absolute;
  top: 1210px;
  width: 183px;
}

.a04 .x419 {
  background-color: var(--white);
  height: 30px;
  left: 794px;
  position: absolute;
  top: 1210px;
  width: 62px;
}

.a04 .x419a {
  background-color: var(--mercury);
  height: 30px;
  left: 631px;
  position: absolute;
  top: 1210px;
  width: 163px;
}

.a04 .x419b {
  background-color: var(--mercury);
  height: 30px;
  left: 856px;
  position: absolute;
  top: 1210px;
  width: 183px;
}

.a04 .x420 {
  background-color: var(--mercury);
  height: 42px;
  left: 185px;
  position: absolute;
  top: 1246px;
  width: 408px;
}

.a04 .x421 {
  background-color: var(--mercury);
  height: 42px;
  left: 631px;
  position: absolute;
  top: 1246px;
  width: 408px;
}

.a04 .x422 {
  background-color: var(--mercury);
  height: 42px;
  left: 185px;
  position: absolute;
  top: 1296px;
  width: 408px;
}

.a04 .x423 {
  background-color: var(--mercury);
  height: 42px;
  left: 631px;
  position: absolute;
  top: 1296px;
  width: 408px;
}

.a04 .x424 {
  background-color: var(--mercury);
  height: 42px;
  left: 185px;
  position: absolute;
  top: 1346px;
  width: 408px;
}

.a04 .x425 {
  background-color: var(--mercury);
  height: 42px;
  left: 631px;
  position: absolute;
  top: 1346px;
  width: 408px;
}

.a04 .x426 {
  background-color: var(--mercury);
  height: 42px;
  left: 403px;
  position: absolute;
  top: 1396px;
  width: 190px;
}

.a04 .x427 {
  background-color: var(--mercury);
  height: 42px;
  left: 849px;
  position: absolute;
  top: 1396px;
  width: 190px;
}

.a04 .x428 {
  background-color: var(--mercury);
  height: 42px;
  left: 403px;
  position: absolute;
  top: 1479px;
  width: 190px;
}

.a04 .x429 {
  background-color: var(--mercury);
  height: 42px;
  left: 849px;
  position: absolute;
  top: 1481px;
  width: 190px;
}
/*# sourceMappingURL=page4_20.css.map */