.a11 {
  width: 100%;
  min-width: 1081px;
  height: 100vh;
  min-height: 1323px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a11 .a11690 {
  background-color: rgb(223, 226, 229);
  top: 1244px;
  height: 56px;
  width: 160px;
  position: absolute;
  margin: 0;
  left: 919px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11681 {
  background-color: rgb(223, 226, 229);
  top: 1244px;
  height: 56px;
  width: 212px;
  position: absolute;
  margin: 0;
  left: 707px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11672 {
  background-color: rgb(223, 226, 229);
  top: 1244px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 587px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11663 {
  background-color: rgb(223, 226, 229);
  top: 1244px;
  height: 56px;
  width: 157px;
  position: absolute;
  margin: 0;
  left: 430px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11654 {
  background-color: rgb(223, 226, 229);
  top: 1244px;
  height: 56px;
  width: 154px;
  position: absolute;
  margin: 0;
  left: 276px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11645 {
  background-color: rgb(223, 226, 229);
  top: 1244px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 156px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11636 {
  background-color: rgb(223, 226, 229);
  top: 1244px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11627 {
  background-color: rgb(223, 226, 229);
  top: 1188px;
  height: 56px;
  width: 160px;
  position: absolute;
  margin: 0;
  left: 919px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11618 {
  background-color: rgb(223, 226, 229);
  top: 1188px;
  height: 56px;
  width: 212px;
  position: absolute;
  margin: 0;
  left: 707px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a11609 {
  background-color: rgb(223, 226, 229);
  top: 1188px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 587px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115910 {
  background-color: rgb(223, 226, 229);
  top: 1188px;
  height: 56px;
  width: 157px;
  position: absolute;
  margin: 0;
  left: 430px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115811 {
  background-color: rgb(223, 226, 229);
  top: 1188px;
  height: 56px;
  width: 154px;
  position: absolute;
  margin: 0;
  left: 276px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115712 {
  background-color: rgb(223, 226, 229);
  top: 1188px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 156px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115613 {
  background-color: rgb(223, 226, 229);
  top: 1188px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115514 {
  background-color: rgb(223, 226, 229);
  top: 1132px;
  height: 56px;
  width: 160px;
  position: absolute;
  margin: 0;
  left: 919px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115415 {
  background-color: rgb(223, 226, 229);
  top: 1132px;
  height: 56px;
  width: 212px;
  position: absolute;
  margin: 0;
  left: 707px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115316 {
  background-color: rgb(223, 226, 229);
  top: 1132px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 587px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115217 {
  background-color: rgb(223, 226, 229);
  top: 1132px;
  height: 56px;
  width: 157px;
  position: absolute;
  margin: 0;
  left: 430px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115118 {
  background-color: rgb(223, 226, 229);
  top: 1132px;
  height: 56px;
  width: 154px;
  position: absolute;
  margin: 0;
  left: 276px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a115019 {
  background-color: rgb(223, 226, 229);
  top: 1132px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 156px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114920 {
  background-color: rgb(223, 226, 229);
  top: 1132px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114821 {
  background-color: rgb(223, 226, 229);
  top: 1076px;
  height: 56px;
  width: 160px;
  position: absolute;
  margin: 0;
  left: 919px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114722 {
  background-color: rgb(223, 226, 229);
  top: 1076px;
  height: 56px;
  width: 212px;
  position: absolute;
  margin: 0;
  left: 707px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114623 {
  background-color: rgb(223, 226, 229);
  top: 1076px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 587px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114524 {
  background-color: rgb(223, 226, 229);
  top: 1076px;
  height: 56px;
  width: 157px;
  position: absolute;
  margin: 0;
  left: 430px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114425 {
  background-color: rgb(223, 226, 229);
  top: 1076px;
  height: 56px;
  width: 154px;
  position: absolute;
  margin: 0;
  left: 276px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114326 {
  background-color: rgb(223, 226, 229);
  top: 1076px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 156px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114227 {
  background-color: rgb(223, 226, 229);
  top: 1076px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114128 {
  background-color: rgb(223, 226, 229);
  top: 1020px;
  height: 56px;
  width: 160px;
  position: absolute;
  margin: 0;
  left: 919px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a114029 {
  background-color: rgb(223, 226, 229);
  top: 1020px;
  height: 56px;
  width: 212px;
  position: absolute;
  margin: 0;
  left: 707px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a113930 {
  background-color: rgb(223, 226, 229);
  top: 1020px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 587px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a113831 {
  background-color: rgb(223, 226, 229);
  top: 1020px;
  height: 56px;
  width: 157px;
  position: absolute;
  margin: 0;
  left: 430px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a113732 {
  background-color: rgb(223, 226, 229);
  top: 1020px;
  height: 56px;
  width: 154px;
  position: absolute;
  margin: 0;
  left: 276px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a113633 {
  background-color: rgb(223, 226, 229);
  top: 1020px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 156px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a113534 {
  background-color: rgb(223, 226, 229);
  top: 1020px;
  height: 56px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a1131113235 {
  background-color: rgb(223, 226, 229);
  top: 832px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 815px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a113236 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a113137 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a1129113038 {
  background-color: rgb(223, 226, 229);
  top: 832px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 483px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a113039 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112940 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112841 {
  background-color: rgb(223, 226, 229);
  top: 728px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112742 {
  background-color: rgb(223, 226, 229);
  top: 728px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112643 {
  background-color: rgb(223, 226, 229);
  top: 728px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112544 {
  background-color: rgb(223, 226, 229);
  top: 728px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112445 {
  background-color: rgb(223, 226, 229);
  top: 632px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112346 {
  background-color: rgb(223, 226, 229);
  top: 632px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112247 {
  background-color: rgb(223, 226, 229);
  top: 632px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112148 {
  background-color: rgb(223, 226, 229);
  top: 632px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a112049 {
  background-color: rgb(223, 226, 229);
  top: 541px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111950 {
  background-color: rgb(223, 226, 229);
  top: 541px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111851 {
  background-color: rgb(223, 226, 229);
  top: 541px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111752 {
  background-color: rgb(223, 226, 229);
  top: 541px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111653 {
  background-color: rgb(223, 226, 229);
  top: 491px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111554 {
  background-color: rgb(223, 226, 229);
  top: 491px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111455 {
  background-color: rgb(223, 226, 229);
  top: 491px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111356 {
  background-color: rgb(223, 226, 229);
  top: 491px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111257 {
  background-color: rgb(223, 226, 229);
  top: 362px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111158 {
  background-color: rgb(223, 226, 229);
  top: 362px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a111059 {
  background-color: rgb(223, 226, 229);
  top: 362px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110960 {
  background-color: rgb(223, 226, 229);
  top: 362px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110861 {
  background-color: rgb(223, 226, 229);
  top: 312px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110762 {
  background-color: rgb(223, 226, 229);
  top: 312px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110663 {
  background-color: rgb(223, 226, 229);
  top: 312px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110564 {
  background-color: rgb(223, 226, 229);
  top: 312px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110465 {
  background-color: rgb(223, 226, 229);
  top: 187px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 931px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110366 {
  background-color: rgb(223, 226, 229);
  top: 187px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 771px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110267 {
  background-color: rgb(223, 226, 229);
  top: 187px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 599px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .a110168 {
  background-color: rgb(223, 226, 229);
  top: 187px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 439px;
  transform: rotate(0deg);
  opacity: 1;
}

.a11 .d169 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1051px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a11 .dterminationdesrevenusnetsdivers70 {
  background-color: rgba(255, 255, 255, 0);
  top: 118px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a11 .contribuableconjointpartenaire71 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 939px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a11 .contribuable72 {
  background-color: rgba(255, 255, 255, 0);
  top: 94px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 800px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .revenusexonrs73 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 828px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a11 .contribuableconjointpartenaire74 {
  background-color: rgba(255, 255, 255, 0);
  top: 78px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 607px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a11 .contribuable75 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 468px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .revenusnonexonrs76 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 473px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a11 .d77 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1059px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 28px;
}

.a11 .revenuprovenantdelacessiontitreonreuxdeparticipationsimportantesdansdesorganismescaractrecollectifpexsocitanonymesocitresponsabliltlimiteetcoudupartagetotaloupartieldelactifnetinvestidepareilsorganism78 {
  background-color: rgba(255, 255, 255, 0);
  top: 160px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .a79 {
  background-color: rgba(255, 255, 255, 0);
  top: 154px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .b80 {
  background-color: rgba(255, 255, 255, 0);
  top: 278px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .revenuprovenantdeplusvaluesraliseslorsdelacessiondebiensdupatrimoineprivselonlemodle70081 {
  background-color: rgba(255, 255, 255, 0);
  top: 278px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .bnficedespculation82 {
  background-color: rgba(255, 255, 255, 0);
  top: 326px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 65px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .bnficedecession83 {
  background-color: rgba(255, 255, 255, 0);
  top: 376px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 65px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .a184 {
  background-color: rgba(255, 255, 255, 0);
  top: 326px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .a285 {
  background-color: rgba(255, 255, 255, 0);
  top: 376px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .revenuprovenantdeprestationsdiversesnoncomprisesdansuneautrecatgoriederevenuspexentremisesoccasionnellescommissionssecrtesetc86 {
  background-color: rgba(255, 255, 255, 0);
  top: 424px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .c87 {
  background-color: rgba(255, 255, 255, 0);
  top: 420px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .recettessuivantannexe88 {
  background-color: rgba(255, 255, 255, 0);
  top: 504px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 90px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .fraisdobtentionsuivantannexe89 {
  background-color: rgba(255, 255, 255, 0);
  top: 554px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 90px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .a90 {
  background-color: rgba(255, 255, 255, 0);
  top: 504px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 65px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .a91 {
  background-color: rgba(255, 255, 255, 0);
  top: 554px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 67px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .d92 {
  background-color: rgba(255, 255, 255, 0);
  top: 600px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .remboursementsousformedecapitalenexcutionduncontratdeprvoyancevieillesserestitutiondelpargnelayantdroitencasdedcsdelpargnantainsiqueremboursementanticipducapitalpargnpourdesraisonsdinvaliditoudemaladie93 {
  background-color: rgba(255, 255, 255, 0);
  top: 604px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .e94 {
  background-color: rgba(255, 255, 255, 0);
  top: 722px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .autreremboursementrsultantduncontratdeprvoyancevieillessenonvissousdarticle99no5lir95 {
  background-color: rgba(255, 255, 255, 0);
  top: 724px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .revenureporterrevenureporterlapage20cases2029203296 {
  background-color: rgba(255, 255, 255, 0);
  top: 792px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .revenureporterrevenureporterlapage20cases2029203296 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.a11 .revenureporterrevenureporterlapage20cases2029203296 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.a11 .acquisitionsetcessionsdebiensimmobiliers97 {
  background-color: rgba(255, 255, 255, 0);
  top: 906px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a11 .d298 {
  background-color: rgba(255, 255, 255, 0);
  top: 906px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1051px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a11 .datedelactenotari99 {
  background-color: rgba(255, 255, 255, 0);
  top: 942px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 81px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .acquisition100 {
  background-color: rgba(255, 255, 255, 0);
  top: 982px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 58px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .cession101 {
  background-color: rgba(255, 255, 255, 0);
  top: 982px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 187px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a11 .naturedubienimmobilier102 {
  background-color: rgba(255, 255, 255, 0);
  top: 974px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 301px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a11 .situationdubienimmobilier103 {
  background-color: rgba(255, 255, 255, 0);
  top: 974px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 449px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a11 .superficie104 {
  background-color: rgba(255, 255, 255, 0);
  top: 982px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 611px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a11 .nometadressecomplteducdantoudelacqureur105 {
  background-color: rgba(255, 255, 255, 0);
  top: 966px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 722px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a11 .prixdacquisitionfraisdactecomprisouprixdecession106 {
  background-color: rgba(255, 255, 255, 0);
  top: 966px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 925px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a11 .encasdecessiondebiensimmobilierslemodle700estremplir107 {
  background-color: rgba(255, 255, 255, 0);
  top: 1306px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
  animation-delay: 0;
}
@keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}

.anima-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}/*# sourceMappingURL=page11.css.map */