.a13 {
  width: 100%;
  min-width: 1061px;
  height: 100vh;
  min-height: 917px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a13 .a13390 {
  background-color: rgb(223, 226, 229);
  top: 875px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13381 {
  background-color: rgb(223, 226, 229);
  top: 875px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13372 {
  background-color: rgb(223, 226, 229);
  top: 875px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13363 {
  background-color: rgb(223, 226, 229);
  top: 875px;
  height: 42px;
  width: 241px;
  position: absolute;
  margin: 0;
  left: 338px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13354 {
  background-color: rgb(223, 226, 229);
  top: 875px;
  height: 42px;
  width: 304px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13345 {
  background-color: rgb(223, 226, 229);
  top: 833px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13336 {
  background-color: rgb(223, 226, 229);
  top: 833px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13327 {
  background-color: rgb(223, 226, 229);
  top: 833px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13318 {
  background-color: rgb(223, 226, 229);
  top: 833px;
  height: 42px;
  width: 241px;
  position: absolute;
  margin: 0;
  left: 338px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a13309 {
  background-color: rgb(223, 226, 229);
  top: 833px;
  height: 42px;
  width: 304px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132910 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132811 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132712 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132613 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 241px;
  position: absolute;
  margin: 0;
  left: 338px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132514 {
  background-color: rgb(223, 226, 229);
  top: 791px;
  height: 42px;
  width: 304px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132415 {
  background-color: rgb(223, 226, 229);
  top: 749px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132316 {
  background-color: rgb(223, 226, 229);
  top: 749px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132217 {
  background-color: rgb(223, 226, 229);
  top: 749px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132118 {
  background-color: rgb(223, 226, 229);
  top: 749px;
  height: 42px;
  width: 241px;
  position: absolute;
  margin: 0;
  left: 338px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a132019 {
  background-color: rgb(223, 226, 229);
  top: 749px;
  height: 42px;
  width: 304px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131920 {
  background-color: rgb(223, 226, 229);
  top: 707px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131821 {
  background-color: rgb(223, 226, 229);
  top: 707px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131722 {
  background-color: rgb(223, 226, 229);
  top: 707px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131623 {
  background-color: rgb(223, 226, 229);
  top: 707px;
  height: 42px;
  width: 241px;
  position: absolute;
  margin: 0;
  left: 338px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131524 {
  background-color: rgb(223, 226, 229);
  top: 707px;
  height: 42px;
  width: 304px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131425 {
  background-color: rgb(223, 226, 229);
  top: 665px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131326 {
  background-color: rgb(223, 226, 229);
  top: 665px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131227 {
  background-color: rgb(223, 226, 229);
  top: 665px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 579px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131128 {
  background-color: rgb(223, 226, 229);
  top: 665px;
  height: 42px;
  width: 242px;
  position: absolute;
  margin: 0;
  left: 337px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a131029 {
  background-color: rgb(223, 226, 229);
  top: 665px;
  height: 42px;
  width: 303px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a1308130930 {
  background-color: rgb(223, 226, 229);
  top: 548px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 795px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130931 {
  background-color: rgb(223, 226, 229);
  top: 507px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130832 {
  background-color: rgb(223, 226, 229);
  top: 507px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130733 {
  background-color: rgb(223, 226, 229);
  top: 556px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 105px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a1305130634 {
  background-color: rgb(223, 226, 229);
  top: 440px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 795px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130635 {
  background-color: rgb(223, 226, 229);
  top: 399px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130536 {
  background-color: rgb(223, 226, 229);
  top: 399px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a1303130437 {
  background-color: rgb(223, 226, 229);
  top: 332px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 795px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130438 {
  background-color: rgb(223, 226, 229);
  top: 291px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130339 {
  background-color: rgb(223, 226, 229);
  top: 291px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a1301130240 {
  background-color: rgb(223, 226, 229);
  top: 224px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 795px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130241 {
  background-color: rgb(223, 226, 229);
  top: 183px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 911px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .a130142 {
  background-color: rgb(223, 226, 229);
  top: 183px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 751px;
  transform: rotate(0deg);
  opacity: 1;
}

.a13 .chargesetarrragesverssen201943 {
  background-color: rgba(255, 255, 255, 0);
  top: 644px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 773px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .dduitlacase44 {
  background-color: rgba(255, 255, 255, 0);
  top: 644px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 596px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .naturedelarente45 {
  background-color: rgba(255, 255, 255, 0);
  top: 644px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 392px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .nometadressecompltedubnficiaire46 {
  background-color: rgba(255, 255, 255, 0);
  top: 644px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 40px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .dtailsconcernantlesarrragesderentesetdechargespermanentesversscases1301130947 {
  background-color: rgba(255, 255, 255, 0);
  top: 622px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .unedemandeconjointedudbiteuretdubnficiairedelarenteestjointelaprsentedclaration48 {
  background-color: rgba(255, 255, 255, 0);
  top: 558px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 141px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .fixspardcisionjudiciairedanslecadredundivorceprononcavantle11199849 {
  background-color: rgba(255, 255, 255, 0);
  top: 520px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 126px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .a50 {
  background-color: rgba(255, 255, 255, 0);
  top: 520px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 105px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .fixspardcisionjudiciairedanslecadredundivorceprononcaprsle3112199751 {
  background-color: rgba(255, 255, 255, 0);
  top: 404px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 126px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .a52 {
  background-color: rgba(255, 255, 255, 0);
  top: 404px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 105px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .loccasiondundivorceparconsentementmutuel53 {
  background-color: rgba(255, 255, 255, 0);
  top: 304px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 126px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .a54 {
  background-color: rgba(255, 255, 255, 0);
  top: 304px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 105px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .paysauconjointdivorcmaximum24000parconjointdivorc55 {
  background-color: rgba(255, 255, 255, 0);
  top: 274px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 105px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .a256 {
  background-color: rgba(255, 255, 255, 0);
  top: 274px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .dusenvertuduneobligationparticulire57 {
  background-color: rgba(255, 255, 255, 0);
  top: 196px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 105px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .a158 {
  background-color: rgba(255, 255, 255, 0);
  top: 196px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .contribuableconjointpartenaire59 {
  background-color: rgba(255, 255, 255, 0);
  top: 146px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 919px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a13 .contribuable60 {
  background-color: rgba(255, 255, 255, 0);
  top: 154px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 780px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a13 .arrragesderentesetdechargespermanentes61 {
  background-color: rgba(255, 255, 255, 0);
  top: 150px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a13 .a62 {
  background-color: rgba(255, 255, 255, 0);
  top: 150px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a13 .nesontdclarerquelesdpensesquinesontconsidrernicommedpensesdexploitationnicommefraisdobtentionetquinesontpasenrapportconomiqueavecdesrevenusexempts63 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a13 .dpensesspcialesdductiblescouvertesparleminimumforfaitaire64 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a13 .a165 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a13 .ds66 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1020px;
  transform: rotate(0deg);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 28px;
}

/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity: 0;
  display: block;
  animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

.anima-animate-nodelay {
  animation-delay: 0;
}
@keyframes anima-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor: pointer;
}

.anima-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}/*# sourceMappingURL=page13.css.map */