.a15 {
  width: 100%;
  min-width: 1062px;
  height: 100vh;
  min-height: 1291px;
  position: relative;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

div {
  -webkit-text-size-adjust: none;
}

.anima-full-width-a {
  width: 100%;
}

.anima-full-height-a {
  height: 100%;
}

div {
  -webkit-text-size-adjust: none;
}

.a15 .a15520 {
  background-color: rgb(223, 226, 229);
  top: 1235px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  transform: rotate(0deg);
  opacity: 1;
}

.a15 .a15511 {
  background-color: rgb(223, 226, 229);
  top: 1165px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  transform: rotate(0deg);
  opacity: 1;
}

.a15 .a15502 {
  background-color: rgb(223, 226, 229);
  top: 1057px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(-0.0000000286deg);
  opacity: 1;
}

.a15 .a15493 {
  background-color: rgb(223, 226, 229);
  top: 1057px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(-0.0000000286deg);
  opacity: 1;
}

.a15 .a15484 {
  background-color: rgb(223, 226, 229);
  top: 991px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a15475 {
  background-color: rgb(223, 226, 229);
  top: 991px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a15466 {
  background-color: rgb(223, 226, 229);
  top: 935px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a15457 {
  background-color: rgb(223, 226, 229);
  top: 935px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a15448 {
  background-color: rgb(223, 226, 229);
  top: 935px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 528px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a15439 {
  background-color: rgb(223, 226, 229);
  top: 935px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 328px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a154210 {
  background-color: rgb(223, 226, 229);
  top: 935px;
  height: 42px;
  width: 294px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a154111 {
  background-color: rgb(223, 226, 229);
  top: 893px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a154012 {
  background-color: rgb(223, 226, 229);
  top: 893px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153913 {
  background-color: rgb(223, 226, 229);
  top: 893px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 528px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153814 {
  background-color: rgb(223, 226, 229);
  top: 893px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 328px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153715 {
  background-color: rgb(223, 226, 229);
  top: 893px;
  height: 42px;
  width: 294px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153616 {
  background-color: rgb(223, 226, 229);
  top: 851px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153517 {
  background-color: rgb(223, 226, 229);
  top: 851px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153418 {
  background-color: rgb(223, 226, 229);
  top: 851px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 528px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153319 {
  background-color: rgb(223, 226, 229);
  top: 851px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 328px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153220 {
  background-color: rgb(223, 226, 229);
  top: 851px;
  height: 42px;
  width: 294px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153121 {
  background-color: rgb(223, 226, 229);
  top: 809px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a153022 {
  background-color: rgb(223, 226, 229);
  top: 809px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a152923 {
  background-color: rgb(223, 226, 229);
  top: 809px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 528px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a152824 {
  background-color: rgb(223, 226, 229);
  top: 809px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 328px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a152725 {
  background-color: rgb(223, 226, 229);
  top: 809px;
  height: 42px;
  width: 294px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a1525152626 {
  background-color: rgb(223, 226, 229);
  top: 620px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  transform: rotate(-0.0000000286deg);
  opacity: 1;
}

.a15 .a152627 {
  background-color: rgb(223, 226, 229);
  top: 578px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(-0.0000000286deg);
  opacity: 1;
}

.a15 .a152528 {
  background-color: rgb(223, 226, 229);
  top: 578px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(-0.0000000286deg);
  opacity: 1;
}

.a15 .a152429 {
  background-color: rgb(223, 226, 229);
  top: 512px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a152330 {
  background-color: rgb(223, 226, 229);
  top: 512px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a152231 {
  background-color: rgb(223, 226, 229);
  top: 456px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a152132 {
  background-color: rgb(223, 226, 229);
  top: 456px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a152033 {
  background-color: rgb(223, 226, 229);
  top: 456px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 528px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151934 {
  background-color: rgb(223, 226, 229);
  top: 456px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 328px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151835 {
  background-color: rgb(223, 226, 229);
  top: 456px;
  height: 42px;
  width: 294px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151736 {
  background-color: rgb(223, 226, 229);
  top: 414px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151637 {
  background-color: rgb(223, 226, 229);
  top: 414px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151538 {
  background-color: rgb(223, 226, 229);
  top: 414px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 528px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151439 {
  background-color: rgb(223, 226, 229);
  top: 414px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 328px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151340 {
  background-color: rgb(223, 226, 229);
  top: 414px;
  height: 42px;
  width: 294px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151241 {
  background-color: rgb(223, 226, 229);
  top: 372px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151142 {
  background-color: rgb(223, 226, 229);
  top: 372px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a151043 {
  background-color: rgb(223, 226, 229);
  top: 372px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 528px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a150944 {
  background-color: rgb(223, 226, 229);
  top: 372px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 328px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a150845 {
  background-color: rgb(223, 226, 229);
  top: 372px;
  height: 42px;
  width: 294px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a150746 {
  background-color: rgb(223, 226, 229);
  top: 330px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a150647 {
  background-color: rgb(223, 226, 229);
  top: 330px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a150548 {
  background-color: rgb(223, 226, 229);
  top: 330px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 528px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a150449 {
  background-color: rgb(223, 226, 229);
  top: 330px;
  height: 42px;
  width: 200px;
  position: absolute;
  margin: 0;
  left: 328px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a150350 {
  background-color: rgb(223, 226, 229);
  top: 330px;
  height: 42px;
  width: 294px;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
}

.a15 .a1501150251 {
  background-color: rgb(223, 226, 229);
  top: 168px;
  height: 42px;
  width: 220px;
  position: absolute;
  margin: 0;
  left: 796px;
  transform: rotate(-0.0000000286deg);
  opacity: 1;
}

.a15 .a150252 {
  background-color: rgb(223, 226, 229);
  top: 126px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 912px;
  transform: rotate(-0.0000000286deg);
  opacity: 1;
}

.a15 .a150153 {
  background-color: rgb(223, 226, 229);
  top: 126px;
  height: 42px;
  width: 148px;
  position: absolute;
  margin: 0;
  left: 752px;
  transform: rotate(-0.0000000286deg);
  opacity: 1;
}

.a15 .silemontantdesdpensesspcialescase1551estinfrieurauminimumforfaitaireceluicisysubstitueleminimumforfaitaireslve480parancemontantestdoubldanslechefdesconjointsetdespartenairesimposablescollectivementetp54 {
  background-color: rgba(255, 255, 255, 0);
  top: 1224px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .contribuableconjointpartenaire55 {
  background-color: rgba(255, 255, 255, 0);
  top: 1128px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 920px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a15 .contribuable56 {
  background-color: rgba(255, 255, 255, 0);
  top: 1136px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 781px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .totaldesdpensesspcialescouvertesparleminimumforfaitairecases1301155057 {
  background-color: rgba(255, 255, 255, 0);
  top: 1172px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 18px;
}

.a15 .totaldesdpensesspcialescouvertesparleminimumforfaitairecases1301155057 .span0 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.a15 .totaldesdpensesspcialescouvertesparleminimumforfaitairecases1301155057 .span1 {
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.a15 .plafondde6721344silgedusouscripteurestde1840ansaccomplisaudbutdelannedimpositionmajorlecaschantpourleconjointpourlepartenaireetpourchaqueenfantayantfaitpartiedumnagelemontantlemoinslevtota58 {
  background-color: rgba(255, 255, 255, 0);
  top: 1046px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .total59 {
  background-color: rgba(255, 255, 255, 0);
  top: 1004px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 691px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .cotisationsversesen201960 {
  background-color: rgba(255, 255, 255, 0);
  top: 780px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 805px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .dbutducontrat61 {
  background-color: rgba(255, 255, 255, 0);
  top: 780px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 569px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .jour62 {
  background-color: rgba(255, 255, 255, 0);
  top: 964px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 427px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .mois63 {
  background-color: rgba(255, 255, 255, 0);
  top: 964px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 394px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .anne64 {
  background-color: rgba(255, 255, 255, 0);
  top: 964px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 345px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .line4865 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 512px;
}

.a15 .line4766 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 497px;
}

.a15 .line4667 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 481px;
}

.a15 .line4568 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 466px;
}

.a15 .line4469 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 451px;
}

.a15 .line4370 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 435px;
}

.a15 .line4271 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 420px;
}

.a15 .line4172 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 404px;
}

.a15 .line4073 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 389px;
}

.a15 .line3974 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 374px;
}

.a15 .line3875 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 358px;
}

.a15 .line3776 {
  background-color: rgba(255, 255, 255, 0);
  top: 939px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 343px;
}

.a15 .jour77 {
  background-color: rgba(255, 255, 255, 0);
  top: 922px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 427px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .mois78 {
  background-color: rgba(255, 255, 255, 0);
  top: 922px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 394px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .anne79 {
  background-color: rgba(255, 255, 255, 0);
  top: 922px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 345px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .line3680 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 512px;
}

.a15 .line3581 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 497px;
}

.a15 .line3482 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 481px;
}

.a15 .line3383 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 466px;
}

.a15 .line3284 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 451px;
}

.a15 .line3185 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 435px;
}

.a15 .line3086 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 420px;
}

.a15 .line2987 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 404px;
}

.a15 .line2888 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 389px;
}

.a15 .line2789 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 374px;
}

.a15 .line2690 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 358px;
}

.a15 .line2591 {
  background-color: rgba(255, 255, 255, 0);
  top: 897px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 343px;
}

.a15 .jour92 {
  background-color: rgba(255, 255, 255, 0);
  top: 880px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 427px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .mois93 {
  background-color: rgba(255, 255, 255, 0);
  top: 880px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 394px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .anne94 {
  background-color: rgba(255, 255, 255, 0);
  top: 880px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 345px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .line2495 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 512px;
}

.a15 .line2396 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 497px;
}

.a15 .line2297 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 481px;
}

.a15 .line2198 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 466px;
}

.a15 .line2099 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 451px;
}

.a15 .line19100 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 435px;
}

.a15 .line18101 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 420px;
}

.a15 .line17102 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 404px;
}

.a15 .line16103 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 389px;
}

.a15 .line15104 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 374px;
}

.a15 .line14105 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 358px;
}

.a15 .line13106 {
  background-color: rgba(255, 255, 255, 0);
  top: 855px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 343px;
}

.a15 .jour107 {
  background-color: rgba(255, 255, 255, 0);
  top: 838px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 427px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .mois108 {
  background-color: rgba(255, 255, 255, 0);
  top: 838px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 394px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .anne109 {
  background-color: rgba(255, 255, 255, 0);
  top: 838px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 345px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 10px;
}

.a15 .line12110 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 512px;
}

.a15 .line11111 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 497px;
}

.a15 .line10112 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 481px;
}

.a15 .line9113 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 466px;
}

.a15 .line8114 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 451px;
}

.a15 .line7115 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 435px;
}

.a15 .line6116 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 420px;
}

.a15 .line5117 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 404px;
}

.a15 .line4118 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 389px;
}

.a15 .line3119 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 374px;
}

.a15 .line2120 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 358px;
}

.a15 .line1121 {
  background-color: rgba(255, 255, 255, 0);
  top: 813px;
  height: 22px;
  width: 1px;
  position: absolute;
  margin: 0;
  left: 343px;
}

.a15 .ndidentificationdusouscripteur122 {
  background-color: rgba(255, 255, 255, 0);
  top: 772px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 355px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a15 .caissedpargnelogement123 {
  background-color: rgba(255, 255, 255, 0);
  top: 780px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 84px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .contribuableconjointpartenaire124 {
  background-color: rgba(255, 255, 255, 0);
  top: 730px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 920px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a15 .contribuable125 {
  background-color: rgba(255, 255, 255, 0);
  top: 738px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 781px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .cotisationsversesdescaissesdpargnelogementagresdansunetatmembredelunioneuropenneenvertuduncontratdpargnelogement126 {
  background-color: rgba(255, 255, 255, 0);
  top: 730px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .epargnelogement127 {
  background-color: rgba(255, 255, 255, 0);
  top: 694px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a15 .e128 {
  background-color: rgba(255, 255, 255, 0);
  top: 694px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a15 .plafondde3200pourlecontribuableet3200pourleconjointpartenaire129 {
  background-color: rgba(255, 255, 255, 0);
  top: 592px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .total130 {
  background-color: rgba(255, 255, 255, 0);
  top: 526px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 691px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .primesversesen2019131 {
  background-color: rgba(255, 255, 255, 0);
  top: 310px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 820px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .finducontrat132 {
  background-color: rgba(255, 255, 255, 0);
  top: 310px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 579px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .dbutducontrat133 {
  background-color: rgba(255, 255, 255, 0);
  top: 310px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 369px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .entreprisedassurancemutuelle134 {
  background-color: rgba(255, 255, 255, 0);
  top: 310px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 63px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .contribuableconjointpartenaire135 {
  background-color: rgba(255, 255, 255, 0);
  top: 270px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 920px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a15 .contribuable136 {
  background-color: rgba(255, 255, 255, 0);
  top: 278px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 781px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .primesversesenvertuduncontratdeprvoyancevieillessevislarticle111bislir137 {
  background-color: rgba(255, 255, 255, 0);
  top: 278px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .prvoyancevieillesse138 {
  background-color: rgba(255, 255, 255, 0);
  top: 242px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a15 .d139 {
  background-color: rgba(255, 255, 255, 0);
  top: 242px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a15 .cotisationspayestitrepersonnelenraisonduneassurancecontinuevolontaireoufacultativeetdunachatdepriodesenmatiredassurancemaladieetdassurancepensionauprsdunrgimedescuritsociale140 {
  background-color: rgba(255, 255, 255, 0);
  top: 128px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .contribuableconjointpartenaire141 {
  background-color: rgba(255, 255, 255, 0);
  top: 86px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 920px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 16px;
}

.a15 .contribuable142 {
  background-color: rgba(255, 255, 255, 0);
  top: 94px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 781px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 16px;
}

.a15 .cotisationspayestitrepersonnel143 {
  background-color: rgba(255, 255, 255, 0);
  top: 90px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 76px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a15 .c144 {
  background-color: rgba(255, 255, 255, 0);
  top: 90px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a15 .dpensesspcialesdductiblescouvertesparleminimumforfaitaire145 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 34px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a15 .a1146 {
  background-color: rgba(255, 255, 255, 0);
  top: 48px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 22px;
}

.a15 .ds147 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1021px;
  transform: rotate(0);
  opacity: 1;
  font-family: "Arial", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 28px;
}/*# sourceMappingURL=page15.css.map */